{{ if ne (dateFormat "2006" .context.Date) "0001" }}
    <div class='it{{- int .cou }} {{ .context.Params.Subsection }} h-auto w-full my-4 lg:mr-4'>
        <a class="boxA text-primary-text transition-all duration-700 ease-in-out justify-center flex flex-col w-full p-4" href="{{ .context.Permalink }}">
            <div class="w-full flex flex-col lg:flex-row pb-1">
                <div class="w-0 lg:w-1/6">&nbsp;</div>
                <h5 class="block w-full lg:w-5/6 font-bold text-base">{{ if isset .context.Params "frontphoto" }}&nbsp;{{ end }}{{- .context.Title |safeHTML -}}</h5>
            </div>
            <div class="w-full flex flex-col lg:flex-row">
                <div class="flex flex-col h-36 pr-3 justify-between w-full lg:w-1/6">
                    <div>
                        {{ if isset .context.Params "institution" }}
                        <div class="block -px-px pt-1.5 pb-3">
                            {{ partial "icons.html" (dict "ico" .context.Params.institution.logo "hei" 0.6 "colo" "--color-primary-text)") -}}
                        </div>
                        {{ end }}
                        <div class="inline-block text-xs text-secondary-text">
                            <span class="text-xs font-bold">{{ i18n .context.Params.Subsection }}</span><br>
                            {{ dateFormat "02 Jan 2006" .context.Date }}
                            {{ if .context.Params.Place }}<br><span class="text-xs italic">{{ .context.Params.Place }}</span>
                            {{ end }}
                        </div>
                    </div>
                    <div>
                        {{ if isset .context.Params "photocredit" }}
                            <div data-target="{{ .context.Params.photocredit.link | absURL }}" title="{{ .context.Params.photocredit.cred }}" class="credphoto text-xs pt-10">
                                &copy;{{ .context.Params.photocredit.cred -}}</div>
                        {{ end }}
                    </div>
                </div>
                <div class="w-full lg:w-5/6 flex flex-col lg:flex-row">
                    {{ if isset .context.Params "frontphoto" }}
                        <div class="w-full lg:w-1/4 py-4 lg:py-0">
                            <div class="blend-plevy h-36"><img src="" data-toset="{{ .context.Params.frontphoto | absURL }}" class="imag imgBox object-cover rounded w-full h-36" alt="{{ .context.Params.title }}" width="500" height="240"/></div>
                        </div>
                        <div class="w-full lg:w-3/4 lg:pl-6">
                        {{ else }}
                        <div class="w-full">
                            {{ end }}
                            <p class="block text-sm overflow-ellipsis overflow-hidden ... text-secondary-text">
                                {{ if isset .context.Params "reference" }}
                                    {{- .context.Params.reference |safeHTML -}}
                                {{ else if isset .context.Params "quote" }}
                                    {{ .context.Params.quote.quoteline |safeHTML}}<br/>
                                    <span class="text text-sm italic">-
                                        {{ .context.Params.quote.quoteauthor }}
                                        ({{ .context.Params.quote.quotedate }})</span>
                                {{ else }}
                                    <span class="text text-sm italic">{{ .context.Params.abstract |safeHTML }}{{ .context.Params.boxtext |safeHTML }}</span>
                                {{ end }}
                            </p>
                            {{ if .context.Params.collaboration }}
                                {{ $inst := .context.Params.institutiontution.logo }}
                                <p class="flex flex-row flex-wrap">
                                    {{ if ne .context.Params.layout "presentation"}}
                                        {{ range sort .context.Params.collaboration }}
                                            {{ if ne $inst .logo }}
                                                <span class="mr-4 mb-2">
                                                    {{ partial "icons.html" (dict "ico" .logo "hei" 0.8 "colo" "var(--color-primary-text)") -}}
                                                </span>
                                            {{ end }}
                                        {{ end }}
                                    {{ else }}
                                        {{ with .context.Params.collaboration}}
                                            {{ range . }}
                                                {{ if ne $inst ( index . 0 ) }}
                                                    <span class="mr-4 mb-2">
                                                        {{ partial "icons.html" (dict "ico" ( index . 0 ) "hei" 1.2 "colo" "var(--color-primary-text)") }}
                                                    </span>
                                                {{ end }}
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                </p>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {{ end }}
