<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
<title>{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}</title>
{{ with .Site.Params.icon }}
<link rel="icon" type="image/png" sizes="32x32" href='{{ (partial "get_icon" (dict "icon" . "size" 32)).Permalink }}'>
<link rel="apple-touch-icon" sizes="180x180" href='{{ (partial "get_icon" (dict "icon" . "size" 180)).Permalink }}'>
{{ end }}

{{ if .Params.nofollow}}
<meta name="robots" content="noindex" />
{{ end }}

{{ if .Params.description }}
<meta name="description" content="{{ .Params.description }}" />
{{ end }}

{{ if isset .Params "tags"}}{{ with .Params.tags }}
<meta property="keywords" content="{{ range . }}{{ . }}, {{ end }}" />
{{ end }}{{ end }}

{{ if isset .Params "citation"}}{{ partial "citation.html" . }}{{ end }}

{{ define "partials/get_icon" }}
{{ $icon := resources.GetMatch .icon }}
{{ $icon_resized := $icon.Fill (printf "%sx%s Center" (string .size) (string .size)) }}
{{ return $icon_resized }}
{{ end }}

{{ $css := .Site.Data.assets.css }}
{{ $js := .Site.Data.assets.js }}

{{ if $css.epierrot.url }}
{{ if $css.epierrot.version }}
<link rel="stylesheet" href="{{ printf $css.epierrot.url $css.epierrot.version }}" media="all">
{{ else }}
<link rel="stylesheet" href="{{ $css.epierrot.url }}" media="all">
{{ end }}
{{ else }}
{{ $epierrot_css := resources.Get "css/epierrot.css" | postCSS (dict "config" "./assets/css/postcss.config.js") }}
{{ $epierrot_css := $epierrot_css | minify }}
<link rel="stylesheet" href="{{ $epierrot_css.Permalink }}" media="screen">
{{ end }}
{{ $print_css := resources.Get "css/print.css" | postCSS (dict "config" "./assets/css/postcss.config.js") }}
{{ $print_css := $print_css | minify }}
<link rel="stylesheet" href="{{ $print_css.Permalink }}" media="print">

{{ if $js.epierrot.url }}
{{ if $js.epierrot.version }}
<script defer src="{{ printf $js.epierrot.url $js.epierrot.version }}"></script>
{{ else }}
<script defer src="{{ $js.epierrot.url }}"></script>
{{ end }}
{{ else }}
{{ $epierrot_js := resources.Get "js/epierrot.js" | minify }}
<script defer src="{{ $epierrot_js.Permalink }}"></script>
{{ end }}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">

{{ partial "opengraph.html" . }}
{{ range .AlternativeOutputFormats -}}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}