<div class="flex flex-row justify-start items-start w-full py-3.5 {{if not .IsHome }}pt-14 lg:pt-3.5{{ end }}">
    {{ if .IsTranslated }}
        <div id="languageMode" class='flex flex-row'>
            <div class="inline text-sm">
                <b>{{ .Language.LanguageName }}</b>
                {{ range .Translations }}
                    |
                    <a href="{{ .Permalink }}" title="{{ i18n .Language.LanguageName }}" rel="noreferrer">{{ .Language.LanguageName }}</a>
                {{ end }}
            </div>
        </div>
   {{ end }}
   <div class="inline ml-10 text-epierrot font-bold italic">- Maintenance is currently in progress... sorry for the trouble.</div>
</div>
