{{if not .IsHome }}<div class="absolute top-2 lg:top-3 left-2 lg:left-3 z-40"><a class="text-primary-text "
    href="{{ .Site.BaseURL | absURL }}">{{ partial "icons.html" (dict "ico" "back" "hei" "1.7") -}}</a></div>{{ end }}
<div class='grid grid-cols-1 lg:grid-cols-3'>
    {{ partial "international.html" . }}
    <div class="case">
        <h1 class="text-3xl font-bold" id="FrontTitle">{{ .Params.title |safeHTML }}</h1>
    </div>
    {{if .Params.updating }}<div class="italic text-red-800">Currently updating</div>{{ end }}
    <div class="navmenu min-h-0 lg:min-h-72 p-0 fixed lg:relative top-0 lg:top-auto z-10 lg:z-auto left-0 lg:left-auto">
        {{ partial "list-menutop.html" . -}}
        <div id="target"
            class="hidden lg:flex flex-row lg:flex-col flex-wrap w-full lg:m-4 py-4 px-0 lg:px-8 lg:p-0 border-b lg:border-0 border-primary-text">
            <nav class="flex-none w-full flex flex-row lg:justify-center">
                <div id="topMenu"
                    class="p-1 m-3 transition-all flex flex-row flex-wrap publiselect menu button-group">
                    {{ if .Params.menu }}
                    <div class="pr-2 pt-1 pb-2">
                    <div onclick="menuFilter('.')"
                        class="filterOption px-3 py-2 rounded inline font-bold hover:text-epierrot transition-all duration-700">
                        {{ i18n "all" }}</div>
                    </div>
                    {{ range .Params.menu }}
                    <div class="pr-2 pt-1 pb-2">
                        <div onclick='menuFilter({{ .filter }})' data-menu='{{ trim .filter "." }}'
                        class="filterOption px-3 py-2 rounded inline font-bold hover:text-epierrot transition-all duration-700">
                        {{ i18n .txt }}</div>
                    </div>
                    {{ end }}
                    <script>
                        window.addEventListener('popstate', function (event) {
                            if (location.href.indexOf("#") != -1) {
                                document.querySelectorAll('.menuActive').forEach((el, i, arr) => {
                                    if (el.classList.remove('menuActive'))
                                        arr.forEach(elArr =>
                                            elArr.classList.toggle('menuActive', el === elArr)
                                        )
                                })
                                var filt = '[data-menu="' + window.location.hash.substring(1) + '"]';
                                console.log(filt);
                                var acti = document.querySelector(filt);
                                acti.classList.add("menuActive");
                            }
                        });
                    </script>
                    {{ end }}
                    <div class="py-0.5">
                        <input class="control-field search-field form-control bg-transparent focus:text-epierrot px-3 py-0.5 rounded w-full font-bold" type="text"
                        name="search" placeholder='{{ i18n "search" }}...' />
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>