{{ if ne .Params.layout "list" }}

{{ if and (.Params.abstract) (ne .Params.layout "publi") }}
<div class="pack-item w-full md:w-1/3 md:max-w-96" data-cat-sort="1"><div class="dynCadre">
    <b class="text-epierrot">{{ partial "slash.html" (dict "txt" (i18n "abstract")) }}</b>
    {{ .Params.abstract |safeHTML }}
</div></div>
{{ end }}
{{ if eq .Params.layout "about" }}{{- if .Params.frontphoto }}
<img src="" data-toset="{{ .Params.frontphoto | absURL }}" class="pack-item dynCadre w-full md:w-1/3 md:max-w-96 imag object-cover"
    alt="{{ .Params.title }}" width="500" height="240" data-cat-sort="1" />
{{ end }}{{ end -}}
{{ if .Params.schedule }}
<div class="pack-item w-full md:w-1/3 md:max-w-96" data-cat-sort="1"><div class="dynCadre">
    <p>{{ .Params.schedule |safeHTML }}</p>
</div></div>
{{ end }}
{{ if .Params.executive}}
<div class="pack-item w-full md:w-1/3 md:max-w-96 italic text-sm" data-cat-sort="1"><div class="dynCadre">
    <p>{{ .Params.executive }}</p>
</div></div>
{{ end }}
{{ if .Params.tablecontent }}
<div class="pack-item w-full md:w-1/3 md:max-w-96 tablecontent" id="toc" data-cat-sort="1"><div class="dynCadre">
    <h2>{{ i18n "tableOfContent"}}</h2>
</div></div>
{{ end }}
{{ if .Params.photogallery }}
{{ partial "photogallery.html" . }}
{{ end }}
{{ if .Params.video}}
{{ partial "video.html" . }}
{{ end }}
{{ if .Params.calendar }}
<div class="pack-item w-full md:w-1/3 md:max-w-96" data-cat-sort="1"><div class="dynCadre">{{ partial "slash.html" (dict "txt" (i18n "calendar")) }}<br />
    {{ range .Params.calendar }}
    <div class="listoutside pb-3">{{ . | safeHTML }}</div>
    {{ end }}
</div></div>
{{ end }}
{{ if .Params.lectures}}
<div class="pack-item w-full md:w-1/3 md:max-w-96" data-cat-sort="1"><div class="dynCadre">
    {{ partial "slash.html" (dict "txt" (i18n "courses")) }}<br />
    {{ $cod := .Params.code }}
    {{ range sort .Params.lectures "order" "asc" }}
    <div class=""><a class="listcourse"
            href="{{if .redirect }}{{ .redirect }}{{ else }}../{{ $cod }}/{{ .link }}{{ end -}}">
            <b>{{ $cod }}/{{ .order }}&nbsp;&middot;&nbsp;</b>
            {{- replace .Title " | " "&middot;" |safeHTML -}}</a></div>
    {{ end }}

</div></div>
{{ end }}
{{ if .Params.redirectlecture}}<div class="lg:w-full max-w-xl flex flex-row justify-start items-start">
    <b class="revers w-32 flex-shrink-0 px-1">{{ i18n "courses" }}</b>
    <div class="ml-2 w-auto lg:w-full py-1">{{ $cod := .Params.code }}{{ $plink := .Params.photocredit.link }}
        {{ range sort .Params.redirectlecture "order" "asc" }}
        <a class="" href="{{ .link }}" target="_blank" rel="noreferrer"><b>{{ $cod }}.{{ .order
                }}&nbsp;&middot;&nbsp;</b>{{- replace .Title " | " "&middot;" |safeHTML -}}</a><br>
        {{ end }}
    </div>
</div>
{{ end }}
{{ if .Params.encapsulation }}
<div class="pack-item w-full md:w-1/3 md:max-w-96" data-cat-sort="1"><div class="dynCadre">
    {{ partial "slash.html" (dict "txt" (i18n "encapsulation")) }}
    {{ range .Params.encapsulation }}
    <a class="linkBox" href="{{ .link }}">
        <div class="titleLink">{{ .title }}</div>
        {{ if .img }}<div class="imgLink"><img src="{{ .img }}" alt="{{ .title }}"></div>{{ end }}
    </a>
    {{ end }}
</div></div>{{ end }}
{{ if .Params.link }}{{ partial "doclink.html" . }}{{ end }}
{{ end }}