{{ $photonb := len .Params.photogallery }}
{{ if eq $photonb 1 }}
<div class="p-0" id="lightgallery"><img loading="lazy" class="imag object-cover w-full h-full cursor-pointer"
        src="{{ .Params.photogallery.image1.img }}"></div>
{{ else }}
<div class="flex flex-row flex-wrap w-full py-8" id="lightgallery">
        {{ range sort .Params.photogallery "order" "asc" }}
        <a class="place-self-center w-1/4 sm:w-1/3 lg:w-1/6 p-0.5" href="{{ .img }}" aria-label="See image"><img class="rounded-sm object-cover h-14" loading="lazy" src="{{ .src }}" alt="{{ .name }}"></a>
        {{ end }}
</div>
{{ end }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/lightgallery.min.js" integrity="sha512-jEJ0OA9fwz5wUn6rVfGhAXiiCSGrjYCwtQRUwI/wRGEuWRZxrnxoeDoNc+Pnhx8qwKVHs2BRQrVR9RE6T4UHBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lightgallery.min.css" integrity="sha512-F2E+YYE1gkt0T5TVajAslgDfTEUQKtlu4ralVq78ViNxhKXQLrgQLLie8u1tVdG2vWnB3ute4hcdbiBtvJQh0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://player.vimeo.com/api/player.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/plugins/video/lg-video.min.js" integrity="sha512-Eo7d/1I/2Yywxw/unjfX06Q+owD82+3ign70yHtNTajId+C3CcHeqb+XP/a+uq/Fhrrkf8MeBcBiZqoMASFiiw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lg-video.min.css" integrity="sha512-89gDQOHnYjji90NPJ7+M5tgA/0E+fjL4KuSFhi6tjH6sZ54yUEogPMmOAgbI599fW1CtCyrsJbch8k/QzuoXzw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/plugins/hash/lg-hash.min.js" integrity="sha512-7c9ZgozFwxmWalyapzhmzAChRvi0p7vhxWdrE3OjvFHnxuw6h6DBSOvtO1XytEj8MQI2Jp0Tm2BJwLUU7zAMvA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/plugins/fullscreen/lg-fullscreen.min.js" integrity="sha512-11B0rPDzvnSOYzAT37QdnYgt0z9Xg+wX5tckB1QKl5Znl8RPvrB5npo38K2jCt+Ad44udCfBiKt9D4jRdkSE1A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lg-fullscreen.min.css" integrity="sha512-JlgW3xkdBcsdFiSfFk5Cfj3sTgo3hA63/lPmZ4SXJegICSLcH43BuwDNlC9fqoUy2h3Tma8Eo48xlZ5XMjM+aQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script type="text/javascript">
        lightGallery(document.getElementById('lightgallery'), {
            licenseKey: "86E42556-05764516-9C2C8B36-B8B2858F",
            plugins: [lgVideo, lgFullscreen, lgHash], //
            speed: 500,
            download: false,
            loop: true,
            mode: "lg-fade",
            nextHtml: ">",
            prevHtml: "<",
            showBarsAfter: 2000,
            showMaximizeIcon: false,
            videojs: true,
            getCaptionFromTitleOrAlt: true,
        videoMaxWidth: "1080px",
        videojs: true,
        vimeoPlayerParams: {
            byline : 0,
            portrait : 0,
            color : 'CCCCCC'
        },
        youTubePlayerParams: {
            modestbranding : 1,
            showinfo : 0,
            controls : 0
        },
        loadYouTubePoster: true
        });
</script>