{{ $photonb := len .Params.photogallery }}{{ if eq $photonb 1 }}
<div class="item case w-96"><img loading="lazy" class="rounded-sm w-full max-w-4xl mx-auto spotlight"
        src="{{ .Params.photogallery.image1.img }}"></div>
{{ else }}
<div class="item case w-auto max-w-3xl">
    <div
        class="flex flex-row flex-wrap spotlight-group w-full">
        {{ range sort .Params.photogallery "order" "asc" }}
        <div class="w-1/4 sm:w-1/6 md:w-1/12 p-0.5 md:p-px"><a class="place-self-center spotlight w-full" href="{{ .img }}" data-title="{{ .name }}"><img class="rounded-sm"
                loading="lazy" src="{{ .src }}"></a></div>
        {{ end }}
    </div>
</div>
{{ end }}