{{ if .colla }}
<div class="w-full flex flex-col items-center frame px-0 py-10">
    {{ with .colla}}
    {{ range . }}
    <a href="{{ index . 2 }}" title="{{ index . 1 }}" rel="noreferrer" target="_blank"
        class="inline-block mb-6 align-bottom pb-1">{{ partial "icons.html" (dict "ico" ( index . 0 ) "hei" ( index . 3 ) "colo" "var(--color-primary-text)") }}</a>
    {{ end }}
    {{ end }}
    <a href="mailto:pierre.levy@lecnam.net" class="text-base text-primary-text font-bold">pierre.levy@lecnam.net</a>
</div>
{{ else }}
<div class="w-full flex flex-col items-center frame px-0 py-10">
    <a href="https://www.cnam.fr" title="Le Cnam" rel="noreferrer" target="_blank"
        class="inline-block mb-6 align-bottom pb-1">{{ partial "icons.html" (dict "ico" "cnam" "hei" 1 "colo" "var(--color-primary-text)") }}</a>
    <a href="mailto:pierre.levy@lecnam.net" class="text-base text-primary-text font-bold">pierre.levy@lecnam.net</a>
</div>
{{ end }}