<h1 class = "text-4xl font-bold" > {{ .Params.title |safeHTML }} </h1>
{{ if .Params.description }}
<div class="h-auto my-10">{{ .Params.description |safeHTML }}</div >
{{ end }}
{{ if .Params.collaboration }} 
<div class="flex flex-wrap items-center my-10">
    {{ range sort .Params.collaboration }}
    <a href="{{ .web }}" target="_blank" class="collab mr-4 my-8 p-4">{
        {{ if .colo }}
            {{ partial "icons.html" (dict "ico" .logo "hei" .heig "colo" .colo) -}}
        {{else}}
            {{ partial "icons.html" (dict "ico" .logo "hei" .heig "colo" "var(--color-primary-text)") -}}
        {{ end }}
    </a>
    {{ end }}
</div >{{ end }}
