<div class="flex flex-col md:flex-row flex-wrap w-full">{{ range sort .Params.video }}
    {{ if isset . "youtube" }}
    <div class="w-full md:w-1/2 flex-grow md:flex-grow-0 framebox">
        <div class="embed-wrapper"><iframe src="https://www.youtube-nocookie.com/embed/{{ .youtube }}" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></div>
    </div>
    <div class="flex flex-col w-full md:w-1/2 frame justify-between">
        {{ if .Title }}
        <div class="order-2 md:order-1 pb-10 md:p-0">{{ if isset . "title" }}<h2 class="pt-4 leading-8">
                {{ .Title }}</h2>{{ end }}
            {{ if isset . "speaker" }}<div class="italic -mt-1 mb-5">{{ i18n "with" }}{{ .speaker }}</div>
            {{ end }}</div>
        {{ end }}
        <div class="md:px-0 pb-10 md:py-0 text-xs order-1 md:order-2 italic">By playing this movie, you accept
            the <a href="https://policies.google.com/" target="_blank" rel="noreferrer" class="text-xs">Policies & Terms
                of Google</a>.</div>
    </div>
    {{ end }}
    {{if isset . "vimeo" }}
    <div class="w-full md:w-1/2 flex-grow md:flex-grow-0 framebox">
        <div class="embed-wrapper"><iframe src="https://player.vimeo.com/video/{{ .vimeo }}"
                width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
    </div>
    <div class="flex flex-col w-full md:w-1/2 frame justify-between">
        {{ if .Title }}
        <div class="order-2 md:order-1 pb-10 md:p-0">{{ if isset . "title" }}<h2 class="pt-4 leading-8">
                {{ .Title }}</h2>{{ end }}
            {{ if isset . "speaker" }}<div class="italic -mt-1 mb-5">{{ i18n "with" }}{{ .speaker }}</div>
            {{ end }}</div>
        {{ end }}
        <div class="md:px-0 pb-10 md:py-0 text-xs order-1 md:order-2 italic">By playing this movie, you accept
            the <a href="https://vimeo.com/terms" target="_blank" rel="noreferrer" class="text-xs">Terms of
                Vimeo</a>.
        </div>
    </div>
    {{ end }}
    {{ end }}
</div>