{{ range sort .Params.video }}<div class="pack-item w-full md:w-1/3 md:max-w-96 flex flex-col">
    <div class="dynCadre p-0">
        {{ if isset . "youtube" }}
        <div class="videoFrame w-full">
            <div class="embed-wrapper"><iframe src="https://www.youtube-nocookie.com/embed/{{ .youtube | safeURL }}"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe></div>
            <div class="py-0 px-1 text-xs italic">By playing this movie, you accept
                the <a href="https://policies.google.com/" target="_blank" rel="noreferrer"
                    aria-label="Policies and terms of Google" class="text-xs">Policies & Terms
                    of Google</a>.</div>
        </div>
        <div class="w-full flex-grow flex-shrink flex flex-col justify-end self-end max-w-xl p-1">
            {{ if .Title }}
            <div class="">{{ if isset . "title" }}<h2 class="pt-4 pb-0">
                    {{ .Title }}</h2>{{ end }}
                {{ if isset . "speaker" }}<div class="italic -mt-2 mb-5">{{ i18n "with" }}{{ .speaker }}</div>
                {{ end }}
                <div class="videoLink order-3">https://www.youtube.com/watch?v={{ .youtube | safeURL }}</div>
            </div>
            {{ end }}

        </div>
        {{ end }}
        {{if isset . "vimeo" }}
        <div class="videoFrame w-full">
            <div class="embed-wrapper"><iframe src="https://player.vimeo.com/video/{{ .vimeo }}" width="640"
                    height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
            <div class="py-0 px-1 text-xs italic">By playing this movie, you accept
                the <a href="https://vimeo.com/terms" target="_blank" rel="noreferrer"
                    aria-label="Policies and terms of Vimeo" class="text-xs">Terms of
                    Vimeo</a>.</div>
        </div>
        <div class="w-full flex-grow flex-shrink flex flex-col justify-end self-end max-w-xl p-1">
            {{ if .Title }}
            <div class="">{{ if isset . "title" }}<h2 class="pt-4 pb-0">
                    {{ .Title }}</h2>{{ end }}
                {{ if isset . "speaker" }}<div class="italic -mt-2 mb-5">{{ i18n "with" }}{{ .speaker }}</div>
                {{ end }}<div class="videoLink order-3">https://vimeo.com/{{ .vimeo }}</div>
            </div>
            {{ end }}

        </div>
        {{ end }}
        {{if isset . "other" }}
        <div class="videoFrame w-full">
            <div class="embed-wrapper"><iframe src="{{ .other }}" width="640" height="360" frameborder="0"
                    allow="autoplay; fullscreen" allowfullscreen></iframe></div>
        </div>
        <div class="w-full flex-grow flex-shrink flex flex-col justify-end self-end max-w-xl p-1 px-5">
            {{ if .Title }}
            <div class="">{{ if isset . "title" }}<h2 class="pt-0 leading-8">
                    {{ .Title }}</h2>{{ end }}
                {{ if isset . "speaker" }}<div class="italic -mt-1 mb-5">{{ i18n "with" }}{{ .speaker }}</div>
                {{ end }}<div class="videoLink order-3">{{ .other }}</div>
            </div>
            {{ end }}

        </div>
        {{ end }}
    </div>
</div>{{ end }}