{{- with $.Params.frontphoto -}}
<meta name="x:card" content="summary_large_image"/>
<meta name="x:image" content="{{ index . | absURL }}"/>
{{ else -}}
{{- $images := $.Resources.ByType "image" -}}
{{- $featured := $images.GetMatch "*feature*" -}}
{{- if not $featured }}{{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}{{ end -}}
{{- with $featured -}}
<meta name="x:card" content="summary_large_image"/>
<meta name="x:image" content="{{ $featured.Permalink }}"/>
{{- else -}}
{{- with $.Site.Params.images -}}
<meta name="x:card" content="summary_large_image"/>
<meta name="x:image" content="{{ index . 0 | absURL }}"/>
{{ else -}}
<meta name="x:card" content="summary"/>
{{- end -}}
{{- end -}}
{{- end }}
<meta name="x:title" content="{{ .Title }}"/>
<meta name="x:description" content="{{ with $.Params.description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>
{{ with .Site.Params.x -}}
<meta name="x:site" content="@{{ . }}"/>
{{ end -}}