{{ define "main" }}
{{ if .Content}}<div id="content" class="pack-item w-full" data-cat-sort="101">
    <div class="dynCadre">{{ .Content }}</div>
</div>{{ end }}
{{ with index .Site.Data.plevy .Site.Language.Lang }}
<div class="pack-item w-full md:max-w-96"><div class="dynCadre flex flex-row">
    {{ range sort .identity.social "order" }}<a href="{{ .url }}" target="_blank" class="smalllink" rel="noreferrer"
        aria-label="{{ .icon }}" title="{{ .icon }}">{{- partial "icons.html" (dict "ico" .icon
        "hei" 0.8) -}}</a>{{ end }}</div></div>
{{ end }}
{{ end }}