<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
{{- partial "head.html" . -}}

<body id="cv" class="overflow-x-hidden lg:overflow-x-auto">
   <main class="md:container lg:mx-auto bg-primary-bg lg:my-16 py-6 px-2 lg:p-14">
      {{ with index .Site.Data.plevy .Site.Language.Lang }}
      <h1 class="pt-6">{{ .identity.title }} {{ .identity.firstname }} {{ .identity.lastname }}, HDR</h1>
      <div class="flex flex-row flex-wrap mb-6">
         <div class="w-1/6 pr-6"><b>{{ i18n "name" }}</b></div>
         <div class="w-5/6 pl-6">{{ .identity.lastname }}</div>
         <div class="w-1/6 pr-6"><b>{{ i18n "firstnames" }}</b></div>
         <div class="w-5/6 pl-6">{{ .identity.firstname }} {{ .identity.middlename }}</div>
         <div class="w-full">&nbsp;</div>
         <div class="w-1/6 pr-6"><b>{{ i18n "email" }}</b></div>
         <div class="w-5/6 pl-6"><a href="mailto:{{- .identity.proemail -}}" target="_blank" rel="noreferrer">{{
               .identity.proemail }}</a></div>
         <div class="w-1/6 pr-6"><b>{{ i18n "web" }}</b></div>
         <div class="w-5/6 pl-6"><a href="{{ .identity.web.url }}" target="_blank" rel="noreferrer">{{
               .identity.web.username }}</a></div>
         <div class="w-1/6 pr-6"><b>{{ i18n "linkedin" }}</b></div>
         <div class="w-5/6 pl-6"><a href="{{ .identity.social.linkedin.url }}" target="_blank" rel="noreferrer">{{
               .identity.social.linkedin.username }}</a></div>
      </div>
      <div class="flex flex-col mt-0">
         <h2 class="mt-10">{{ i18n "current-situation" }}</h2>
         <div class="flex flex-col">{{ range sort .pro "order" "desc" }}{{ if eq .end "none" }}
            <div class="flex flex-row mb-6">
               <div class="w-1/6 pr-6">{{ i18n "Since" }} {{ .start }}</div>
               <div class="w-5/6 pl-6">
                  <div class="border-l-4 border-epierrot pl-3"><b>{{ .title }}</b>
                     {{ if isset . "institution" }} - {{ .institution |safeHTML }}{{ if isset . "country" }},
                     {{ .country |safeHTML }}{{end }}{{ end }}
                     {{ if isset . "faculty" }}{{ .faculty |safeHTML }}{{end }}
                     {{ if isset . "extra" }}<br />{{ .extra |safeHTML }}{{end }}
                     {{ if isset . "description" }}<br />{{ .description |safeHTML }}{{ end }}
                     {{ if isset . "associations" }}
                     {{ range sort .associations "order" "asc" }}
                     <div class="">{{ .title |safeHTML }}
                        ({{ if eq .end "none" }}{{ i18n "since" }}
                        {{ .start }}{{ else }}{{ .start }} - {{ .end }}{{ end }})</div>
                     {{ end }}{{ end }}
                  </div>
                  {{ if isset . "activities" }}
                  <div class="pt-4 leading-6 text-sm">
                     {{ range sort .activities "order" "asc" }}
                     <b class="vert text-sm leading-6">{{ .title |safeHTML }}</b> ({{ if eq .end "none" }}{{ i18n
                     "since" }}
                     {{ .start }}{{ else }}{{ .start }} -
                     {{ .end }}{{ end }}){{ if isset . "comment" }} - <span class="text-sm italic">{{ .comment |safeHTML
                        }}</span>{{ end }}
                     {{ end }}
                  </div>
                  {{ end }}
                  {{ if isset . "projects" }}
                  <div class="pt-4 leading-6 text-sm">
                     {{ range sort .projects "order" "asc" }}
                     <b class="vert text-sm leading-6">{{ .title |safeHTML }}</b> ({{ if eq .end "none" }}{{ i18n
                     "since" }}
                     {{ .start }}{{ else }}{{ .start }} -
                     {{ .end }}{{ end }}){{ if isset . "comment" }} - <span class="text-sm italic">{{ .comment |safeHTML
                        }}</span>{{ end }}
                     {{ end }}
                  </div>
                  {{ end }}
               </div>
            </div>
            {{ end }}{{ end }}
         </div>
      </div>
      <div class="flex flex-col mt-0">
         <h2 class="">{{ i18n "pastPro" }}</h2>
         <div class="flex flex-col">{{ range sort .pro "start" "desc" }}{{ if ne .end "none" }}
            <div class="flex flex-row mb-6">
               <div class="w-1/6 pr-6">{{ if eq .start .end }}{{- .start -}}{{ else }}{{- .start }} - {{ .end -}}{{ end
                  }}</div>
               <div class="w-5/6 pl-6">
                  <div class="border-l-4 border-epierrot pl-3"><b>{{ .title }}</b>
                     {{ if isset . "institution" }} - {{ .institution |safeHTML }}{{ if isset . "country" }},
                     {{ .country |safeHTML }}{{end }}{{ end }}
                     {{ if isset . "comment" }}<br />{{ .comment |safeHTML }}{{ end }}
                  </div>
                  {{ if isset . "associations" }}<div class="mb-4">
                     {{ range sort .associations "start" "asc" }}
                     <div class="border-l-4 border-epierrot m-0 pl-3">{{ .title |safeHTML }}
                        ({{ if eq .end "none" }}{{ i18n "since" }}
                        {{ .start }}{{ else }}{{ .start }} -
                        {{ .end }}{{ end }})</div>{{ if isset . "comment" }} <span class="text-sm italic">{{ .comment
                        |safeHTML }}</span>{{ end }}
                     {{ end }}
                  </div>{{ end }}
                  {{ if isset . "activities" }}
                  <div class="pt-4 leading-6 text-sm">
                     {{ range sort .activities "start" "asc" }}
                     <b class="vert text-sm">{{ .title |safeHTML }}</b> ({{ if eq .end "none" }}{{ i18n "Since" }}
                     {{ .start }}{{ else }}{{ .start }}-{{ .end }}{{ end }}) {{ if isset . "comment" }} - <span
                        class="text-sm italic">{{ .comment |safeHTML }}</span>{{ end }}
                     {{ end }}
                  </div>
                  {{ end }}
               </div>
            </div>
            {{ end }}{{ end }}
         </div>
      </div>
      <div class="flex flex-col mt-0">
         <h2 class="">{{ i18n "ParralPro" }}</h2>
         <div class="flex flex-col">{{ range sort .proParallel "start" "desc" }}{{ if ne .end "none" }}
            <div class="flex flex-row mb-6">
               <div class="w-1/6 pr-6">{{ if eq .start .end }}{{- .start -}}{{ else }}{{- .start }} - {{ .end -}}{{ end
                  }}</div>
               <div class="w-5/6 pl-6">
                  <div class="border-l-4 border-epierrot pl-3"><b>{{ .title }}</b>
                     {{ if isset . "institution" }} - {{ .institution |safeHTML }}{{ if isset . "country" }},
                     {{ .country |safeHTML }}{{end }}{{ end }}
                     {{ if isset . "comment" }}<br />{{ .comment |safeHTML }}{{ end }}
                  </div>
                  {{ if isset . "associations" }}<div class="mb-4">
                     {{ range sort .associations "start" "desc" }}
                     <div class="border-l-4 border-epierrot m-0 pl-3">{{ .title |safeHTML }}
                        ({{ if eq .end "none" }}{{ i18n "since" }}
                        {{ .start }}{{ else }}{{ .start }} -
                        {{ .end }}{{ end }})</div>{{ if isset . "comment" }} <span class="text-sm italic">{{ .comment
                        |safeHTML }}</span>{{ end }}
                     {{ end }}
                  </div>{{ end }}
                  {{ if isset . "activities" }}
                  <div class="pt-4 leading-6 text-sm">
                     {{ range sort .activities "start" "desc" }}
                     <b class="vert text-sm">{{ .title |safeHTML }}</b> ({{ if eq .end "none" }}{{ i18n "Since" }}
                     {{ .start }}{{ else }}{{ .start }}-{{ .end }}{{ end }}) {{ if isset . "comment" }} - <span
                        class="text-sm italic">{{ .comment |safeHTML }}</span>{{ end }}
                     {{ end }}
                  </div>
                  {{ end }}
               </div>
            </div>
            {{ end }}{{ end }}
         </div>
      </div>
      <div class="flex flex-col mt-0">
         <h2 class="">{{ i18n "education" }}</h2>
         <div class="flex flex-row flex-wrap">
            {{ range sort .studies "date" "desc" }}{{ if .main }}
            <div class="w-1/6 pr-6">{{ .date }}</div>
            <div class="w-5/6 pl-6"><b>{{ .title |safeHTML }}</b>{{ if isset . "place" }} -
               {{ .place |safeHTML }} {{ end }}{{ if isset . "comment" }}<br /><span class="comment">{{ .comment
                  |safeHTML }}</span>{{ end }}</div>
            {{ end }}{{ end }}
         </div>
      </div>
      <div class="flex flex-col mt-0">
         <h2>{{ i18n "other" }}</h2>
         <div class="flex flex-row flex-wrap">
            <div class="w-1/6 pr-6"></div>
            <div class="w-5/6 pl-6 flex flex-col justify-between md:flex-row flex-wrap">
               <div class="border-l-4 border-epierrot pl-3">
                  {{ $list := (where site.Pages "Section" "publications") }}
                  {{ $len := (len $list) }}
                  {{ i18n "publications" }} & {{ i18n "editions" }}&nbsp;&nbsp;<b>{{ $len }}</b><br />
                  {{ .projects.description |safeHTML }}&nbsp;&nbsp;<b>{{ len .projects.list }} ({{
                     .projects.totalfinance }})</b><br />
                  {{ .awards.description |safeHTML }}&nbsp;&nbsp;<b>{{ len .awards.list }}</b><br />
                  {{ .directiontheses.description |safeHTML }}&nbsp;&nbsp;<b>{{ len .directiontheses.list }}</b><br />
                  {{ .directionHDR.description |safeHTML }}&nbsp;&nbsp;<b>{{ len .directionHDR.list }}
                  </b><br />
                  {{ .jurysdoctoraux.description |safeHTML }}&nbsp;&nbsp;<b>{{ len .jurysdoctoraux.list }}</b><br />
                  <br />
                  {{range sort .identity.registration "ord" "asc"}}
                  {{ .name }}&nbsp;&nbsp;<a href="{{ .url -}}{{- .code }}" target="_blank" rel="noreferrer">{{ .code
                     }}</a><br />
                  {{ end }}
               </div>
               {{ end }}
               <div class="flex flex-col flex-wrap">
                  {{ $qr1 := .Permalink }}
                  <div class="flex flex-row flex-wrap justify-start items-end md:px-6 pt-6 md:pt-0 mt-10 md:mt-0">
                     <div class="flex-shrink-0 flex-grow-0 h-24 md:h-32 w-24 md:w-32">
                        <a id="qrcode1" href="{{- $qr1 -}}" rel="noreferrer"
                           class="block h-24 md:h-32 w-24 md:w-32 md:mb-8 md:p-2 bg-white rounded-lg"></a>
                     </div>
                     <div class="pl-4 comment pb-2">
                        <a href="{{- $qr1 -}}" rel="noreferrer">&nbsp;<b>{{- i18n "Updates" }}</b>&nbsp;<br>&nbsp;{{
                           .Permalink }}&nbsp;</a>
                     </div>
                     <script defer="defer">
                        window.addEventListener('load', function (event) {
                           const qrcode1 = new QRCode(document.getElementById('qrcode1'), {
                              text: {{ $qr1 }},
                           width: 500,
                           height: 500,
                           colorDark: '#000',
                           colorLight: '#fff',
                           correctLevel: QRCode.CorrectLevel.H
                        });
                    });
                     </script>
                  </div>
                  <div class="flex flex-row flex-wrap justify-start items-end md:px-6 py-6">
                     {{ with $.Site.GetPage "cvcomplete" }}
                     {{ $qr2 := .Permalink }}
                     <div class="flex-shrink-0 flex-grow-0 h-24 md:h-32 w-24 md:w-32">
                        <a id="qrcode2" href="{{- $qr2 -}}" rel="noreferrer"
                           class="block h-24 md:h-32 w-24 md:w-32 md:p-2 bg-white rounded-lg"></a>
                     </div>
                     <div class="pl-4 comment pb-2">
                        <script>console.log('qr2', {{ print $qr2 }});</script>
                        <a href='{{- $qr2 -}}' rel="noreferrer">&nbsp;<b>{{- i18n "CvComplete" }}</b>&nbsp;<br>&nbsp;{{-
                           $qr2 -}}&nbsp;</a>
                     </div>
                     <script defer="defer">
                        window.addEventListener('load', function (event) {
                           const qrcode2 = new QRCode(document.getElementById('qrcode2'), {
                              text: {{ $qr2 }},
                           width: 500,
                           height: 500,
                           colorDark: '#000',
                           colorLight: '#fff',
                           correctLevel: QRCode.CorrectLevel.H
                            });
                        });
                     </script>
                     {{ end }}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </main>
</body>
{{ $qr_js := resources.Get "js/qrgen.js" | minify }}
<script src="{{ $qr_js.Permalink }}"></script>

</html>