{{ define "main" }}
{{ $langu := .Site.Language.Lang }}
<div class="rightBlock newpad-y newpad-l">
    <div class="rightBlockIn">
        <div id="content" data-cat-sort="100">{{ .Content }}</div>
        <div id="headUp">
            <div class="headUp_blocks">
                {{ if .Params.Parcours }}
                {{ $teach := where .Site.Pages "Section" "in" (slice "courses") }}
                {{ $count := 0 }}
                {{ range .Params.Parcours }}
                {{ $parc := .code }}
                {{ range $teach }}
                {{ if eq .Params.code $parc }}
                {{ $count = add $count 1 }}
                {{- partial "boxUp.html" ( dict "context" . "cou" $count ) -}}
                {{ end }}{{ end }}
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}