{{ define "main" }}

<div id="headUp">
    <div class="headInPage_blocks">
        {{ $page := $.Site.GetPage "page" "chaire.md" }}
        {{ with $page }}{{- partial "boxInPage.html" ( dict "context" . "sort" 100) -}}{{ end }}
        {{ $page := $.Site.GetPage "page" "plevy.md" }}
        {{ with $page }}{{- partial "boxInPage.html" ( dict "context" . "sort" 100) -}}{{ end }}
        {{ range .Site.RegularPages }}
        {{ if eq .Params.fronttop true }}
        {{- partial "boxInPage.html" ( dict "context" . ) -}}
        {{ end }}
        {{ end }}
    </div>
</div>

<div id="splideArchive" class="splide" aria-label="Archives">
    <div class="splide__track">
        <ul class="splide__list">
            {{ range .Sections }}
            <li class="splide__slide">
                <h1 class="splide_title">{{ .Title }}</h1>
                {{ range .Pages }}
                {{ if ne .Params.notListed true }}
                    {{- partial "box.html" ( dict "context" . ) -}}
                {{ end }}
                {{ end }}
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}