{{ define "main" }}{{ $langu := .Site.Language.Lang }}
<div class="mainBlock newpad-y newpad-l">
    <div class="mainBlockIn">
        {{ if .Content }}
        <div class="newpad-b line-b" data-cat-sort="10">{{ .Content }}</div>
        {{ end }}
        <div id="headUp">
            <div class="headInPage_blocks">
                {{ $targ := .Params.milestone }}
                {{ $count := 0 }}
                {{ range where .Site.Pages "Section" "in" (slice "notion" "publications" "projects") }}
                {{ if isset .Params $targ }}{{ if ne .Params.notEverything true }}{{ if ne .Params.notListed true }}
                {{ $count = add $count 1 }}
                {{- partial "boxUp.html" ( dict "context" . "cou" $count) -}}
                {{ end }}{{ end }}{{ end }}
                {{ end }}
            </div>
        </div>
    </div>
    </div>
    {{ end }}