{{ range sort .Params.video }}<div class="flex flex-col lg:flex-row flex-wrap p-0 my-20">
    {{ if isset . "youtube" }}
    <div class="videoFrame w-full lg:w-1/2">
                <div class="embed-wrapper"><iframe src="https://www.youtube-nocookie.com/embed/{{ .youtube }}" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="rounded-sm"></iframe></div>
    </div>
    <div class="w-full lg:w-1/2 flex-grow flex-shrink flex flex-col justify-end self-end max-w-xl p-8">
        {{ if .Title }}
        <div class="">{{ if isset . "title" }}<h2 class="pt-4 leading-8">
                {{ .Title }}</h2>{{ end }}
            {{ if isset . "speaker" }}<div class="italic -mt-1 mb-5">{{ i18n "with" }}{{ .speaker }}</div>
            {{ end }}
            <div class="videoLink order-3">https://www.youtube.com/watch?v={{ .youtube }}</div></div>
        {{ end }}
        <div class="py-1 text-xs italic">By playing this movie, you accept
            the <a href="https://policies.google.com/" target="_blank" rel="noreferrer" class="text-xs">Policies & Terms
                of Google</a>.</div>
    </div>
    {{ end }}
    {{if isset . "vimeo" }}
    <div class="videoFrame w-full lg:w-1/2">
        <div class="embed-wrapper"><iframe src="https://player.vimeo.com/video/{{ .vimeo }}" width="640" height="360"
                frameborder="0" allow="autoplay; fullscreen" allowfullscreen class="rounded-sm"></iframe></div>
    </div>
    <div class="w-full lg:w-1/2 flex flex-col justify-end self-end flex-grow lg:flex-grow-0 max-w-xl p-8">
        {{ if .Title }}
        <div class="pb-10 lg:p-0">{{ if isset . "title" }}<h2 class="pt-4 leading-8">
                {{ .Title }}</h2>{{ end }}
            {{ if isset . "speaker" }}<div class="italic -mt-1 mb-5">{{ i18n "with" }}{{ .speaker }}</div>
            {{ end }}
            <div class="videoLink order-3">https://vimeo.com/{{ .vimeo }}</div>
        </div>
        {{ end }}
        <div class="py-1 text-xs italic">By playing this movie, you accept
            the <a href="https://vimeo.com/terms" target="_blank" rel="noreferrer" class="text-xs">Terms of
                Vimeo</a>.
        </div>
    </div>
    {{ end }}
</div>{{ end }}