{{ define "main" }}
<section id="level1">
    {{ partial "settings.html" . }}
    <div id="sections">
        <h1 class="mainSection section-introduction"><span class="inline-block pr-2 pb-2 text-sm">00 </span>Introduction</h1>
        {{ $i := 1 }}
        {{ range .Sections }}{{ if ne .Slug "pierre-levy" }}
        {{ $j := 1 }}
        {{ $sec := .Slug }}
        <h1 class="mainSection section-{{- $sec -}}"><span class="inline-block pr-2 pb-2 text-sm">
                {{- if eq (( string $i ) | len ) 1 }}0{{end }}
                {{- $i }} </span>{{ .Title }}</h1>
        {{ $j = add $j 1 }}
        {{ $i = add $i 1 }}
        {{ end }}{{ end }}
    </div>
</section>
<section id="site-content">
    {{ $page := $.Site.GetPage "page" "pierre-levy/" }}
    {{ with $page }}{{- partial "box.html" ( dict "context" . "sort" 100 "intro" true "sect" "0" "pag" 1) -}}
    {{ end }}
    {{ $s := 1 }}
    {{ range .Sections }}{{ if ne .Slug "pierre-levy" }}
    {{ $p := 1 }}
    {{ range .Pages }}
    {{ if ne .Params.notListed true }}
    {{- partial "box.html" ( dict "context" . "sect" $s "pag" $p ) -}}
    {{ $p = add $p 1 }}
    {{ end }}
    {{ end }}
    {{ $s = add $s 1 }}
    {{ end }}{{ end }}
</section>
{{ end }}