{{ if .Params.redirect }}
<meta http-equiv="Refresh" content="0; url='{{ .Params.redirect }}'" />{{ end }}
<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
{{- partial "head.html" . -}}

{{ $mainphoto := .Params.frontphoto }}

{{ $titl := .Title }}
{{ $pagNumb := 0 }}

<body id="prez">
    <div class="splide">
        <div class="splide__track">
            <div class="splide__list">
                {{ if .Params.slides }}
                {{ $slid := .Params.slides }}
                <div class="splide__slide">
                    <div class="slideContent">
                        <div class="backg"><img src="{{ $mainphoto }}" class="h-full w-full"></div>
                        <div class="gradcol"></div>
                        <div class="grad"></div>
                        <div>
                            <h1>{{ .Title }}</h1>
                            <p class="m-0 font-bold">Pierre Lévy - <a href="mailto:pierre.levy@lecnam.net"
                                    class="font-normal">pierre.levy@lecnam.net</a></p>
                            <p class="cnamletters"><span>C</span>onservatoire <span>n</span>ational des
                                <span>a</span>rts et <span>m</span>étiers
                            </p>
                            {{ if .Params.collaboration }}
                            <div class="flex flex-row flex-wrap justify-start items-center mt-10">
                                {{ range sort .Params.collaboration }}
                                <a href="{{ .web }}" target="_blank" class="collab mr-4 ">
                                    {{ if .colo }}
                                    {{ partial "icons.html" (dict "ico" .logo "hei" .heig "colo" .colo) -}}
                                    {{else}}
                                    {{ partial "icons.html" (dict "ico" .logo "hei" .heig) -}}
                                    {{ end }}
                                </a>
                                {{ end }}
                            </div>
                            {{ end }}
                            <div id="qrcode" class="p-2 bg-white rounded-lg absolute bottom-10"></div>
                        </div>
                    </div>
                    <div class="slideFooter">
                        <div>{{ $pagNumb }}|<span>{{ $slid | len }}</span> · Pierre
                            Lévy | Cnam · <a href="mailto:pierre.levy@lecnam.net"
                                class="footTxt">pierre.levy@lecnam.net</a>
                            · {{ $titl }}</div>
                        <a href="{{ $.Site.BaseURL }}">{{ partial "icons.html" (dict "ico" "close" "hei" "1.2vh" "colo"
                            "white" "cla" "closeIcon bi bi-x-square") -}}</a>
                    </div>
                </div>
                {{ range $slid }}
                {{ $pagNumb = add $pagNumb 1 }}
                {{ $has := index . 0 }}
                <div class="splide__slide" data-splide-hash="{{ $has }}">
                    <div class="slideContent">
                        <div class="gradcol"></div>
                        <div class="grad"></div>
                        {{ $sli := print "presentations/slides/" $has }}
                        {{ if eq (index . 1) "img" }}
                        <div class="backg"><img src="{{ index . 2 }}" class="h-full w-full"></div>
                        <div class="imgright h-full max-h-screen"><img class="h-full w-full object-contain border-1 rounded-lg" loading="lazy"
                            src="{{ index . 2 }}" title="{{ index . 0 }}"></div>
                        {{ else if eq (index . 1) "youtube" }}
                        <iframe src="https://www.youtube-nocookie.com/embed/{{ (index . 0) | safeURL }}"
                            class="w-full h-full object-contain" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        {{ else if eq (index . 1) "vimeo" }}
                        <iframe src="https://player.vimeo.com/video/{{ index . 2 }}"
                            class="w-full h-full object-contain" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                        {{ else if eq (index . 1) "title" }}
                        <div class="backg"><img src="{{ $mainphoto }}" class="h-full w-full"></div>
                        <div class="w-full h-full flex justify-center items-center">
                            <h1>{{ index . 0 }}</h1>
                        </div>
                        {{ else if eq (index . 1) "slide" }}
                        {{ with $.Site.GetPage $sli }}
                        <div class="backg"><img src="{{ .Params.backphoto }}" class="h-full w-full"></div>
                        {{ if eq .Params.slide "normal"}}
                        <h1>{{ .Title }}</h1>
                        <div style="padding-right:20vw">{{ .Content | safeHTML }}</div>
                        {{ else if eq .Params.slide "image-right"}}
                        <h1>{{ .Title }}</h1>
                        <div class="flex flex-row w-full justify-between">
                            <div class="w-2/3 flex-grow" style="padding-right:10vw">
                                {{ .Content | safeHTML }}
                            </div>
                            {{ range .Params.photos }}
                            <div class="w-1/3 flex-shrink flex flex-col">
                                <div class="imgright">
                                    <img class="object-contain" src="{{ index . 0 }}" title="{{ index . 1 }}">
                                </div>
                                <div class="miniTxt px-3 py-1 self-start">{{ index . 1 }}</div>
                            </div>
                            {{ end }}
                        </div>
                        {{ else if eq .Params.slide "texte_1col"}}
                        <h1>{{ .Title }}</h1>
                        <div class="w-1/2">
                            {{ .Content | safeHTML }}
                        </div>
                        {{ else if eq .Params.slide "texte_2col"}}
                        <h1>{{ .Title }}</h1>
                        <div class="w-3/4 columns-2 gap-32">
                            {{ .Content | safeHTML }}
                        </div>
                        {{ else if eq .Params.slide "image-complete"}}
                        <h1>{{ .Title }}</h1>
                        <div class="flex flex-row w-full justify-between">
                            {{ range .Params.photos }}
                            <div class="w-full flex-shrink flex flex-col">
                                <div class="imgright">
                                    <img class="object-contain" src="{{ index . 0 }}" title="{{ index . 1 }}">
                                </div>
                                <div class="miniTxt px-3 py-1 self-start">{{ index . 1 }}</div>
                            </div>
                            {{ end }}
                        </div>
                        {{ end}}
                        {{ end }}
                        {{ end }}
                    </div>
                    <div class="slideFooter">
                        <div>{{ $pagNumb }}|<span>{{ $slid | len }}</span> · Pierre
                            Lévy | Cnam · <a href="mailto:pierre.levy@lecnam.net"
                                class="footTxt">pierre.levy@lecnam.net</a>
                            · {{ $titl }}</div>
                        <a href="{{ $.Site.BaseURL }}">{{ partial "icons.html" (dict "ico" "close" "hei" "1.2vh" "colo"
                            "white" "cla" "closeIcon bi bi-x-square") -}}</a>
                    </div>
                </div>
                {{ end }}
                <div class="splide__slide">
                    <div class="slideContent">
                        <div class="backg"><img src="{{ $mainphoto }}" class="h-full w-full"></div>
                        <div class="grad">
                        </div>
                        <div>
                            <h1>Merci !</h1>
                            <h1>{{ .Title }}</h1>
                            <p class="m-0 font-bold">Pierre Lévy - <a href="mailto:pierre.levy@lecnam.net"
                                    class="font-normal">pierre.levy@lecnam.net</a></p>
                            <p class="cnamletters"><span>C</span>onservatoire <span>n</span>ational des
                                <span>a</span>rts et <span>m</span>étiers
                            </p>
                        </div>
                    </div>
                    <div class="slideFooter">
                        <div>{{ $pagNumb }}|<span>{{ $slid | len }}</span> · Pierre
                            Lévy | Cnam · <a href="mailto:pierre.levy@lecnam.net"
                                class="footTxt">pierre.levy@lecnam.net</a>
                            · {{ $titl }}</div>
                        <a href="{{ $.Site.BaseURL }}">{{ partial "icons.html" (dict "ico" "close" "hei" "1.2vh" "colo"
                            "white" "cla" "closeIcon bi bi-x-square") -}}</a>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    {{ $splide_js := resources.Get "js/splide.js" | minify }}
    <script src="{{ $splide_js.Permalink }}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{ $splideurl_js := resources.Get "js/splide-url.js" | minify }}
    <script src="{{ $splideurl_js.Permalink }}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{ $splide_css := resources.Get "css/splide.css" | postCSS (dict "config" "./postcss.config.js") }}
    {{ $splide_css := $splide_css | minify }}
    <link rel="stylesheet" href="{{ $splide_css.Permalink }}" media="all">

    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="https://www.youtube.com/player_api"></script>

    {{ $qr_js := resources.Get "js/qrgen.js" | minify }}

    <script src="{{ $qr_js.Permalink }}"></script>
    <script defer="defer">
        //QR Code generator
        const qrcode = new QRCode(document.getElementById('qrcode'), {
            text: {{ .Page.Permalink }},
        width: 500,
            height: 500,
                colorDark: '#000',
                    colorLight: '#fff',
                        correctLevel: QRCode.CorrectLevel.H
        });

        var splide = new Splide('.splide', {
            perPage: 1,
            focus: 0,
            omitEnd: true,
            height: 'calc(100vh - 2*var(--splide-padding))',
            width: 'calc(100wh - 2*var(--splide-padding))',
            gap: 'var(--splide-padding)',
            drag: true,
            snap: true,
            paginationDirection: 'ltr',
            keyboard: 'global',
            wheel: true,
            releaseWheel: true,
            speed: 700,
            autoplay: false
        }).mount(window.splide.Extensions);            
    </script>
    <script>
        //Background color change
        //number of colors, time length in sec, first color
        var numbCol = 10;
        var timeLen = 300;
        var firstCol = Math.floor(Math.random() * 360);
        var gradi = 'linear-gradient(315deg, hsla(' + firstCol + ', 100%, 89%, 0.812) 0%, hsla(';
        for (let ite = 1; ite < numbCol; ite++) {
            gradi += Math.floor(Math.random() * 360) + ', 100%, 89%, 0.812) ' + Math.floor(100 / numbCol * ite) + '%, hsla(';
        }
        gradi += firstCol + ', 100%, 89%, 0.812) 100%)';
        document.querySelectorAll('div.splide .splide__slide .gradcol').forEach((element, index) => {
            var clrChg = Math.floor(Math.random() * 256);
            element.style.setProperty('background', gradi);
            element.style.setProperty('background-size', (timeLen * 100) + '% ' + (timeLen * 100) + '%', 'important');
            element.style.setProperty('animation', 'gradient ' + timeLen + 's ease infinite');
        });
    </script>

</body>

</html>