{{ if .Params.redirect }}<meta http-equiv="Refresh" content="0; url='{{ .Params.redirect }}'" />{{ end }}
<!DOCTYPE html>
<html lang='{{ .Site.Language.Locale }}'>
{{- partial "head.html" . -}}

<body id="{{ .Params.bodyclass }}"{{ if .Params.bgpict}} class="bgImg" style="background-image:url({{- .Site.BaseURL -}}{{- .Params.bgpict -}})"{{ end }}>
  {{ partial "settings.html" . }}
  <main data-pagefind-body>
        {{ partial "_side.html" . }}
        {{- block "main" . }}{{ end -}}
  </main>
  <div class="bordTop">&nbsp;</div>
  <div class="bordBottom">&nbsp;</div>
{{ if false }}
  <div class="bordRight">&nbsp;</div>
  <div class="bordLeft">&nbsp;</div>
{{ end }}
</body>

</html>
