{{ range sort .Params.miro }}
<div class="mb-1 px-4 lg:px-0">By accessing this board, you accept the <a href="https://miro.com/legal/terms-of-service/" target="_blank" rel="noreferrer" aria-label="Get to the terms of Miro">Terms of Miro</a>.</div><div class="embed-wrapper mb-6 px-4 lg:px-0"><iframe class="px-4 lg:px-0" width="768" height="432" src="https://miro.com/app/live-embed/{{ .address }}/?moveToViewport={{ .viewport }}" frameBorder="0" scrolling="no" allowFullScreen></iframe></div>
{{ end }}

