{{ if ne (dateFormat "2006" .context.Date) "0001" }}
{{ $Img := print .context.Params.frontphotomini }}
<div class='menuBox h-full max-w-154 w-full p-2 pb-0 md:p-5 {{ .context.Section  }} {{- if eq .context.Params.Subsection "ended" }} ended{{ end -}}'
    aria-label="{{- .context.Title |safeHTML -}}" data-cat-sort="{{if .sort }}{{ .sort }}{{ else }}1{{ end }}"
    data-date="{{ .context.Date }}" {{if eq .context.Params.front 1 }} data-front="1" {{ else }} data-front="0" {{ end
    }} data-section="{{ .context.Section  }}">{{if .dynC }}<div class="dynCadre">{{ end }}
        <a class="boxIso justify-end max-h-60 max-w-144 flex-row{{ if .context.Section}} {{ .context.Section }}{{ end }}"
            href="{{ .context.Permalink }}">
            <span class="duotone" style="background-image: url('{{ $Img | safeURL }}');" ></span>
            <span class="headUpText">
                <span class="flex flex-col h-full justify-between pt-2">
                    <span class='boxTitle px-2'>{{- .context.Title
                        |safeHTML }}{{if eq .context.Params.subsection "ended"}} ({{- i18n "ended" -}}){{ end
                        }}</span>
                    <span class="headUpDescription">{{ .context.Params.description }}</span>
                    <span class="flex flex-col">
                        <span class="boxElts px-2">{{ if eq .context.Section "publications" }}
                            {{ if .context.Params.shortConf }}{{ .context.Params.shortConf }}{{ end }}
                            {{ if .context.Params.shortBook }}{{ .context.Params.shortBook }}{{ end }}
                            {{ if .context.Params.shortJournal }}{{ .context.Params.shortJournal }}{{ end }}
                            {{ if .context.Params.shortSection }}In {{ .context.Params.shortSection }}{{ end }}
                            {{ if .context.Params.shortMemoire }}{{ .context.Params.shortMemoire }}{{ end }}
                            {{ else if eq .context.Section "events" }}
                            {{ if .context.Params.intervenants }}{{ $len := len .context.Params.intervenants }}
                            {{ $count := 0 }}
                            {{ range .context.Params.intervenants }}
                            {{ .name -}}
                            {{ $count = add $count 1 }}
                            {{- if ne $count $len -}}, {{ end }}
                            {{ end }}<br>{{ end }}
                            @ {{ .context.Params.institution.name }}
                            {{ else if eq .context.Section "presentations" }}
                            {{ i18n "for" }}{{ if .context.Params.collaboration }}
                            {{ $len := len .context.Params.collaboration }}
                            {{ $count := 0 }}
                            {{ $intitut := .context.Params.institution.name }}
                            {{ range .context.Params.collaboration }}
                            {{ if ne .name $intitut }}{{ .name -}}
                            {{ $count = add $count 1 }}
                            {{- if eq $count $len -}}, {{ end }}{{ end }}
                            {{ end }}{{ else }} {{ .context.Params.institution.name }}{{ end }}
                            {{ else if eq .context.Section "teaching" }}
                            {{ .context.Params.institution.name }}
                            {{ else if eq .context.Section "courses" }}
                            {{ if .context.Params.collaboration }}{{ $len := len .context.Params.collaboration }}
                            {{ $count := 0 }}
                            {{ range .context.Params.collaboration }}
                            {{ .name -}}
                            {{ $count = add $count 1 }}
                            {{- if ne $count $len -}}, {{ end }}
                            {{ end }}{{ else }} {{ .context.Params.institution.name }}{{ end }}
                            {{ else if eq .context.Section "projects" }}{{ if .context.Params.institution.name }}@
                            {{
                            .context.Params.institution.name }}{{ end }}{{ end }}
                        </span>
                        <span class="boxInfo px-2">
                            <div>
                                {{ if eq .context.Params.layout "member" }}
                                {{ $parts := .context.Params.shortdescription }}{{ $splitParts := split $parts ","
                                }}{{
                                range
                                $index,
                                $part := $splitParts }}{{ if ne $index 0 }} · {{ end }}{{ $part }}{{ end }}
                                {{ else }}{{ $str := replaceRE "(s)$" "" (i18n .context.Section) }}{{ $str }}
                                {{ if eq .context.Section "publications" }} · {{ dateFormat "2006" .context.Date }}
                                {{ else if eq .context.Section "projects" }} · {{ dateFormat "Jan 2006"
                                .context.Date }}
                                {{ else if eq .context.Params.slug "chaire" }}Cnam
                                {{ else }} · {{ dateFormat "02 Jan 2006" .context.Date }}{{ end }}
                                {{ end }}
                            </div>
                        </span>
                    </span>
                </span>
            </span>
        </a>
        {{if .dynC }}
    </div>{{ end }}</div>
{{ end }}