<div class="dynCadre flex flex-col justify-end mt-32 mb-14 flex-grow flex-shrink">
    <div class="text-left items-start my-10">
        <h1 class="text-4xl font-bold m-0">{{ .Params.title |safeHTML }}{{if eq .Params.subsection "ended"}}
            ({{- i18n "ended" -}}){{ end }}</h1>
        {{ if .Params.authors }}
        <p class="italic" data-pagefind-weight="6">{{ .Params.authors }},
            {{ dateFormat "02 Jan 2006" .Date }}</p>
        {{ end }}
        {{ if .Params.prezfor }}
        <p class="italic" data-pagefind-weight="6">{{- i18n "by" }}
            {{ $len := len .Params.intervenants}}
            {{ $count := 0 }}
            {{ range .Params.intervenants }}
            <span data-pagefind-filter="author">{{ .name }}</span>
            {{ $count = add $count 1 }}
            {{ if ne $count $len -}}, {{ end }}
            {{ end }}
            {{ i18n "for" }} <span data-pagefind-filter="institution">{{ .Params.prezfor }}</span>, {{ dateFormat "02 Jan 2006 - 15h04" .Date }}</p>
        {{ end }}
    </div>
    {{ if .Params.diploma}}
    <div class="flex flex-col mb-6">
        {{ range sort .Params.diploma }}
        <div class="mb-4"><b>{{ .type }}</b><br />
            {{ .name }}</div>
        {{ end }}
    </div>
    {{ end }}
    {{ if .Params.collaboration }}
    <div class="flex flex-row flex-wrap items-center">
        {{ range sort .Params.collaboration }}
        <a href="{{ .web }}" target="_blank" class="collab"  data-pagefind-weight="4">
            {{ if .colo }}
            {{ partial "icons.html" (dict "ico" .logo "hei" .heig "colo" .colo "cla" "max-h-6 mr-10") -}}
            {{else}}
            {{ partial "icons.html" (dict "ico" .logo "hei" .heig "cla" "max-h-6 mr-10" ) -}}
            {{ end }}
        </a>
        {{ end }}
    </div>
    {{ else if .Params.institution }}
    <div class="flex flex-wrap items-center">
        <a href="{{ .Params.institution.web }}" target="_blank" class="collab"  data-pagefind-weight="3">
            {{ if .Params.institution.colo }}
            {{ partial "icons.html" (dict "ico" .Params.institution.logo "hei" .Params.institution.heig
            "colo"
            .Params.institution.colo) -}}
            {{else}}
            {{ partial "icons.html" (dict "ico" .Params.institution.logo "hei" .Params.institution.heig) -}}
            {{ end }}
        </a>
    </div>
    {{ end }}
</div>

{{ if ne .Params.layout "list" }}

{{ if and (.Params.abstract) (ne .Params.layout "publi") }}
<div class="pack-item w-full md:max-w-144" data-cat-sort="1">
    <div class="dynCadre">
        <b class="text-epierrot">{{ partial "slash.html" (dict "txt" (i18n "abstract")) }}</b>
        {{ .Params.abstract |safeHTML }}
    </div>
</div>
{{ end }}
{{ if eq .Params.layout "about" }}{{- if .Params.frontphoto }}
<img src="" data-toset="{{ .Params.frontphoto | absURL }}"
    class="pack-item dynCadre w-full md:w-1/3 md:max-w-96 imag object-cover" alt="{{ .Params.title }}" width="500"
    height="240" data-cat-sort="1" />
{{ end }}{{ end -}}
{{ if .Params.schedule }}
<div class="pack-item w-full md:max-w-144" data-cat-sort="1">
    <div class="dynCadre">
        <p>{{ .Params.schedule |safeHTML }}</p>
    </div>
</div>
{{ end }}
{{ if .Params.executive}}
<div class="pack-item w-full md:max-w-144 italic text-sm" data-cat-sort="1">
    <div class="dynCadre">
        <p>{{ .Params.executive }}</p>
    </div>
</div>
{{ end }}
{{ if .Params.tablecontent }}
<div class="pack-item w-full md:max-w-144" data-cat-sort="1">
    <div class="dynCadre" id="toc">
        <h2 data-pagefind-weight="0.5">{{ i18n "tableOfContent"}}</h2>
        <div class="tablecontent" data-pagefind-weight="0.5"></div>
    </div>
</div>
{{ end }}
{{ if .Params.photogallery }}
{{ partial "photogallery.html" . }}
{{ end }}
{{ if .Params.video}}
{{ partial "video.html" . }}
{{ end }}
{{ if .Params.calendar }}
<div class="pack-item w-full" data-cat-sort="0.5">
    <div class="dynCadre">{{ partial "slash.html" (dict "txt" (i18n "calendar")) }}<br />
        {{ range .Params.calendar }}
        <div class="listoutside pb-3">{{ . | safeHTML }}</div>
        {{ end }}
    </div>
</div>
{{ end }}
{{ if .Params.lectures}}
<div class="pack-item w-full md:max-w-144" data-cat-sort="3">
    <div class="dynCadre">
        {{ partial "slash.html" (dict "txt" (i18n "lectures")) }}<br />
        {{ $cod := .Params.code }}
        {{ range sort .Params.lectures "order" "asc" }}
        <div class=""><a class="listcourse"
                href="{{if .redirect }}{{ .redirect }}{{ else }}../{{ $cod }}/{{ .link }}{{ end -}}">
                <b>{{ $cod }}/{{ .order }}&nbsp;&middot;&nbsp;</b>
                {{- replace .Title " | " "&middot;" |safeHTML -}}</a></div>
        {{ end }}

    </div>
</div>
{{ end }}
{{ if .Params.sessions }}
{{ $code := .Params.code }}
<div class="pack-item w-full md:max-w-large" data-cat-sort="2">
    <div class="dynCadre">
        {{ partial "slash.html" (dict "txt" (i18n "calendar")) }}<br />
        <div class="">{{ range sort .Params.sessions "date" "asc" }}
            <a class="listcourse inline-block w-full" href="../{{ $code }}/{{ .link -}}">
                {{ $targ := (print .link ".md") }}
                {{ $page := $.Site.GetPage "page" $targ }}
                {{ with $page }}
                {{ $len := len .Params.intervenants}}
                {{ $count := 0 }}
                <b>{{ range .Params.intervenants }}
                    {{- .name -}}
                    {{ $count = add $count 1 }}
                    {{ if ne $count $len -}}, {{ end }}
                    {{ end }} · </b>{{ .Title }}<br>
                <b>{{ dateFormat "02 January 2006" .Date }} - {{ dateFormat "15h04" .Date }} · </b>
                {{if .Params.place }}{{ .Params.place |safeHTML }}{{ end }}
                {{ end }}
            </a>{{ end }}
        </div>
    </div>
</div>
{{ range sort .Params.sessions "date" "desc" }}
<div class='pack-item' data-cat-sort="0">
    <div class="dynCadre">
        <a class="boxIso" href="../{{ $code }}/{{ .link -}}">
            {{ $targ := (print .link ".md") }}
            {{ $page := $.Site.GetPage "page" $targ }}
            {{ with $page }}

            <span class='boxTitle{{ if .Params.fronttop }} frontTop{{end}}'>{{- .Title |safeHTML }}</span>
            <span class="boxElts">
                {{ if .Params.intervenants }}{{ $len := len .Params.intervenants }}
                {{ $count := 0 }}
                {{ range .Params.intervenants }}
                {{ .name -}}
                {{ $count = add $count 1 }}
                {{- if ne $count $len -}}, {{ end }}
                {{ end }}<br>{{ end }}
                @ {{ .Params.institution.name }}
            </span>
            <span class="boxInfo">
                <div>
                    {{ if eq .Params.layout "member" }}
                    {{ $parts := .Params.shortdescription }}{{ $splitParts := split $parts "," }}{{ range
                    $index, $part := $splitParts }}{{ if ne $index 0 }} · {{ end }}{{ $part }}{{ end }}
                    {{ else }}{{ dateFormat "02 Jan 2006" .Date }}{{ end }}
                </div>
            </span>
            {{ end }}
        </a>
    </div>
</div>
{{ end }}
{{ end }}
{{ if .Params.intervenants }}{{ range .Params.intervenants }}
<div class="pack-item w-full md:min-w-96 md:max-w-192">
    <div class="dynCadre flex flex-col">
        <div class="flex flex-col md:flex-row">
            <div class="place-self-center h-74 w-auto md:w-74 photoItem" data-src="{{ .photo }}" aria-label="See image">
                <img loading="lazy" src="{{ .photo }}" alt="{{ .photo }}" title="{{ .name }}"
                    class="rounded object-cover h-74 w-auto md:w-74" data-pagefind-index-attrs="title,alt">
            </div>
            <div class="py-6 md:py-0 md:pl-6">
                <div class="text-3xl font-bold mt-4" data-cat-sort="6">{{ .name }}</div>
                <div><i>{{ i18n "speaker" }}</i></div>
                <a href="{{ .link }}" class="affiliationLogo">{{ partial "icons.html" (dict "ico" .logo "hei" .height)
                    -}}</a>
            </div>
        </div>
        {{ if .bio }}<div class="mt-6">{{ .bio | safeHTML }}</div>{{ end }}
    </div>
</div>
{{ end }}{{ end }}
{{ if .Params.redirectlecture}}<div class="lg:w-full max-w-xl flex flex-row justify-start items-start">
    <b class="revers w-32 flex-shrink-0 px-1">{{ i18n "courses" }}</b>
    <div class="ml-2 w-auto lg:w-full py-1">{{ $cod := .Params.code }}{{ $plink := .Params.photocredit.link }}
        {{ range sort .Params.redirectlecture "order" "asc" }}
        <a class="" href="{{ .link }}" target="_blank" rel="noreferrer"><b>{{ $cod }}.{{ .order
                }}&nbsp;&middot;&nbsp;</b>
            {{- replace .Title " | " "&middot;" |safeHTML -}}</a><br>
        {{ end }}
    </div>
</div>
{{ end }}
{{ if .Params.updating }}
<div class="pack-item w-full md:max-w-144" data-cat-sort="2">
    <div class="dynCadre bg-epierrot ">
        <p class="italic font-bold text-primary-bg text-lg">Currently updating</p>
    </div>
</div>
{{ end }}
{{ if .Params.citation }}
<div class="pack-item w-full md:max-w-144" data-cat-sort="4">
    <div class="dynCadre">{{ partial "citation.html" . }}</div>
</div>
{{ end }}
{{ if .Params.encapsulation }}
<div class="pack-item w-full md:max-w-144" data-cat-sort="1">
    <div class="dynCadre">
        {{ partial "slash.html" (dict "txt" (i18n "encapsulation")) }}
        {{ range .Params.encapsulation }}
        <a class="linkBox" href="{{ absURL .link }}">
            <div class="titleLink">{{ .title }}</div>
            {{ if .img }}<div class="imgLink"><img src="{{ .img }}" alt="{{ .title }}"></div>{{ end }}
        </a>
        {{ end }}
    </div>
</div>{{ end }}
{{ if .Params.link }}{{ partial "doclink.html" . }}{{ end }}
{{ end }}
{{ if or .Params.place .Params.visio }}
<div class="pack-item w-full md:max-w-144" data-cat-sort="1">
    <div class="dynCadre">
        {{ partial "slash.html" (dict "txt" (i18n "venue")) }}<br />
        <p>{{ dateFormat "02 January 2006" .Date }} - {{ dateFormat "15h04" .Date }}</p>
        {{ if .Params.place }}<p class="">{{ .Params.place |safeHTML }}</p>{{ end }}
        {{ if .Params.visio }}{{ with .Params.visio }}
        {{ $icon := "teams" }}
        {{ if ne .media "Teams" }}{{ $icon := "teams" }}{{ end }}
        {{ $text := i18n "linkvisio" }}
        <a href='{{ .link }}' target="_blank" class="doclinkButton py-5" rel="noreferrer"
            aria-label="Get {{ $icon }}"><span>{{- partial "icons.html" (dict "hei" 1.5 "ico" $icon "cla" "doclinkIcon"
                ) -}}</span>&nbsp;&nbsp;<span>{{ $text }}</span></a>
        {{ end }}{{ end }}
    </div>
</div>
{{ end }}