<div class="flex flex-col w-auto h-auto">
        {{ if .IsTranslated }}
        <div id="languageMode" class='text-sm mt-3 md:mt-0'>
                <b class="relative bg-transparent text-epierrot inline-block mr-2">{{ .Language.LanguageName }}</b>
                {{ range .Translations }}<a href="{{ .Permalink }}" title="{{ i18n .Language.LanguageName }}"
                        rel="noreferrer" aria-label="Change to {{ .Language.LanguageName }}" class="langu">{{
                        .Language.LanguageName }}</a>
                {{ end }}
        </div>
        {{ end }}
        <div class="flex flex-row justify-start items-start">
                <div class="pagetheme">
                        <label id="switch" class="switch">
                                <input type="checkbox" onchange="toggleTheme()" id="slider">
                                <span class="slider"></span>
                        </label>
                        <!-- <button id="switch" onclick="toggleTheme()">Switch</button> -->
                </div>
                <div id="" class="nav-link-search cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search mt-2" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>
                </div>
        </div>
</div>
<div id="searchmodal" aria-hidden="true">
        <div tabindex="-1" data-micromodal-close>
                <div role="dialog" aria-modal="true" aria-labelledby="searchmodal-title">
                        <div id="searchmodal-content">
                                <div id="search"></div>
                        </div>
                </div>
        </div>
</div>