{{ if .Params.redirect }}
<meta http-equiv="Refresh" content="0; url='{{ .Params.redirect }}'" />{{ end }}
<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
{{- partial "head.html" . -}}

<body id="{{ .Params.bodyclass }}" {{ if .Params.bgpict}}class="bgImg" style="background-image:url({{- .Site.BaseURL -}}{{- .Params.bgpict -}})"{{ end }}>
  <main data-pagefind-body>
    {{ partial "settings.html" . }}
    {{if not .IsHome }}{{ partial "medium.html" . }}{{ end }}
    {{- block "main" . }}{{- end }}
  </main>
  <div class="bordTop"></div>
  <div class="bordBottom"></div>
</body>

</html>