{{ define "main" }}
<div class="w-full flex flex-col md:flex-row justify-between items-start">
    <section class="home">
        <div id="navDesktop">
            <h1 class="invisible md:visible mb-0 md:mb-4"><span class="inline-block w-8">&nbsp;</span><span id="indexHome">Index</span></h1>
            <h2 class="section-introduction"><span class="inline-block w-8">00 </span>Introduction</h2>
            <div class="nav_item section-introduction" data-section="introduction">
                {{ $page := $.Site.GetPage "page" "pierre-levy/" }}
                {{ with $page }}<div class='pageTitle {{- if eq .Params.status "ended" }} ended{{ end -}}'
                    data-targslug="{{ .Slug }}">
                    <span class="text-secondary-text">00|01 ·</span> {{ .Title }}
                </div>{{ end }}
            </div>
            {{ $i := 1 }}
            {{ range .Sections }}{{ if ne .Slug "pierre-levy" }}
            {{ $j := 1 }}
            {{ $sec := .Slug }}
            <h2 class="section-{{- $sec -}}"><span class="inline-block w-8">{{ if eq (( string $i ) | len ) 1 }}0{{ end }}{{ $i }} </span>{{ .Title }}</h2>
            <div class="nav_item section-{{- $sec -}}" data-section="{{ .Section }}">
                {{ range .Pages }}
                {{ if ne .Params.notListed true }}
                <div class='pageTitle {{- if eq .Params.status "ended" }} ended{{ end -}}' data-targslug="{{ .Slug }}">
                    <span class="text-secondary-text">{{ if eq (( string $i ) | len ) 1 }}0{{ end }}{{ $i }}|{{ if eq ((
                        string $j ) | len ) 1 }}0{{ end }}{{ $j }} · </span>
                    <span>{{ if in ( slice "events" "presentations" "writings" ) .Section }}{{ dateFormat "2006/01" .Date }}
                    {{ else }}{{ dateFormat "2006" .Date }}{{ end }} · </span>
                    <span>{{ .Title }}</span>
                </div>
                {{ $j = add $j 1 }}
                {{ end }}
                {{ end }}
                {{ $i = add $i 1 }}
            </div>
            {{ end }}{{ end }}
        </div>
        <div class="btnPhon">
            <button id="btnPhonBtn" style="display: none;">
                <svg viewBox="0 0 28 28" fill="none" height="2rem" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M4 7C4 6.44771 4.44772 6 5 6H24C24.5523 6 25 6.44771 25 7C25 7.55229 24.5523 8 24 8H5C4.44772 8 4 7.55229 4 7Z"
                        fill="#000000" />
                    <path
                        d="M4 13.9998C4 13.4475 4.44772 12.9997 5 12.9997L16 13C16.5523 13 17 13.4477 17 14C17 14.5523 16.5523 15 16 15L5 14.9998C4.44772 14.9998 4 14.552 4 13.9998Z"
                        fill="#000000" />
                    <path
                        d="M5 19.9998C4.44772 19.9998 4 20.4475 4 20.9998C4 21.552 4.44772 21.9997 5 21.9997H22C22.5523 21.9997 23 21.552 23 20.9998C23 20.4475 22.5523 19.9998 22 19.9998H5Z"
                        fill="#000000" />
                </svg>
            </button>
        </div>

        <div id="mobileModal" class="mobileModal">
            <div class="mobileModal-content">
                <span class="mobileModalCloseBtn">&times;</span>
                <div id="mobileModal-content-placeholder">
                </div>
            </div>
        </div>

    </section>
    <section class="site-content">
        {{ partial "title.html" . }}
        {{ $page := $.Site.GetPage "page" "pierre-levy/" }}
        {{ with $page }}{{- partial "box.html" ( dict "context" . "sort" 100 "intro" true "sect" "0" "pag" 1) -}}
        {{ end }}
        {{ $s := 1 }}
        {{ range .Sections }}{{ if ne .Slug "pierre-levy" }}
        {{ $p := 1 }}
        {{ range .Pages }}
        {{ if ne .Params.notListed true }}
        {{- partial "box.html" ( dict "context" . "sect" $s "pag" $p ) -}}
        {{ $p = add $p 1 }}
        {{ end }}
        {{ end }}
        {{ $s = add $s 1 }}
        {{ end }}{{ end }}
    </section>
</div>
{{ end }}