{{ define "main" }}
{{ $langu := .Site.Language.Lang }}
<section class="site-content">
    {{ if .Content}}
    <div class="w-full" data-cat-sort="110">
        {{ .Content }}
    </div>
    {{ end }}
    <div id="Slides" class="">
        {{ if .Params.slides }}
        {{ $slid := .Params.slides }}
        {{ $ord := 1 }}
        <div class="flex flex-row flex-wrap" id="lightgallery">
            {{ $s := 1 }}
            {{ range $slid }}
            {{ $typ := index . 0 }}
                {{ if eq $typ "img" }}
                <a class="boxIso w-full newpad-y"
                    href="{{- index . 1 -}}"
                    aria-label="See image {{ $ord }}" data-custom-prop="abc">
                    <div class="boxIsoImg duotone newpad"
                        style="background-image: url('{{- index . 1 -}}');">
                    </div>
                </a>
                {{ else if eq $typ "google" }}
                <a class="boxIso w-full newpad-y"
                    href="https://drive.google.com/thumbnail?id={{- index . 1 -}}&sz=w3200"
                    aria-label="See image {{ $ord }}" data-custom-prop="abc">
                    <div class="boxIsoImg duotone newpad"
                        style="background-image: url('https://drive.google.com/thumbnail?id={{- index . 1 -}}&sz=w400');">
                    </div>
                </a>
                {{ else if eq $typ "mov"}}
                <a data-lg-size="1280-720" data-src="{{ index . 1 }}" data-poster="{{ index . 2 }}"
                    class="boxIso w-full newpad-y">
                     <div class="boxIsoImg newpad"
                        style="background-image: url('{{ index . 2 }}');" alt="video {{ $ord }}">
                    </div>
                </a>
                {{ end }}
                {{ $ord = add $ord 1 }}
            {{ end }}
        </div>
        {{ end }}
    </div>
</section>
{{ $qr_js := resources.Get "js/qrgen.js" | minify }}
<script src="{{ $qr_js.Permalink }}"></script>
<script defer="defer">
    const qrcode = new QRCode(document.getElementById('qrcode'), {
        text: {{ .Page.Permalink }},
    width: 1000,
        height: 1000,
            colorDark: '#000',
                colorLight: '#fff',
                    correctLevel: QRCode.CorrectLevel.H
    });
</script>

<style>
    @font-face {
        font-family: "lg";
        src: url(/lg.woff2) format("truetype");
    }
</style>

{{ $lg_js := resources.Get "js/lg.js" | minify }}
<script src="{{ $lg_js.Permalink }}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{ $lg_css := resources.Get "css/lg.css" | postCSS (dict "config" "./postcss.config.js") }}
{{ $lg_css := $lg_css | minify }}
<link rel="stylesheet" href="{{ $lg_css.Permalink }}" media="all">

<script src="https://player.vimeo.com/api/player.js"></script>
<script src="https://www.youtube.com/player_api"></script>

{{ $lgvideo_js := resources.Get "js/lgvideo.js" | minify }}
<script src="{{ $lgvideo_js.Permalink }}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{ $lgvideo_css := resources.Get "css/lgvideo.css" | postCSS (dict "config" "./postcss.config.js") }}
{{ $lgvideo_css := $lgvideo_css | minify }}
<link rel="stylesheet" href="{{ $lgvideo_css.Permalink }}" media="all" crossorigin="anonymous"
    referrerpolicy="no-referrer">


{{ $lghash_js := resources.Get "js/lghash.js" | minify }}
<script src="{{ $lghash_js.Permalink }}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{{ $lgfullscreen_js := resources.Get "js/lgfullscreen.js" | minify }}
<script src="{{ $lgfullscreen_js.Permalink }}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{ $lgfullscreen_css := resources.Get "css/lgfullscreen.css" | postCSS (dict "config" "./postcss.config.js") }}
{{ $lgfullscreen_css := $lgfullscreen_css | minify }}
<link rel="stylesheet" href="{{ $lgfullscreen_css.Permalink }}" media="all" crossorigin="anonymous"
    referrerpolicy="no-referrer">

<script type="text/javascript">
    lightGallery(document.getElementById('lightgallery'), {
        licenseKey: "86E42556-05764516-9C2C8B36-B8B2858F",
        plugins: [lgVideo, lgFullscreen, lgHash], //
        speed: 500,
        extraProps: ['customProp'],
        download: false,
        loop: false,
        mode: "lg-fade",
        controls: false,
        nextHtml: ">",
        prevHtml: "<",
        showBarsAfter: 2000,
        videojs: true,
        getCaptionFromTitleOrAlt: false,
        videoMaxWidth: "1080px",
        videojs: true,
        vimeoPlayerParams: {
            byline: 0,
            portrait: 0,
            color: 'CCCCCC'
        },
        loadYoutubeThumbnail: true,
        youTubePlayerParams: {
            modestbranding: 1,
            autoplay: 1,
            showinfo: 0,
            controls: 1,
            rel: 0
        },
        loadYouTubePoster: true
    });


    window.addEventListener('load', function (event) {
        // Select the node that will be observed for mutations
        const targetNode = document.getElementById("lg-inner-1");
        // Options for the observer (which mutations to observe)
        const config = { attributes: true, childList: true, subtree: true };
        // Callback function to execute when mutations are observed
        const callback = (mutationList, observer) => {
            observer.disconnect();
            var imag = document.querySelectorAll('div.lg-current img.lg-object');
            imag.forEach(function (im, index) {
                var rect = im.getBoundingClientRect();
                var rightIm = rect.right;
                var bottomIm = rect.bottom;
                var nextSibling = im.nextElementSibling;
                if (!(nextSibling && nextSibling.className === "imgAddons")) {
                    var newDiv = document.createElement('div');
                    newDiv.innerHTML = '{{- .Title -}}&nbsp{{ if false }}(' + im.getAttribute('alt') + ')&nbsp;{{ end }}-&nbsp;{{- now | time.Format "02/01/2006" -}}&nbsp;-&nbsp;<a href="mailto:pierre.levy@lecnam.net">pierre.levy@lecnam.net</a>';
                    newDiv.className = 'imgAddons';
                    im.parentNode.insertBefore(newDiv, im.nextSibling);
                }
                var newAd = document.querySelectorAll('div.imgAddons');
                newAd.forEach(function (nA, index) {
                    nA.style.cssText = "right: calc(101vw - " + rightIm + "px);bottom:calc(100.8vh - " + bottomIm + "px);";
                });
            });
            observer.observe(targetNode, config);
        };

        // Create an observer instance linked to the callback function
        const observer = new MutationObserver(callback);

        // Start observing the target node for configured mutations
        observer.observe(targetNode, config);
    });

    window.addEventListener("resize", function () {
        var imag = document.querySelectorAll('div.lg-current img.lg-object');
        imag.forEach(function (im, index) {
            var rect = im.getBoundingClientRect();
            var rightIm = rect.right;
            var bottomIm = rect.bottom;
            var nextSibling = im.nextElementSibling;
            if (nextSibling && nextSibling.className === "imgAddons") {
                nextSibling.style.cssText = "right: calc(101vw - " + rightIm + "px);bottom:calc(100.8vh - " + bottomIm + "px);";
            }
        });
    });
</script>
{{ end }}