@import "tailwindcss";

@theme {
  --font-family-sans: ['Mulish', 'Noto Sans JP', 'Hiragino Maru Pro', 'sans-serif'];
  --font-family-mono: ['SFMono-Regular', 'Menlo'];
  --font-weight-normal: 400;
  --font-weight-bold: 800;

  --width-42: 10.5rem;
  --width-62: 15.5rem;
  --width-68: 17rem;
  --width-70: 17.5rem;
  --width-74: 18.5rem;
  --width-76: 19rem;
  --width-84: 21rem;
  --width-88: 22rem;
  --width-96: 24rem;
  --width-104: 26rem;
  --width-118: 29.5rem;
  --width-132: 33rem;
  --width-140: 35rem;
  --width-144: 36rem;
  --width-154: 38.5rem;
  --width-188: 47rem;
  --width-192: 48rem;
  --width-216: 54rem;
  --width-3block: 75rem;
  --width-large: 47.2rem;

  --height-42: 10.5rem;
  --height-62: 15.5rem;
  --height-68: 17rem;
  --height-70: 17.5rem;
  --height-74: 18.5rem;
  --height-76: 19rem;
  --height-84: 21rem;
  --height-88: 22rem;
  --height-96: 24rem;
  --height-100: 25rem;
  --height-104: 26rem;
  --height-132: 33rem;
  --height-144: 36rem;
  --height-154: 38.5rem;
  --height-216: 54rem;

  --margin-21: 5.3rem;
  --margin-22: 5.5rem;
  --margin-26: 6.5rem;
  --margin-30: 7.5rem;
  --margin-34: 8.5rem;
  --margin-43: 10.75rem;
  --margin-54: 13.5rem;
  --margin-58: 14.5rem;
  --margin-70: 17.5rem;
  --margin-74: 18.5rem;
  --margin-84: 21rem;
  --margin-96: 24rem;
  --margin-144: 36rem;
  --margin-154: 38.5rem;
  --margin-216: 54rem;

  --min-width-42: 10.5rem;
  --min-width-16: 4rem;
  --min-width-70: 17.5rem;
  --min-width-72: 18rem;
  --min-width-96: 24rem;
  --min-width-104: 26rem;
  --min-width-132: 33rem;
  --min-width-136: 34rem;
  --min-width-144: 36rem;
  --min-width-154: 38.5rem;
  --min-width-192: 48rem;
  --min-width-216: 54rem;
  --min-width-240: 60rem;

  --max-width-42: 10.5rem;
  --max-width-16: 4rem;
  --max-width-70: 17.5rem;
  --max-width-72: 18rem;
  --max-width-96: 24rem;
  --max-width-104: 26rem;
  --max-width-132: 33rem;
  --max-width-136: 34rem;
  --max-width-144: 36rem;
  --max-width-154: 38.5rem;
  --max-width-192: 48rem;
  --max-width-216: 54rem;
  --max-width-240: 60rem;

  --min-height-42: 10.5rem;
  --min-height-16: 4rem;
  --min-height-70: 17.5rem;
  --min-height-72: 18rem;
  --min-height-96: 24rem;
  --min-height-104: 26rem;
  --min-height-132: 33rem;
  --min-height-136: 34rem;
  --min-height-144: 36rem;
  --min-height-154: 38.5rem;
  --min-height-192: 48rem;
  --min-height-216: 54rem;
  --min-height-240: 60rem;

  --max-height-42: 10.5rem;
  --max-height-16: 4rem;
  --max-height-70: 17.5rem;
  --max-height-72: 18rem;
  --max-height-96: 24rem;
  --max-height-104: 26rem;
  --max-height-132: 33rem;
  --max-height-136: 34rem;
  --max-height-144: 36rem;
  --max-height-154: 38.5rem;
  --max-height-192: 48rem;
  --max-height-216: 54rem;
  --max-height-240: 60rem;

  --line-height-14: 3.5rem;

  --inset-16: 4rem;
  --inset-32: 8rem;
  --inset-48: 12rem;

  --border-width-16: 16px;

  --color-primary-bg: var(--color-primary-bg);
  --color-secondary-bg: var(--color-secondary-bg);
  --color-tertiary-bg: var(--color-tertiary-bg);
  --color-pageborder-bg: var(--color-pageborder-bg);
  --color-primary-text: var(--color-primary-text);
  --color-secondary-text: var(--color-secondary-text);
  --color-epierrot: var(--color-epierrot);
  --color-borders: var(--color-borders);
  --color-transparent: transparent;
  --color-current: currentColor;

  --spacing-newpad: var(--pageBorder-width);
}

:root {
  @apply font-sans text-primary-text leading-6 box-border;
  --st-dropshadow: 7px 7px 8px #00000044;
  --lineHeight: 1.75;
  --screenHeight: calc(100vh - var(--entete-height) - (7 * var(--pageBorder-width)));
  color-scheme: light dark;
}

/* width */
::-webkit-scrollbar {
  width: 0;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-primary-bg);
  border-radius: 100vw;
  margin-block: 200px;
  border: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-tertiary-bg);
  border-radius: 100vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-epierrot);
}

*,
::before,
::after {
  border-color: transparent;
}

input::-moz-placeholder,
textarea::-moz-placeholder,
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: var(--color-primary-text);
  border: none;
}

*,
html,
body {
  font-size: 14px;
  font-stretch: 100%;
  letter-spacing: 0.01rem;
  line-height: var(--lineHeight);
  font-display: swap;
  font-weight: normal;
  scroll-behavior: smooth;
  font-variant-ligatures: common-ligatures;
}

body {
  @apply relative bg-primary-bg text-primary-text min-h-screen p-0;
}

.bordTop,
.bordBottom {
  @apply fixed bg-primary-bg transition-colors duration-700 ease-in-out z-50;
}

.bordTop,
.bordBottom {
  left: 0;
  width: 100vw;
  height: calc(2 * var(--pageBorder-width));
}

.bordTop {
  top: 0;
  background-color: var(--color-pageborder-bg);
}

.bordBottom {
  bottom: 0;
  background-color: var(--color-pageborder-bg);
}

html {
  background-color: transparent;
  --color-primary-bg: transparent;
  --color-secondary-bg: transparent;
  --color-tertiary-bg: transparent;
  --color-pageborder-bg: transparent;
  --color-primary-text: transparent;
  --color-secondary-text: transparent;
  --color-epierrot: transparent;
  --color-borders: transparent;
  --color-borders: var(--color-primary-text);

  --pagefind-ui-scale: 1 !important;
  --pagefind-ui-text: var(--color-primary-text) !important;
  --pagefind-ui-background: var(--color-primary-bg) !important;
  --pagefind-ui-border-width: 0 !important;
  --pagefind-ui-border-radius: 1rem !important;
  --pagefind-ui-image-border-radius: 1rem !important;
  --pagefind-ui-image-box-ratio: 3 / 2 !important;
  --pagefind-ui-font: 'Mulish', 'Noto Sans JP', 'Hiragino Maru Pro', 'sans-serif';

  --pageBorder-width: 1rem;
  --entete-height: 10vh;
  --entete-height: 4rem;
}

html.light {
  --color-primary-bg: #f4f5f5;
  /*f1f0ed*/
  --color-secondary-bg: var(--color-pageborder-bg);
  --color-tertiary-bg: #d7d5d2;
  --color-pageborder-bg: var(--color-primary-bg);
  --color-primary-text: #3d3d3f;
  /*2a1841*/
  --color-secondary-text: #6b7e85;
  /*715596*/
  --color-epierrot: #e34334;
  /*b21556*/
  --blend-mode-before: color;
  --blend-mode-after: screen;

  --pagefind-ui-primary: var(--color-epierrot) !important;
  --pagefind-ui-border: #eeeeee !important;
  --pagefind-ui-tag: #eeeeee !important;
}

html.dark {
  --color-primary-bg: #2c2c2c;
  /*oklch(26.9% 0 0)*/
  --color-secondary-bg: var(--color-pageborder-bg);
  /* 6c868d */
  --color-tertiary-bg: #282a2d;
  --color-pageborder-bg: var(--color-primary-bg);
  --color-primary-text: #e8e5e4;
  --color-secondary-text: #94817a;
  --color-epierrot: #e34334;
  --blend-mode-before: saturation;
  --blend-mode-after: hard-light;

  --pagefind-ui-primary: #eeeeee !important;
  --pagefind-ui-border: #152028 !important;
  --pagefind-ui-tag: #152028 !important;
}

p {
  @apply mb-4;
}

b i {
  @apply font-bold italic;
}

a {
  @apply text-epierrot transition-colors duration-500 ease-in-out;
  font-size: inherit;
  font-weight: inherit;
  transition: all 1s ease-in-out;
  display: inline;
}

a:hover,
div.menuBox.foc>.boxIso {
  @apply text-primary-bg bg-epierrot;
}

a svg,
menuBox svg {
  fill: var(--color-primary-text);
}

a:hover svg {
  fill: var(--color-epierrot);
}

span {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
}

ul {
  @apply ml-4 p-0;
  list-style: disc;
  list-style-position: inside;
}

ol {
  list-style: decimal;
  list-style-position: outside;
  padding-left: 1.2em;
}

h1,
h2 {
  @apply text-lg font-bold;
}


main {
  @apply flex flex-col md:flex-row justify-start w-full;
  min-height: 100vh;
}

/* title */
#enteteBox {
  @apply p-newpad max-w-132 self-start w-full;
}

body#menu #enteteBox {
  padding: 0 !important;
}


#entete {
  @apply flex flex-col border-secondary-text max-w-132 w-full self-end pb-newpad border-b border-primary-text;
}

@media (min-width: 768px) {
  #entete {
    padding-left: var(--pageBorder-width);
  }
}

.titleTop {
  @apply flex flex-row justify-end w-full items-center;
}

/* logohome */
a.logohome {
  @apply pr-4 md:pr-0 inline-block self-center transition-colors duration-700 ease-in-out;
}

a.logohome:hover {
  @apply bg-transparent;
}

a.logohome svg {
  @apply h-4 w-4;
  fill: var(--color-primary-text);
}

/* settings */
/* light dark theme */

.menuSetting {
  @apply pl-16 md:pl-0 absolute w-full md:w-16 h-12 md:h-screen flex flex-row md:flex-col items-center md:justify-center;
}

.pagetheme {
  @apply flex flex-col justify-center items-start;
}

/* The switch - the box around the slider */
.pagetheme .switch {
  @apply relative inline-block h-4 w-4;
}

/* Hide default HTML checkbox */
.pagetheme .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#languageMode {
  @apply pl-4 md:pl-0 pt-10 md:pb-10 h-16 w-auto md:w-16 md:h-auto bg-transparent flex flex-row md:flex-col items-center justify-between border-0 md:border-r border-dotted border-primary-text;
}

#languageMode>span {
  @apply pr-4 md:pr-0 relative bg-transparent text-epierrot font-bold inline-block;
}

#languageMode a {
  @apply pr-4 md:pr-0 bg-transparent inline-block text-primary-text font-bold hover:text-epierrot border-0 transition-all duration-700 ease-in-out;
}

#languageMode a:hover {
  @apply text-epierrot;
}

#settingOptions {
  @apply pt-10 w-auto md:w-16 flex flex-row md:flex-col justify-between items-center border-r border-dotted border-primary-text;
}

#settingOptions>div {
  @apply pr-newpad;
}

@media screen and (min-width: 768px) {

  #settingOptions>div,
  #settingOptions>a {
    padding: 0 0 var(--pageBorder-width) 0;
  }
}

.introChair {
  @apply text-primary-text justify-center rounded-md transition-colors duration-700 ease-in-out block py-7 md:py-14 text-3xl font-bold leading-14 cursor-default;
  padding-left: 12vw;
  padding-right: 12vw;
}

.introChair:hover {
  @apply text-primary-text bg-transparent;
}

/* The slider */
.pagetheme .slider svg {
  @apply absolute left-0 right-0 top-0 cursor-pointer w-4 h-4 transition-colors duration-700 ease-in-out;
  fill: var(--color-primary-text);
}

.pagetheme .slider:hover svg {
  fill: var(--color-epierrot);
  height: 1rem;
  width: 1rem;
}

.pagetheme input:not(:checked)+.slider svg:last-child {
  opacity: 0;
}

.pagetheme input:checked+.slider svg:first-child {
  opacity: 0;
}



/* search */
#search {
  width: 100%;
}

.searchlaunch {
  @apply flex flex-col w-6 h-8 justify-center items-start;
}

.searchlaunch .searchl {
  @apply h-6 w-6 relative inline-block;
}

.searchlaunch .searchl input {
  opacity: 0;
  width: 0;
  height: 0;
}

.searchlaunch .searchButton {
  @apply absolute cursor-pointer top-0 left-0 right-0 bottom-0 pb-1 transition-colors duration-700 ease-in-out;
}

.searchlaunch .searchButton svg.searchSvg {
  @apply h-4 w-4;
  fill: var(--color-primary-text);
}

#searchingBox {
  @apply border-b border-transparent border-dotted;
  height: 0;
  padding: 0;
  transition: all 500ms ease-in-out;
}

#closeInputSearch {
  @apply h-5 w-5;
}

.closingSvg {
  @apply h-6 w-6;
  fill: var(--color-primary-text);
}

#searchmodal-content {
  position: relative;
  display: flex;
  flex-direction: row;
}

#searchmodal-content .closeModal {
  position: absolute;
  padding: 14px;
  top: 5px;
  right: 0;
  cursor: pointer;
}

/* Pagefind search */
.pagefind-ui__result {
  padding: var(--pageBorder-width) !important;
}

.pagefind-ui__results-area,
.pagefind-ui__filter-panel {
  overflow-y: auto;
  height: auto;
}

.pagefind-ui__result-link {
  @apply transition-all duration-500 ease-in-out;
  text-decoration: none !important;
  border: 0;
}

.pagefind-ui__result-link:hover {
  color: var(--color-epierrot) !important;
  background-color: transparent !important;
  text-decoration: none !important;
}

.pagefind-ui__drawer {
  overflow-y: auto;
  height: calc(100vh - 2.5rem - (84px * var(--pagefind-ui-scale)) - 2 * var(--pageBorder-width));
}

@media screen and (min-width: 768px) {

  .pagefind-ui,
  .pagefind-ui__results-area,
  .pagefind-ui__filter-panel {
    height: calc(100vh - 2.5rem - (84px * var(--pagefind-ui-scale)) - 4 * var(--pageBorder-width));
  }
}

.pagefind-ui__search-clear {
  right: calc(3rem * var(--pagefind-ui-scale)) !important;
  font-weight: 500;
  background-color: transparent !important;
}

.pagefind-ui__search-input {
  border-bottom: 1px solid var(--color-secondary-text) !important;
  background-color: transparent !important;
  border-radius: 0 !important;
}

.pagefind-ui__result-excerpt {
  font-size: 0.9rem !important;
  line-height: 1rem !important;
}

/* menuBox */
.menuBox {
  @apply relative max-w-7xl flex flex-row justify-between items-start transition-all duration-500 ease-in-out;
  padding: 0 var(--pageBorder-width) var(--pageBorder-width) 0;
  width: calc(100% - var(--pageBorder-width));
}

@media (min-width: 768px) {
  .menuBox {
    padding: calc(2 * var(--pageBorder-width));
  }
}

.menuBox.hid,
.menuBox.hid * {
  height: 0 !important;
  min-height: 0 !important;
  min-width: 0 !important;
  width: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  opacity: 0 !important;
  border: 0 !important;
}

.menuBoxCount {
  @apply w-8 py-newpad flex-shrink-0 flex-grow-0 flex flex-col justify-start;
}

.menuBoxCount>div {
  @apply font-bold;
}

.menuBoxCount>div:first-child {
  @apply border-b border-primary-text;
}

/* boxIso */
.boxIso {
  @apply rounded-2xl w-full h-74 min-h-56 text-primary-text grow-0 shrink-0 flex flex-col md:flex-row justify-between items-start;
  margin-bottom: var(--pageBorder-width);
}

#menu .boxIso {
  @apply h-full;
}

.boxIso>div {
  @apply transition-all duration-700 ease-in-out;
}

.boxIso:hover>div {
  border-color: transparent !important;
}

.boxMeta {
  @apply w-full flex flex-col flex-wrap justify-start pt-4;
}

.boxIsoImg {
  @apply block w-full min-h-44;
  background-position: center;
  background-size: cover;
  aspect-ratio: 1.77;
}


/* duotone */
.duotone {
  @apply inline-block relative transition-all duration-700 ease-in-out rounded-lg;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.duotone::before {
  @apply block w-full h-full absolute top-0 left-0 transition-all duration-700 ease-in-out rounded-lg;
  background-color: var(--color-tertiary-bg);
  content: '';
  mix-blend-mode: var(--blend-mode-before);
}

.duotone::after {
  @apply block w-full h-full absolute top-0 left-0 transition-all duration-700 ease-in-out rounded-lg;
  background-color: var(--color-primary-text);
  content: '';
  mix-blend-mode: var(--blend-mode-after);
  opacity: 0.4;
}

a.boxIso:hover .duotone::before,
a.linkBox:hover .duotone::before {
  mix-blend-mode: var(--blend-mode-before);
}

a.boxIso:hover .duotone::after,
a.linkBox:hover .duotone::after {
  background-color: var(--color-epierrot);
  mix-blend-mode: var(--blend-mode-after);
  opacity: 1;
}

/* search modal */
#searchmodal {
  @apply fixed z-50 p-newpad transition-all duration-700 ease-in-out bg-primary-bg;
  display: none;

  top: calc(2 * var(--pageBorder-width));
  left: calc(2 * var(--pageBorder-width));
  width: calc(100vw - 4 * var(--pageBorder-width));
  height: calc(100vh - 4 * var(--pageBorder-width));
}

#searchmodal.is-open {
  display: block;
}

/* Home Page menu */
/* - Modal pour le mobile) - */
section.home {
  @apply w-full md:w-2/5 flex flex-col md:flex-row items-center justify-start;
  height: 100vh;
  padding: calc(2 * var(--pageBorder-width)) calc(4 * var(--pageBorder-width) + 4rem);
}

section.home.open {
  align-items: flex-start !important;
}

section.site-content {
  @apply w-full md:w-3/5 grow flex flex-col items-start justify-start p-newpad;
  height: 100vh;
  margin-top: 0;
}

@media (min-width: 768px) {

  #menu section.home,
  #menu section.site-content {
    overflow: auto;
  }

  section.site-content {
    padding: calc(2 * var(--pageBorder-width)) calc(4 * var(--pageBorder-width));
  }
}

@media (max-width: 768px) {
  section.home {
    height: 0 !important;
    width: 100% !important;
  }

  section.site-content {
    padding-top: var(--pageBorder-width);
  }
}

.imgAddons {
  @apply absolute flex justify-end items-end align-bottom transition-all duration-500 ease-in-out;
    font-size: 0.8vw;
}

.imgAddons a, .imgAddons a:visited {
  @apply text-primary-text bg-transparent;
}
.imgAddons a:hover, .imgAddons a:focus {
  @apply text-epierrot bg-transparent;
}

.mobileModal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.mobileModal-content {
  background-color: var(--color-primary-bg);
  margin: var(--pageBorder-width);
  padding: var(--pageBorder-width);
  width: calc(100vw - (2 * var(--pageBorder-width)));
  border-radius: var(--pageBorder-width);
  box-shadow: 0 calc(var(--pageBorder-width) / 3) var(--pageBorder-width) rgba(0, 0, 0, 0.5);
}

.mobileModalCloseBtn {
  color: var(--color-primary-text);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  line-height: 1rem;
}

.mobileModalCloseBtn:hover {
  color: var(--color-epierrot);
}

#btnPhonBtn {
  @apply fixed md:p-0 bg-primary-bg;
  top: var(--pageBorder-width);
  left: 0;
  fill: var(--color-primary-text);
  z-index: 1000;
  padding: 0.8rem 0 0 0.8rem;
}

#btnPhonBtn:hover {
  fill: var(--color-epierrot);
}

/* ImgLink */
.imgLink img {
  max-height: 6rem;
  max-width: 18rem;
  padding: 1rem;
}

@media (max-width: 768px) {

  #special-section {
    display: none !important;
  }

  .mobile-only-btn-container {
    text-align: center;
    margin: var(--pageBorder-width);
  }

  #openMobileModalBtn {
    display: block !important;
    padding: var(--pageBorder-width);
    background-color: var(--color-primary-text);
    color: var(--color-primary-bg);
    border: none;
    border-radius: calc(var(--pageBorder-width) / 2);
    cursor: pointer;
    font-size: 1rem;
    margin: var(--pageBorder-width);
  }
}

#menu h2[class^='section-'],
#menu .nav_item {
  @apply cursor-pointer;
}

#menu h2[class^='section-'] {
  font-variant-caps: small-caps;
  padding: min(1.5vw, 3vh) 0;
  font-size: min(2vw, 4vh);
}

@media (max-width: 768px) {
  #menu h2[class^='section-'] {
    padding: calc(0.5 * var(--pageBorder-width)) 0;
    font-size: 1.5rem;
  }
}

#menu h2[class^='section-']>span {
  @apply text-base;
}

#menu h2[class^='section-'].open {
  @apply mt-4;
}

#menu div.nav_item.open {
  @apply mb-4;
}

#menu h2[class^="section-"] {
  @apply transition-all duration-500 ease-in-out;
}

#indexHome {
  @apply cursor-pointer;
}

#menu .nav_item.open h2 {
  @apply mt-4;
}

#menu div.pageTitle {
  @apply m-0 p-0 max-h-0 overflow-hidden cursor-pointer transition-all duration-500 ease-in-out;
  line-height: 1.5rem;
}

#menu div.nav_item.open div.pageTitle {
  @apply max-h-24 pt-2 text-primary-text;
}

#menu div.nav_item.open div.pageTitle.ended {
  @apply text-secondary-text;
}

#menu h2[class^="section-"]:hover,
#menu div.pageTitle:hover {
  @apply text-epierrot bg-primary-bg;
}

/* middle section */
.mediumSection {
  @apply w-full md:w-1/3 p-newpad;
  padding-top: calc(2 * var(--pageBorder-width) + 4rem);
}

@media (min-width: 768px) {
  .mediumSection {
    padding: calc(2 * var(--pageBorder-width));
    padding-left: calc(2 * var(--pageBorder-width) + 4rem);
  }
}

.mediumSection h1 {
  @apply text-4xl font-bold -m-1;
}

.linkBlock {
  @apply w-full flex flex-col;
}

.linkBlock .linkBox {
  @apply text-epierrot;
}

.linkBlock .linkBox:hover {
  @apply text-primary-text bg-primary-bg;
}

.pageBlock {
  @apply pr-newpad pt-newpad  w-full;
}

.postTitle {
  padding: calc(2 * var(--pageBorder-width)) 0;
}

/* links */

.smalllink,
.smalllinkcv {
  @apply flex flex-row justify-start items-center py-2;
}

.smalllink *,
.smalllinkcv * {
  @apply transition-all duration-500 ease-in-out;
}

.smalllink span,
.smalllinkcv span {
  @apply pl-4 text-primary-text font-bold;
}

.smalllink:hover {
  @apply bg-primary-bg;
}

.smalllink:hover svg {
  fill: var(--color-epierrot);
}

.smalllink:hover span {
  @apply text-epierrot;
}

.smalllinkcv span a {
  @apply text-primary-text cursor-pointer;
}

.smalllinkcv span a:hover {
  @apply text-epierrot bg-primary-bg;
}

/* lightgallery */

#lightgallery {
  @apply w-full h-auto flex flex-col justify-start flex-wrap;
}

#lightgallery .boxIso {
  @apply md:max-w-132;
}

#lightgallery>a {
  @apply border-0 w-auto;
  aspect-ratio: 2;
}

#lightgallery>a:hover {
  @apply bg-transparent;
}

#lightgallery img {
  @apply object-cover w-full h-full cursor-pointer;
  aspect-ratio: 1;
}

#lightgallery .imag {
  @apply rounded
}

img.lg-object {
  padding: calc(2 * var(--pageBorder-width));
  border-radius: calc(4 * var(--pageBorder-width));
}

/* mainBlock */
.mainBlock {
  @apply w-full md:w-2/3 max-w-4xl md:mt-16 p-newpad;
}

/* docLink */
.docLink {
  @apply inline-block font-bold;
}

.docLink:hover {
  @apply text-primary-text bg-primary-bg;
}

/* video */
.embed-wrapper {
  @apply overflow-hidden relative;
  padding-top: 56.25%;
  border-radius: .25rem;
}

.embed-wrapper iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* toc */
ul#tocList {
  margin-left: 0 !important;
}

ul.toc__sublist {
  list-style: none;
}

.toc__sublist a {
  @apply text-primary-text;
}

.toc__sublist a:hover {
  @apply text-epierrot bg-primary-bg;
}

/* content */
#content h1 {
  @apply text-3xl font-bold pt-8 pb-3;
}

#content h2 {
  @apply text-2xl font-bold pt-6 pb-2;
}

#content h3 {
  @apply text-xl font-bold pt-4 pb-0;
}

#content h1 {
  @apply text-xl italic pt-4 pb-0;
}

/* cv */
#cv h1 {
  @apply text-3xl font-bold pt-8 pb-3;
}

/* print */
@media print {
  @page {
    margin: 1.2cm 1.2cm 1.2cm 3cm;
    font-size: 11pt;
  }

  :root {
    @apply font-sans bg-white text-black leading-6 box-border;
  }

  *,
  html,
  body,
  main {
    @apply bg-white text-black text-base border-pageborder-bg;
    font-size: 11pt;
    line-height: 1.4rem;
    margin: 0;
    float: none;
    font-variant-ligatures: common-ligatures;
    background-color: #fff !important;
  }

  html.light,
  html.dark {
    --color-primary-bg: white;
    --color-secondary-bg: white
      /* C2DEDC 9CC1C2 FBE4B3 */
      --color-tertiary-bg: white;
    --color-pageborder-bg: #fff;
    --color-primary-text: black;
    --color-secondary-text: black;
    --color-epierrot: #e34334;
    /* 006284 116A7B 344672 */
    --color-borders: black;
  }

  a[href^="http://"].pdf::after,
  a[href^="https://"].pdf::after {
    content: " [" attr(href) "]";
  }

  b i {
    @apply font-bold italic;
  }

  main,
  .frame {
    @apply border-none py-0 my-0;
  }

  div.level1,
  p {
    margin-bottom: 0.5rem;
  }

  div.level1,
  p,
  i,
  li,
  h1 {
    page-break-before: auto;
    page-break-inside: avoid;
    text-overflow: ellipsis;
    float: none;
  }

  a,
  a:hover,
  a:active,
  a:visited,
  .comment {
    @apply border-0 text-black;
    text-decoration: none !important;
    font-weight: inherit;
  }

  h1 {
    @apply text-4xl mb-20 mt-0;
  }

  h2 {
    @apply text-lg pt-2;
  }

  /* fixing base.css for print */
  .revers {
    @apply bg-white text-black pb-1 pt-0.5 mr-2 rounded-sm md:rounded transition-colors duration-700 ease-in-out inline;
    box-shadow: none;
    box-decoration-break: clone;
  }

  .revers::after {
    content: " |";
  }

  .filterOption.revers {
    @apply my-1 mr-8 font-bold pt-1;
    box-shadow: none;
  }

  .filterOption.revers:hover {
    @apply text-black bg-white;
  }

  .backButton,
  #languageMode {
    @apply invisible h-0 w-0 p-0 m-0;
  }

  .videoFrame {
    @apply invisible h-0 w-0 p-0 m-0;
  }

  .videoLink {
    @apply visible h-auto w-auto;
  }

  #search,
  #footer,
  #CDJPlogo {
    @apply invisible h-0 w-0 p-0 m-0;
  }
}