{{ if ne (dateFormat "2006" .context.Date) "0001" }}
<div id="{{- .context.Slug }}"
    class='menuBox {{ .context.Section  }}{{- if eq .context.Params.status "ended" }} ended{{ end -}}'
    aria-label="{{- .context.Title |safeHTML -}}" data-cat-sort="{{if .sort }}{{ .sort }}{{ else }}1{{ end }}"
    data-date="{{ .context.Date }}" data-section="{{ .context.Section  }}">{{if .dynC }}<div class="newpad-b line-b">{{
        end }}
        {{ if .sect }}
        <div class="menuBoxCount">
            <div>{{ if eq (( string .sect ) | len ) 1 }}0{{ end }}{{ .sect }}</div>
            <div>{{ if eq (( string .pag ) | len ) 1 }}0{{ end }}{{ .pag }}</div>
        </div>
        {{ else }}
        <div class="menuBoxCount"></div>
        {{ end }}
        <a class="boxIso{{ if .context.Section}} {{ .context.Section }}{{ end }}{{ if not .intro }} min-h-136{{ end }}"
            href="{{ .context.Permalink }}">
            <div class="flex flex-col items-start">
                <h2 class='boxTitle'>{{- .context.Title |safeHTML }}</h2>
                {{ if not .intro }}
                <div class="boxMeta">
                    <div class="w-1/2 pr-2">
                        {{ .context.Section | humanize }}
                    </div>
                    <div class="w-1/2 pl-2">
                        {{ if or ( eq .Section "event" ) ( eq .Section "presentations" ) }}{{ dateFormat "Jan 2006"
                        .Date }}
                        {{ else }}{{ dateFormat "2006" .context.Date }}{{ end }}
                        {{if eq .context.Params.status "ended"}} · {{ i18n "ended" -}}{{ end }}
                    </div>
                    <div class="w-full">
                        {{ if eq .context.Section "publications" }}
                        {{ if .context.Params.shortConf }}{{ .context.Params.shortConf }}{{ end }}
                        {{ if .context.Params.shortBook }}{{ .context.Params.shortBook }}{{ end }}
                        {{ if .context.Params.shortJournal }}{{ .context.Params.shortJournal }}{{ end }}
                        {{ if .context.Params.shortSection }}In {{ .context.Params.shortSection }}{{ end }}
                        {{ if .context.Params.shortMemoire }}{{ .context.Params.shortMemoire }}{{ end }}
                        {{ else if eq .context.Section "events" }}
                        {{ if .context.Params.intervenants }}{{ $len := len .context.Params.intervenants }}
                        {{ $count := 0 }}
                        {{ range .context.Params.intervenants }}
                        {{ .name -}}
                        {{ $count = add $count 1 }}
                        {{- if ne $count $len -}}, {{ end }}
                        {{ end }}<br>{{ end }}
                        @ {{ .context.Params.institution.name }}
                        {{ else if eq .context.Section "presentations" }}
                        {{ i18n "for" }}{{ if .context.Params.collaboration }}
                        {{ $len := len .context.Params.collaboration }}
                        {{ $count := 0 }}
                        {{ $intitut := .context.Params.institution.name }}
                        {{ range .context.Params.collaboration }}
                        {{ if ne .name $intitut }}{{ .name -}}
                        {{ $count = add $count 1 }}
                        {{- if eq $count $len -}}, {{ end }}{{ end }}
                        {{ end }}{{ else }} {{ .context.Params.institution.name }}{{ end }}
                        {{ else if eq .context.Section "teaching" }}
                        {{ .context.Params.institution.name }}
                        {{ else if eq .context.Section "courses" }}
                        {{ if .context.Params.collaboration }}{{ $len := len .context.Params.collaboration }}
                        {{ $count := 0 }}
                        {{ range .context.Params.collaboration }}
                        {{ .name -}}
                        {{ $count = add $count 1 }}
                        {{- if ne $count $len -}}, {{ end }}
                        {{ end }}{{ else }} {{ .context.Params.institution.name }}{{ end }}
                        {{ else if eq .context.Section "projects" }}{{ if .context.Params.institution.name }}@ {{
                        .context.Params.institution.name }}{{ end }}{{ end }}
                    </div>
                </div>
                {{ end }}
            </div>
            <div class="newpad-y text-sm">
                {{ if .context.Description }}{{ .context.Description }}
                {{ else if .context.Params.Reference }}{{ .context.Params.Reference | safeHTML }}
                {{ else if .context.Params.Abstract }}{{ .context.Params.Abstract | safeHTML }}{{if .Params.projectby }}, {{ i18n "by" }} {{ .Params.projectby }}{{ end }}{{ end }}
            </div>
            {{ if .context.Params.frontphoto }}
            <div class="boxIsoImg duotone newpad"
                style="background-image: url('https://drive.google.com/thumbnail?id={{- .context.Params.frontphoto | safeHTML -}}&sz=w500');">
            </div>
            {{ end }}
        </a>
    </div>
    {{ end }}