{{ if ne (dateFormat "2006" .context.Date) "0001" }}
{{ $Img := print .context.Params.frontphoto }}
<div class='menuBox {{ .context.Section  }} {{- if eq .context.Params.status "ended" }} ended{{ end -}}'
    aria-label="{{- .context.Title |safeHTML -}}" data-cat-sort="{{if .sort }}{{ .sort }}{{ else }}1{{ end }}"
    data-date="{{ .context.Date }}" data-section="{{ .context.Section  }}">
    <a class="boxIso newpad-y{{ if .context.Section}} {{ .context.Section }}{{ end }}" href="{{ .context.Permalink }}">
        <span class="headUpMain">
            <span class="headUpImg duotone" style="background-image: url('https://drive.google.com/thumbnail?id={{- $Img -}}&sz=w500');"></span>
            <span class="headUpTitle">
                <h2 class="boxTitleIn">{{- .context.Title
                    |safeHTML }}{{if eq .context.Params.status "ended"}} ({{- i18n "ended" -}}){{ end
                    }}</h2>
                <span class="boxAff">
                    {{ if eq .context.Params.layout "member" }}
                        {{ $parts := .context.Params.shortdescription }}{{ $splitParts := split $parts "," }}
                        {{ range $index, $part := $splitParts }}{{ if ne $index 0 }} · {{ end }}{{ $part }}{{ end }}
                    {{ else }}{{ $str := (i18n .context.Params.Subsection) }}{{ $str }}
                        {{ if eq .context.Section "publications" }} · {{ dateFormat "2006" .context.Date }}
                        {{ else if eq .context.Section "projects" }} · {{ dateFormat "Jan 2006" .context.Date }}
                        {{ else if eq .context.Params.slug "chaire" }}Cnam
                        {{ else }} · {{ dateFormat "2006" .context.Date }}{{ end }}
                    {{ end }}
                </span>
            </span>
        </span>
        <span class="headUpDescription">
            <span class="boxDescipt">{{ .context.Params.description }}</span>
            {{ if eq .context.Section "publications" }}<span class="boxInfo">
                {{ if .context.Params.shortConf }}{{ .context.Params.shortConf }}{{ end }}
                {{ if .context.Params.shortBook }}{{ .context.Params.shortBook }}{{ end }}
                {{ if .context.Params.shortJournal }}{{ .context.Params.shortJournal }}{{ end }}
                {{ if .context.Params.shortSection }}In {{ .context.Params.shortSection }}{{ end }}
                {{ if .context.Params.shortMemoire }}{{ .context.Params.shortMemoire }}{{ end }}
            </span>{{ else if eq .context.Section "events" }}<span class="boxInfo">
                {{ if .context.Params.intervenants }}{{ $len := len .context.Params.intervenants }}
                {{ $count := 0 }}
                {{ range .context.Params.intervenants }}
                {{ .name -}}
                {{ $count = add $count 1 }}
                {{- if ne $count $len -}}, {{ end }}
                {{ end }}<br>{{ end }}
                {{ .context.Params.institution.name }}
            </span>{{ else if eq .context.Section "presentations" }}<span class="boxInfo">
                {{ i18n "for" }}{{ if .context.Params.collaboration }}
                {{ $len := len .context.Params.collaboration }}
                {{ $count := 0 }}
                {{ $intitut := .context.Params.institution.name }}
                {{ range .context.Params.collaboration }}
                {{ if ne .name $intitut }}{{ .name -}}
                {{ $count = add $count 1 }}
                {{- if eq $count $len -}}, {{ end }}{{ end }}
                {{ end }}{{ else }} {{ .context.Params.institution.name }}{{ end }}
            </span>{{ else if eq .context.Section "education" }}<span class="boxInfo">
                {{ if .context.Params.collaboration }}{{ $len := len .context.Params.collaboration }}
                {{ $count := 0 }}
                {{ range .context.Params.collaboration }}
                {{ .name -}}
                {{ $count = add $count 1 }}
                {{- if ne $count $len -}}, {{ end }}
                {{ end }}{{ else }} {{ .context.Params.institution.name }}{{ end }}
            </span>{{ else if eq .context.Section "projects" }}<span class="boxInfo">{{ if
                .context.Params.institution.name }}{{ .context.Params.institution.name }}{{ end }}</span>{{ end }}
        </span>
        </span>
    </a>
</div>
{{ end }}