{{ define "main" }}
<div class="mainBlock">
    <div class="mainMenu">
        {{ $s := 1 }}
        {{ $len := len .Sections }}
        {{ range .Sections }}{{ if ne .Slug "pl" }}
        <span class="section-{{- .Slug }} inline-block px-1 py-0.5">
                <span class="inline text-xs">0{{- $s }} ·</span>&nbsp;<span class="inline text-lg font-bold">{{ i18n .Slug  | humanize }}</span>
        </span>
        {{ if ne (add $s 1) $len }}&nbsp;/&nbsp;{{ end }}
        {{ $s = add $s 1 }}{{ end }}{{ end }}
    </div>
    {{ $s := 1 }}
    {{ range .Sections }}{{ if ne .Slug "pl" }}
    {{ $p := 1 }}
    <div class="mainMenuBlock">
        <div class="sectionBlock section-{{- .Slug -}}">
            <a class="menuSection" href="{{ .Slug }}">
                <div class="w-full"><span class="inline-block w-1/12 md:w-auto shrink-0 grow-0">{{ if eq (( string $s ) | len ) 1 }}0{{ end }}{{ $s }} ·</span>
                <span class="inline-block w-auto md:w-full">{{- i18n .Slug  | humanize -}}</span></div>
            </a>
        </div>
        <div class="w-full"><span class="inline-block w-1/12 shrink-0 grow-0">&nbsp;</span>
        <span class="inline-block w-full">
        <div class="topicBlock">
            {{ range .Pages }}{{ if ne .Params.notListed true }}{{ if .Params.frontpage }}
            {{- partial "box.html" ( dict "context" . "sect" $s "pag" $p ) -}}
            {{ $p = add $p 1 }}
            {{ end }}{{ end }}{{ end }}
        </div></span></div>

    </div>
    {{ $s = add $s 1 }}
    {{ end }}{{ end }}
</div>
{{ end }}
