{{ if .Params.redirect }}<meta http-equiv="Refresh" content="0; url='{{ .Params.redirect }}'" />{{ end }}
<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
{{- partial "head.html" . -}}

<body id="{{ .Params.bodyclass }}" class="min-h-screen">
  <main class='w-full lg:w-auto' data-pagefind-body>  
    {{ partial "title.html" . }}
    {{- block "main" . }}{{- end }}
    {{ partial "footer.html" . }}
  </main>
</body>
{{ if .Params.photogallery }}
{{ $spo_js := resources.Get "js/spotl.js" | minify }}
<script defer src="{{ $spo_js.Permalink }}"></script>
{{ end }}
</html>