{{ if .Params.redirect }}
<meta http-equiv="Refresh" content="0; url='{{ .Params.redirect }}'" />{{ end }}
<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
{{- partial "head.html" . -}}

<body id="{{ .Params.bodyclass }}" class="overflow-x-hidden md:overflow-x-auto">
<main class="h-full min-h-screen w-screen p-2 pb-8 md:p-0 md:pb-8">
    {{- block "main" . }}{{- end }}
  </main>
</body>
{{ if ne .Params.layout "else" }}
{{ $muu_js := resources.Get "js/muu.js" | minify }}
<script defer src="{{ $muu_js.Permalink }}"></script>
{{ end }}
{{ if .Params.photogallery }}
{{ $spo_js := resources.Get "js/spotl.js" | minify }}
<script defer src="{{ $spo_js.Permalink }}"></script>
{{ end }}
</html>