{{ define "main" }}
    {{ $langu := .Site.Language.Lang }}
    <div class="w-full overflow-hidden flex flex-col md:flex-row">
        <div class="w-1/6 pl-5 pr-20 self-end">&nbsp;</div>
        <div class="max-w-3xl w-full px-5">
            {{ if .Content}}
                {{ .Content }}
            {{ end }}
            {{ if .Params.lectures}}
                <div class="flex flex-row justify-start items-start mt-20">
                    <b class="flex-shrink-0 px-2">/
                        {{ i18n "courses" }}
                        /</b>
                    <div class="w-auto lg:w-full">{{ $cod := .Params.code }}
                        {{ range sort .Params.lectures "order" "asc" }}
                            <a class="uppercase" href="../{{ $cod }}/{{ .link }}">
                                <b>{{ $cod }}/{{ .order }}&nbsp;&middot;&nbsp;</b>
                                {{- replace .Title " | " "&middot;" |safeHTML -}}</a>
                            <br>
                            {{ end }}
                        </div>
                    </div>
                {{ end }}
            </div>
            <div class="w-2/6 pl-20 pr-5">&nbsp;</div>
        </div>
    {{ end }}
