{{ define "main" }}
<div class="flex flex-col justify-left items-stretch w-auto md:w-full max-w-7xl mx-auto">
    {{ partial "list-title.html" . }}
    <div class="publili">
        <div class="muugrid w-full md:w-auto">
            {{ $count := 0 }}
            {{ range where .Site.Pages "Section" "in" (slice .Params.zone) }}
            {{ if ne .Params.notListed true }}
            {{ $count = add $count 1 }}
            {{- partial "box.html"  ( dict "context" . "cou" $count "colu" 3) -}}
            {{ end }}{{ end }}
        </div>
    </div>
</div>
{{ $muu_js := resources.Get "js/muu.js" | minify }}
<script defer src="{{ $muu_js.Permalink }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        switchBurger();
    });
</script>
{{ end }}