{{ define "main" }}
{{ partial "list-title.html" . }}
    <div class="muugrid publili w-full md:w-auto">
    {{ $count := 0 }}
    {{ range where .Site.Pages "Section" "in" (slice .Params.zone) }}
    {{ if ne .Params.notListed true }}
    {{ $count = add $count 1 }}
    {{- partial "box.html" ( dict "context" . "cou" $count) -}}
    {{ end }}{{ end }}
</div>
{{ $muu_js := resources.Get "js/muu.js" | minify }}
<script defer src="{{ $muu_js.Permalink }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        switchBurger();
    });
</script>
{{ end }}