<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
{{- partial "head.html" . -}}
{{ $col := .Params.collaboration }}
<body id="presentation" class="reveal">
    <div class="slides">
        <section class="flex flex-row justify-start w-screen h-screen text-left" data-transition="fade">
            <footer class="w-1/5 h-screen ">
                <div class="md:visible w-full h-full flex flex-col justify-between">
                    <div class="flex flex-col items-center justify-end h-full px-0">
                        {{ partial "slide-collab.html" ( dict "context" . "colla" .Params.collaboration ) }}
                    </div>
                    <div class="h-20 frame">&nbsp;</div>
                </div>
            </footer>
            <div class="w-4/5 flex-grow flex flex-row justify-start">
                <div class="w-3/5 framebox">
                    {{ if .Params.frontphoto }}<img class="h-full w-full object-cover noBorder" loading="lazy"
                        src="{{ .Params.frontphoto }}">{{ end }}
                </div>
                <div class="w-2/5 h-full flex flex-col">
                    <div class="w-full h-full flex flex-col justify-center px-6">
                        {{ if ne .Title "none" }}<h1 class="text-xl md:text-2xl font-bold">
                            {{ .Title |safeHTML }}</h1>{{ end }}
                        <a href="{{ .Page.Permalink }}" title="{{ .Params.Title }}" rel="noreferrer" target="_blank"
                            class="text-sm my-6"><span id="qrcode"
                                class="block h-20 md:h-36 w-20 md:w-36 mb-8 md:mb-22"></span></a>
                        <div class="md:text-xl font-bold mb-1">Pierre Lévy – <a href="mailto:pierre.levy@lecnam.net"
                                title="Le Cnam" rel="noreferrer" target="_blank"
                                class="inline-block md:text-xl">pierre.levy@lecnam.net</a></div>
                        <div class="md:text-xl"><span class="font-bold">C</span>onservatoire <span
                                class="font-bold">N</span>ational des <span class="font-bold">A</span>rts et <span
                                class="font-bold">M</span>étiers</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="flex flex-row justify-start w-screen h-screen text-left" data-transition="fade">
            <footer class="w-1/5 h-screen ">
                <div class="md:visible w-full h-full flex flex-col justify-between">
                    <div class="flex flex-col items-center justify-end h-full px-0">
                        {{ partial "slide-collab.html" ( dict "context" . "colla" .Params.collaboration ) }}
                    </div>
                    <div class="h-20 frame">&nbsp;</div>
                </div>
            </footer>
            <div class="w-4/5 frame flex justify-end items-center md:justify-center bg-white ">
                <div id="qrcode2" class="noBorder object-contain" loading="lazy"></div>
            </div>
        </section>
        {{ $bgcol := .Params.bgcol }}{{ $footpict := .Params.frontphoto }}
        {{ range .Params.slidelist}}{{ $slidnumb := . }}
        {{ range sort site.Pages "File.BaseFileName" }}
        {{ if eq .File.Dir "presentations/slides/" }}{{ if eq .File.BaseFileName $slidnumb }}
        {{ partial "slide.html" ( dict "context" . "bgcolo" $bgcol "ftpict" $footpict "collab" $col ) }}
        {{ end }}{{ end }}{{ end }}{{ end }}
        <section class="flex flex-row justify-start w-screen h-screen text-left" data-transition="fade">
            <footer class="w-1/5 h-screen ">
                <div class="md:visible w-full h-full flex flex-col justify-between">
                    <div class="flex flex-col items-center justify-end h-full px-0">
                        {{ partial "slide-collab.html" ( dict "context" . "colla" .Params.collaboration ) }}
                    </div>
                    <div class="h-20 frame">&nbsp;</div>
                </div>
            </footer>
            <div class="w-4/5 flex-grow flex flex-row justify-start">
                <div class="w-3/5 framebox">
                    {{ if .Params.frontphoto }}<img class="h-full w-full object-cover noBorder" loading="lazy"
                        src="{{ .Params.frontphoto }}">{{ end }}
                </div>
                <div class="w-2/5 h-full flex flex-col">
                    <div class="w-full h-full flex flex-col justify-center">
                        {{ if ne .Title "none" }}<h1 class="text-xl md:text-2xl font-bold frame">
                            {{ .Title |safeHTML }}</h1>{{ end }}
                        <div class="text-xl font-bold h-full flex items-center frame">{{ .Params.merci }}</div>
                        <div class="text-sm md:text-xl font-bold frame">Pierre Lévy – <a
                                href="mailto:pierre.levy@lecnam.net" title="Le Cnam" rel="noreferrer" target="_blank"
                                class="inline-block text-sm md:text-xl">pierre.levy@lecnam.net</a>
                            <div class="text-xs md:text-xl mt-5"><span class="font-bold">C</span>onservatoire <span
                                    class="font-bold">N</span>ational des <span class="font-bold">A</span>rts et <span
                                    class="font-bold">M</span>étiers</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

{{ $reveal_js := resources.Get "js/reveal.js" | minify }}
<script src="{{ $reveal_js.Permalink }}"></script>
{{ $qr_js := resources.Get "js/qrgen.js" | minify }}
<script src="{{ $qr_js.Permalink }}"></script>
<script>
    Reveal.initialize({
        controls: false,
        progress: true,
        slideNumber: true,
        hash: true,
        disableLayout: true,
        pdfMaxPagesPerSlide: 1,
        pdfSeparateFragments: false
    });

    const qrcode = new QRCode(document.getElementById('qrcode'), {
        text: {{ .Page.Permalink }},
        width: 500,
        height: 500,
        colorDark: '#000',
        colorLight: '#fff',
        correctLevel: QRCode.CorrectLevel.H
    });

    const qrcode2 = new QRCode(document.getElementById('qrcode2'), {
        text: {{ .Page.Permalink }},
        width: 500,
        height: 500,
        colorDark: '#000',
        colorLight: '#fff',
        correctLevel: QRCode.CorrectLevel.H
    });
</script>

</html>