{{ define "main" }}
    {{ $langu := .Site.Language.Lang }}
    <div class="w-full overflow-hidden flex flex-col md:flex-row" {{if .Params.searchWeight }} data-pagefind-weight="{{.Params.searchWeight }}" {{ end }}>
        <div class="max-w-3xl w-full px-5" id="content">
            <div class="flex flex-row flex-wrap mb-8 md:mb-22">
                <div class="invisible md:visible md:mr-4 flex-shrink-0 flex-grow-0 h-0 md:h-40 w-0 md:w-40">
                    <span id="qrcode" class="block h-0 md:h-36 w-0 md:w-36 md:mb-8 md:p-3 bg-white rounded-lg"></span>
                </div>
                {{ if .Content}}
                    <div id="content" class="flex-shrink flex-grow w-52">
                        {{ .Content }}
                    </div>
                {{ end }}
            </div>
            {{ if .Params.slides }}
            {{ $slid := .Params.slides }}
            {{ $ord := 1 }}
            <div class="flex flex-row flex-wrap" id="lightgallery">
                {{ range $slid }}
                    {{ $typ := index . 0 }}
                    {{ if eq $typ "img" }}
                        <a class="place-self-center w-full lg:w-44 mr-4 mb-4" href="{{ index . 1 }}&width=3840&height=2160" aria-label="See image {{ $ord }}">
                            <img class="rounded-sm object-cover" loading="lazy" src="{{ index . 1 }}&width=600" alt="image {{ $ord }}"></a>
                    {{ else if eq $typ "mov"}}
                        <a  data-lg-size="1280-720"
                            data-src="//vimeo.com/129643275"
                            data-poster="{{ index . 2 }}"
                            class="place-self-center w-full lg:w-44 mr-4 mb-4">
                    <img class="rounded-sm object-cover" loading="lazy" src="{{ index . 2 }}" alt="video {{ $ord }}">
                    </a>
                    {{ end }}
                    {{ $ord = add $ord 1 }}
                {{ end }}
            </div>
            {{ end }}
        </div>
        <div class="md:w-2/6 px-5 md:pl-20 self-start">&nbsp;</div>
    </div>

{{ $qr_js := resources.Get "js/qrgen.js" | minify }}
<script src="{{ $qr_js.Permalink }}"></script>
<script defer="defer">
    const qrcode = new QRCode(document.getElementById('qrcode'), {
        text: {{ .Page.Permalink }},
        width: 500,
        height: 500,
        colorDark: '#000',
        colorLight: '#fff',
        correctLevel: QRCode.CorrectLevel.H
    });
</script>

<style>
@font-face {
    font-family: "lg";
    src: url(/lg.woff2) format("truetype");
}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/lightgallery.min.js" integrity="sha512-jEJ0OA9fwz5wUn6rVfGhAXiiCSGrjYCwtQRUwI/wRGEuWRZxrnxoeDoNc+Pnhx8qwKVHs2BRQrVR9RE6T4UHBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lightgallery.min.css" integrity="sha512-F2E+YYE1gkt0T5TVajAslgDfTEUQKtlu4ralVq78ViNxhKXQLrgQLLie8u1tVdG2vWnB3ute4hcdbiBtvJQh0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://player.vimeo.com/api/player.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/plugins/video/lg-video.min.js" integrity="sha512-Eo7d/1I/2Yywxw/unjfX06Q+owD82+3ign70yHtNTajId+C3CcHeqb+XP/a+uq/Fhrrkf8MeBcBiZqoMASFiiw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lg-video.min.css" integrity="sha512-89gDQOHnYjji90NPJ7+M5tgA/0E+fjL4KuSFhi6tjH6sZ54yUEogPMmOAgbI599fW1CtCyrsJbch8k/QzuoXzw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/plugins/hash/lg-hash.min.js" integrity="sha512-7c9ZgozFwxmWalyapzhmzAChRvi0p7vhxWdrE3OjvFHnxuw6h6DBSOvtO1XytEj8MQI2Jp0Tm2BJwLUU7zAMvA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/plugins/fullscreen/lg-fullscreen.min.js" integrity="sha512-11B0rPDzvnSOYzAT37QdnYgt0z9Xg+wX5tckB1QKl5Znl8RPvrB5npo38K2jCt+Ad44udCfBiKt9D4jRdkSE1A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lg-fullscreen.min.css" integrity="sha512-JlgW3xkdBcsdFiSfFk5Cfj3sTgo3hA63/lPmZ4SXJegICSLcH43BuwDNlC9fqoUy2h3Tma8Eo48xlZ5XMjM+aQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script type="text/javascript">
    lightGallery(document.getElementById('lightgallery'), {
        licenseKey: "86E42556-05764516-9C2C8B36-B8B2858F",
        plugins: [lgVideo, lgFullscreen, lgHash], //
        speed: 500,
        download: false,
        loop: false,
        mode: "lg-fade",
        nextHtml: ">",
        prevHtml: "<",
        showBarsAfter: 2000,
        videojs: true,
        getCaptionFromTitleOrAlt: false,
        videoMaxWidth: "1080px",
        videojs: true,
        vimeoPlayerParams: {
            byline : 0,
            portrait : 0,
            color : 'CCCCCC'
        },
        youTubePlayerParams: {
            modestbranding : 1,
            showinfo : 0,
            controls : 0
        },
        loadYouTubePoster: true
    });
</script>
{{ end }}
