{{ if .Params.redirect }}
<meta http-equiv="Refresh" content="0; url='{{ .Params.redirect }}'" />{{ end }}
<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
{{- partial "head.html" . -}}

{{ $mainphoto := .Params.frontphoto }}
{{ $grad1 := "#C9D6FFCF 0%"}}
{{ $grad2 := "#FFFFFF 50%"}}

{{ $titl := .Title }}
{{ $pagNumb := 0 }}
<body id="prez">
    <div class="splide">
        <div class="splide__track">
            <div class="splide__list">
                {{ if .Params.slides }}
                {{ $slid := .Params.slides }}
                <div class="splide__slide">
                    <div class="slideContent">
                        <div class="backg"><img src="{{ $mainphoto }}" class="h-full w-full"></div>
                        <div class="grad"
                            style="background-image: linear-gradient(135deg, {{ $grad1 }}, {{ $grad2 }});"></div>
                        <div>
                            <h1>{{ .Title }}</h1>
                            <p class="m-0 font-bold">Pierre Lévy - <a href="mailto:pierre.levy@lecnam.net"
                                    class="font-normal">pierre.levy@lecnam.net</a></p>
                            <p class="cnamletters"><span>C</span>onservatoire <span>n</span>ational des
                                <span>a</span>rts et <span>m</span>étiers
                            </p>
                            {{ if .Params.collaboration }}
                            <div class="flex flex-row flex-wrap justify-start mt-10">
                                {{ range sort .Params.collaboration }}
                                <a href="{{ .web }}" target="_blank" class="collab">
                                    {{ if .colo }}
                                    {{ partial "icons.html" (dict "ico" .logo "hei" .heig "colo" .colo) -}}
                                    {{else}}
                                    {{ partial "icons.html" (dict "ico" .logo "hei" .heig) -}}
                                    {{ end }}
                                </a>
                                {{ end }}
                            </div>
                            {{ end }}
                            <div id="qrcode" class="p-2 bg-white rounded-lg absolute bottom-10"></div>
                        </div>

                    </div>
                    <div class="slideFooter">{{ $pagNumb }}|<span class="opacity-50">{{ $slid | len }}</span> · Pierre
                        Lévy |
                        Cnam · <a href="mailto:pierre.levy@lecnam.net" class="footTxt">pierre.levy@lecnam.net</a> · {{
                        $titl }}
                    </div>
                </div>
                {{ range $slid }}
                {{ $pagNumb = add $pagNumb 1 }}
                {{ $has := index . 0 }}
                <div class="splide__slide" data-splide-hash="{{ $has }}">
                    <div class="slideContent">
                        <div class="grad"
                            style="background-image: linear-gradient(135deg, {{ $grad1 }}, {{ $grad2 }});"></div>
                        {{ $sli := print "presentations/slides/" $has }}
                        {{ if eq (index . 1) "img" }}
                        <img class="h-full w-full object-contain border-0 rounded-lg" loading="lazy"
                            src="{{ index . 2 }}" title="{{ index . 0 }}">
                        {{ else if eq (index . 1) "youtube" }}
                        <iframe src="https://www.youtube-nocookie.com/embed/{{ (index . 0) | safeURL }}"
                            class="w-full h-full object-contain" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        {{ else if eq (index . 1) "vimeo" }}
                        <iframe src="https://player.vimeo.com/video/{{ index . 2 }}"
                            class="w-full h-full object-contain" frameborder="0" allow="autoplay; fullscreen"
                            allowfullscreen></iframe>
                        {{ else if eq (index . 1) "title" }}
                        <div class="backg"><img src="{{ $mainphoto }}" class="h-full w-full"></div>
                        <div class="w-full h-full flex justify-center items-center"><h1>{{ index . 0 }}</h1></div>
                        {{ else if eq (index . 1) "slide" }}
                        {{ with $.Site.GetPage $sli }}
                        <div class="backg"><img src="{{ .Params.backphoto }}" class="h-full w-full"></div>
                        {{ if eq .Params.slide "normal"}}
                        <h1>{{ .Title }}</h1>
                        <div>{{ .Content | safeHTML }}</div>
                        {{ else if eq .Params.slide "image-right"}}
                        <h1>{{ .Title }}</h1>
                        <div class="flex flex-row w-full justify-between">
                            <div class="w-2/3 flex-grow pr-10">
                                {{ .Content | safeHTML }}
                            </div>
                            {{ range .Params.photos }}
                            <div class="w-1/3 flex-shrink flex flex-col">
                                <div class="imgright">
                                    <img class="object-contain" src="{{ index . 0 }}" title="{{ index . 1 }}">
                                </div>
                                <div class="miniTxt px-3 py-1 self-start">{{ index . 1 }}</div>
                            </div>
                            {{ end }}
                        </div>
                        {{ end}}
                        {{ end }}
                        {{ end }}
                    </div>
                    <div class="slideFooter">{{ $pagNumb }}|<span class="opacity-50">{{ $slid | len }}</span> · Pierre
                        Lévy | Cnam · <a href="mailto:pierre.levy@lecnam.net" class="footTxt">pierre.levy@lecnam.net</a>
                        · {{ $titl }}
                    </div>
                </div>
                {{ end }}
                <div class="splide__slide">
                    <div class="slideContent">
                        <div class="backg"><img src="{{ $mainphoto }}" class="h-full w-full"></div>
                        <div class="grad"
                            style="background-image: linear-gradient(135deg, {{ $grad1 }}, {{ $grad2 }});">
                        </div>
                        <div>
                            <h1>Merci !</h1>
                            <h1>{{ .Title }}</h1>
                            <p class="m-0 font-bold">Pierre Lévy - <a href="mailto:pierre.levy@lecnam.net"
                                    class="font-normal">pierre.levy@lecnam.net</a></p>
                            <p class="cnamletters"><span>C</span>onservatoire <span>n</span>ational des
                                <span>a</span>rts et <span>m</span>étiers
                            </p>
                        </div>
                    </div>
                    <div class="slideFooter">{{ $pagNumb }}|<span class="opacity-50">{{ $slid | len }}</span> · Pierre
                        Lévy | Cnam · <a href="mailto:pierre.levy@lecnam.net" class="footTxt">pierre.levy@lecnam.net</a>
                        · {{ $titl }}
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    {{ $splide_js := resources.Get "js/splide.js" | minify }}
    <script src="{{ $splide_js.Permalink }}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{ $splideurl_js := resources.Get "js/splide-url.js" | minify }}
    <script src="{{ $splideurl_js.Permalink }}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{ $splide_css := resources.Get "css/splide.css" | postCSS (dict "config" "./postcss.config.js") }}
    {{ $splide_css := $splide_css | minify }}
    <link rel="stylesheet" href="{{ $splide_css.Permalink }}" media="all">

    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="https://www.youtube.com/player_api"></script>

    {{ $qr_js := resources.Get "js/qrgen.js" | minify }}

    <script src="{{ $qr_js.Permalink }}"></script>
    <script defer="defer">
        const qrcode = new QRCode(document.getElementById('qrcode'), {
            text: {{ .Page.Permalink }},
        width: 500,
            height: 500,
                colorDark: '#000',
                    colorLight: '#fff',
                        correctLevel: QRCode.CorrectLevel.H
        });

        var splide = new Splide('.splide', {
            perPage: 1,
            focus: 0,
            omitEnd: true,
            height: 'calc(100vh - 2*var(--splide-padding))',
            width: 'calc(100wh - 2*var(--splide-padding))',
            gap: 'var(--splide-padding)',
            drag: true,
            snap: true,
            paginationDirection: 'ltr',
            keyboard: 'global',
            wheel: true,
            releaseWheel: true,
            speed: 700,
            autoplay: false
        }).mount(window.splide.Extensions);            
    </script>

</body>

</html>