{{ define "main" }}
<div class="muugrid publili w-full md:w-auto">
    {{ partial "title.html" . }}
    <div class="permanent case md:w-96 p-2 flex justify-center items-center">
        <input class="control-field search-field form-control bg-transparent text-center w-full font-bold" type="text"
            name="search" placeholder='{{ i18n "search" }}...' />
    </div>{{ if .Params.photogallery }}{{ partial "photogallery.html" . }}{{ end }}
    {{ if .Params.video}}{{ partial "video.html" . }}{{ end }}
    {{ if .Content }}<div class="item case max-w-3xl">{{ .Content }}</div>{{ end }}
    {{ if .Params.reference }}<div class="item case max-w-5xl">{{ .Params.reference }}</div>{{ end }}
    {{ $targ := .Params.milestone }}
    {{ $count := 0 }}
    {{ range where .Site.Pages "Section" "in" (slice "notion" "publications" "projects") }}
    {{ if isset .Params $targ }}{{ if ne .Params.notEverything true }}{{ if ne .Params.notListed true }}
    {{ $count = add $count 1 }}
    {{- partial "box.html" ( dict "context" . "cou" $count ) -}}
    {{ end }}{{ end }}{{ end }}{{ end }}
    {{ if isset .Params "institution" }}{{- partial "footer.html" (dict "dat" .Date "langu" .Site.Language.Lang "insti"
    .Params.institution.logo "webs" .Params.institution.web "institnam" .Params.institution.name "hei" 1 "layout"
    .Params.layout) -}}
    {{ else }}{{- partial "footer.html" (dict "langu" .Site.Language.Lang "insti" "none" "layout" .Params.layout) -}}{{
    end }}
</div>
{{ end }}