{{ define "main" }}
<div class="muugrid w-full md:w-auto md:w-full">
    {{ partial "title.html" . }}
    <div class="item case item case w-full md:w-auto max-w-xl">
        {{ if .Params.abstract }}<div>{{ .Params.abstract }}</div>{{ else }}<div>&nbsp;</div>{{ end }}
        {{ if .Content}}<div class="mt-10">{{ .Content }}</div>{{ end }}
    </div>
    {{ if isset .Params "institution" }}{{- partial "footer.html" (dict "dat" .Date "langu" .Site.Language.Lang "insti" .Params.institution.logo "webs" .Params.institution.web "institnam" .Params.institution.name "hei" 1 "layout" .Params.layout) -}}
    {{ else }}{{- partial "footer.html" (dict "langu" .Site.Language.Lang "insti" "none" "layout" .Params.layout) -}}{{ end }}
    {{ if .Params.video}}{{ partial "video.html" . }}{{ end }}
    {{ if .Params.photogallery }}{{ partial "photogallery.html" . }}{{ end }}
</div>
{{ end }}