{{ define "main" }}
{{ $langu := .Site.Language.Lang }}
<div class="w-full overflow-hidden flex flex-col md:flex-row">
    <div class="w-1/6 pl-5 pr-20 self-end">&nbsp;</div>
    <div class="max-w-3xl w-full px-5" id="content">
        {{ if .Content}}{{ .Content }}{{ end }}           
    </div>
    <div class="md:w-2/6 px-5 md:pl-20 self-start">
        {{ if .Params.tablecontent }}
            <div class="tablecontent" id="toc">
                <h2>{{ i18n "tableOfContent"}}</h2>
            </div>
        {{ end }}
    </div>
</div>
{{ end }}