{{ define "main" }}
{{ partial "title.html" . }}
{{ if .Params.video}}<section>{{ partial "video.html" . }}</section>{{ end }}
{{ if .Params.photogallery }}<section>{{ partial "photogallery.html" . }}</section>{{ end }}
<section>
    {{ if .Content}}
    <div class="flex flex-col md:flex-row justify-left items-stretch">
        <div class="w-full md:w-2/3 md:max-w-4xl frame">{{ .Content }}</div>
        <div class="flex-shrink flex-grow">
        {{ if .Params.link }}{{ partial "doclink.html" . }}{{ end }}
        {{ if .Params.redirectlecture}}
        <div class="flex flex-row frame h-full">
            <b class="revers w-32 flex-shrink-0">{{ i18n "courses" }}</b>
            <div class="ml-2 w-full">{{ $cod := .Params.code }}{{ $plink := .Params.photocredit.link }}
                {{ range sort .Params.redirectlecture "order" "asc" }}
                <a class="" href="{{ .link }}" target="_blank"
                    rel="noreferrer"><b>{{ $cod }}.{{ .order }}&nbsp;&middot;&nbsp;</b>{{- replace .Title " | " "&middot;" |safeHTML -}}</a><br>
                {{ end }}</div>
        {{ end }}</div>
        {{ if false }}
        {{ $co := .Params.code }}
        {{ range where .Site.Pages.ByDate "Section" "in" (slice "teaching") }}
        {{ if eq .Params.code $co }}{{ if eq .Params.type "session" }}
        <a class="" href="{{ .Permalink }}"><b>{{- .Params.code -}}.{{- .Params.serie }}</b> &middot;
            {{ .Title -}}</a><br>
        {{ end }}{{ end }}{{ end }}
        {{ end }}
    </div>{{ end }}
</section>
{{ end }}

