

{{ define "main" }}
{{ partial "title.html" . }}
{{ if .Content}}<div class="permanent case p-8 lg:p-32 h-auto">{{ .Content }}</div>{{ end }}
{{ if .Params.redirectlecture}}<div class="permanent case lg:w-full max-w-xl flex flex-row justify-start items-start">
    <b class="revers w-32 flex-shrink-0 px-1">{{ i18n "courses" }}</b>
    <div class="ml-2 w-auto lg:w-full py-1">{{ $cod := .Params.code }}{{ $plink := .Params.photocredit.link }}
        {{ range sort .Params.redirectlecture "order" "asc" }}
        <a class="" href="{{ .link }}" target="_blank"
            rel="noreferrer"><b>{{ $cod }}.{{ .order }}&nbsp;&middot;&nbsp;</b>{{- replace .Title " | " "&middot;" |safeHTML -}}</a><br>
        {{ end }}
    </div>
</div>
{{ end }}
</div>
{{ end }}