{{ define "main" }}
<div class="publili w-full m-0 md:m-4">
    <div
        class="permanent case navevery m-0  p-0 fixed md:relative top-0 z-40 mb-2 left-0 md:left-auto w-full md:max-w-sm bg-primary-bg">
        {{ partial "list-menutop.html" . -}}
        <div id="target"
            class="hidden md:flex flex-row md:flex-col flex-wrap w-full py-4 md:pt-0 md:pb-10 px-8 md:px-0 bg-primary-bg md:bg-transparent border-b md:border-0 border-primary-text overflow-y-scroll">
            <nav class="flex-none w-full flex flex-row md:justify-center">
                <div id="topMenu"
                    class="h-full transition-all md:w-full flex flex-col md:flex-row flex-wrap content-start publiselect menu button-group"
                    id="filters">
                    <div class="p-4 md:p-6">
                        <span onclick="tagfilter('.');"
                            class="filterOption tagcloud-item cursor-pointer pr-4 hover:text-epierrot transition-all duration-700 ease-in-out text-sm capitalize font-bold">{{
                            i18n "all" }}</span>
                        {{ partial "tagfront.html" . -}}
                    </div>
                    <input
                        class="control-field search-field form-control bg-transparent mt-10 mx-4 md:mx-6 w-full font-bold"
                        type="text" name="search" placeholder='{{ i18n "search" }}...' />
                </div>
            </nav>
        </div>
    </div>
    <div class="permanent case p-0 min-h-0 min-w-0 w-auto"><a class="text-primary-text "
            href="{{ .Site.BaseURL | absURL }}">{{ partial "icons.html" (dict "ico" "back" "hei" "1.7") -}}</a></div>
            <div class="permanent case h-24 flex justify-center items-center">
                <h1 class="text-2xl font-bold" id="FrontTitle">{{ .Params.title |safeHTML }}</h1></div>
    {{ partial "international.html" . }}
    {{if .Params.updating }}<div class="permanent case w-full md:w-auto">
        <p class="italic text-epierrot">Currently updating</p>
    </div>{{ end }}
    {{ $count := 0 }}
    {{ range .Site.Pages }}{{ if ne .Params.notEverything true }}{{ if ne .Page.Type "tags" }}
    {{ $count = add $count 1 }}
    {{ partial "box.html" ( dict "context" . "cou" $count) -}}
    {{ end }}{{ end }}{{ end }}

</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        switchBurger();
    });
</script>
{{ end }}