:root {
    @apply font-sans text-primary-text leading-6 box-border bg-black;

}

*,
html,
body {
    font-size:17px;
    font-stretch:100%;
    letter-spacing:0.02rem;
    line-height:1.5rem;
    font-display:swap;
    font-weight:normal;
    scroll-behavior:smooth;
    font-variant-ligatures:common-ligatures;
}

body {
    @apply bg-bord md:border-l-8 md:border-t-8 border-bord text-primary-text;
}

body {
    --color-primary-bg: rgb(245, 245, 244);
    --color-secondary-bg: rgb(231, 229, 228);
    --color-primary-text: #1c1c1c;
    --color-secondary-text: #f5f5f4;
    --color-epierrot: #f8003f;
    --color-bord: #fff;
}
body.dark {
    --color-primary-bg: #1e1e1e;
    --color-secondary-bg: #2c2c2c;
    --color-primary-text: rgb(231, 229, 228);
    --color-secondary-text: #f5f5f4;
    --color-epierrot: #03dac6;
    --color-bord: #121212;
}

box {
    @apply transition-all duration-700 ease-in-out;
}

b i {
    @apply font-bold italic;
}

main {
    overflow-y:auto;
    overflow-x:hidden;
}

p:last-child {
    @apply mb-0;
}

.revers {
    @apply bg-primary-text text-primary-bg pb-1 pt-0.5 mr-2 rounded-sm md:rounded transition-all duration-700 ease-in-out inline;
    box-shadow:0.375rem 0 0 var(--color-primary-text), -0.375rem 0 0 var(--color-primary-text);
    box-decoration-break:clone;
}

.filterOption.revers {
    @apply my-1 mr-8 font-bold pt-1;
    box-shadow:0.75rem 0 0 var(--color-primary-text), -0.75rem 0 0 var(--color-primary-text);
}

.filterOption.revers:hover {
    @apply text-primary-text bg-secondary-bg;
    box-shadow:0.75rem 0 0 var(--color-secondary-bg), -0.75rem 0 0 var(--color-secondary-bg);
}

.case {
    @apply inline-flex flex-col justify-center items-center w-full min-h-72 p-8 bg-primary-bg md:border-r-8 md:border-b-8 border-bord;
}

.case:nth-child(even) {
    @apply bg-secondary-bg;
}

span.japanese {
    @apply text-xs;
}

.framebox {
    @apply md:border-l border-t border-epierrot;
}

.slideframe {
    @apply p-10;
}

.frameboxcomplete {
    @apply md:border-r border-b border-epierrot;
}

.frame {
    @apply p-6 md:px-56 py-20;
}

.subframebox {
    @apply md:border-l border-t border-secondary-bg;
}

input:focus,
button:focus {
    outline:none;
}

::selection {
    @apply bg-primary-text text-primary-bg;
}

a {
    @apply text-epierrot;
    transition:color 500ms;
    font-weight:inherit;
}

a:hover {
    @apply text-primary-text;
    transition:color 500ms;
}

sup {
    vertical-align:super;
    font-size:xx-small;
}

ul {
    list-style:disc;
    list-style-position:inside;
}

ol {
    list-style:decimal;
    list-style-position:outside;
    padding-left:1.2em;
}

li:last-child {
    margin-bottom:1rem;
}

.svg-inline {
    display:inline-block;
    margin-bottom:.3rem;
}

.bckgrndImageCover {
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    background-blend-mode:multiply;
}

.bckgrndImageContain {
    background-repeat:no-repeat;
    background-position:center center;
    background-size:contain;
}

.backgrndMultiply {
    background-blend-mode:multiply;
}

/* hamburger */
button {
    outline:none;
}

.bar1,
.bar2,
.bar3 {
    width:18px;
    height:3px;
    background-color:var(--color-primary-text);
    margin:3px 0;
    transition:0.4s;
}

.open .bar1 {
    -webkit-transform:rotate(-45deg) translate(-5px, 4px);
    transform:rotate(-45deg) translate(-5px, 4px);
}

.open .bar2 {
    opacity:0;
}

.open .bar3 {
    -webkit-transform:rotate(45deg) translate(-5px, 4px);
    transform:rotate(45deg) translate(-5px, -4px);
}

/* menu */
.menu a {
    text-transform:capitalize;
    font-size:1.1rem;
    line-height:2rem;
    font-weight:normal;
}

.filterOption {
    @apply cursor-pointer transition-all duration-700 ease-in-out;
}

.menuActive {
    @apply text-epierrot;
}

/* photo gallery */
#spotlight .title {
    font-weight:normal !important;
    font-size:1rem !important;
}

/* video */
.videoLink {
    @apply invisible h-0 w-0 p-0 m-0;
}


/* image filter */
img.grey {
    filter:grayscale(100%) brightness(1.15);
    transition:all 1s;
}

img.grey:hover {
    filter:grayscale(0%) brightness(1);
}

.filtr-container svg {
    filter:grayscale(0.5);
}

footer svg {
    filter:grayscale(1);
}

/* profile image */
.imgProfileBck {
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    background-attachment:fixed;
}

.imgProfile {
    filter:grayscale(1) brightness(1.2) opacity(0.1);
    transition:all 1s;
}

.imgProfile:hover {
    filter:grayscale(0.3) brightness(1) opacity(1);
}

/* box image */


img.imgBox {
    filter:grayscale(0.8) brightness(1.1);
    transition:all 1s;
}

a:hover img.imgBox {
    filter:grayscale(0) brightness(1);
}

a.gridbox p {
    font-size:15px;
    line-height:1.6;
}

a .titlefront {
    opacity:1;
    transition:all 0.7s;
}

a:hover .titlefront {
    opacity:0;
}

/* project block */
.boxproject {
    position:relative;
    transition:all 500ms;
}

.boxbckground {
    opacity:0;
    filter:grayscale(100%);
    filter:alpha(opacity=0);
    /* For IE */
    position:absolute;
    width:calc(100% + 40px);
    height:calc(100% + 20px);
    top:-10px;
    left:-20px;
    transition:all 1s;
}

.boxproject:hover .boxbckground {
    opacity:1;
    filter:grayscale(0%);
    filter:alpha(opacity=100);
    /* For IE */
}

.boxcontent {
    transition:all 1s;
}

.boxproject:hover .boxcontent {
    opacity:0;
    filter:alpha(opacity=0);
    /* For IE */
}

/* reverse a coloring */
#home .frontPosts a,
#Research a,
.publili a,
.social a,
a.cc svg,
a.hugo svg,
.mainMenu,
.submenu div,
a.titlePL {
    @apply text-primary-text;
    transition:color 1s;
}

#home .frontPosts a:hover,
#Research a:hover,
.publili a:hover,
.social a:hover,
a.cc:hover svg,
a.hugo:hover svg,
.mainMenu:hover,
.submenu div:hover,
a.titlePL:hover {
    @apply text-epierrot;
}

.mainMenu.active,
.submenu div.active {
    @apply text-epierrot;
}

a.gridbox,
a.gridbox:hover {
    @apply text-primary-text;
}

.social a:last-child {
    margin-right:0 !important;
}

p {
    font-size:1rem;
    margin-bottom:1rem;
}

b,
strong {
    @apply font-bold;
    font-size: inherit;
}

i, em {
    @apply italic;
    font-size: inherit;
}

a {
    font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-bold;
    letter-spacing:0.06rem;
}

h1 {
    @apply font-bold;
    font-size:1.6rem;
    line-height:3.5rem;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

h1 i {
    font-size:1.5rem;
}

h2 {
    padding:4rem 0 0.5rem;
    font-size:1.3rem;
    line-height:2.5rem;
}

h3 {
    padding:2rem 0 0.2rem;
    font-size:1.2rem;
}

h5 {
    font-size:1.1rem;
    margin:0 0 0.2rem -1px;
}

.comment {
    @apply text-sm italic;
}

.level1,
.level2 {
    margin-bottom:0.5rem;
}

/* home */
#home .frontPosts a {
    line-height:1.3rem;
}

#home .date {
    display:inline-block;
    font-size:0.8rem;
    margin:-0.2rem 0 0 0.5rem;
}

/* contact */
#contact h2 {
    padding-top:0;
}

/* list */
span.listComma:not(:last-child):before {
    content:', ';
}

span.listComma:last-child:before {
    content:' and ';
}

span.listComma:first-child:before {
    content:'';
}

span.listVertical:not(:last-child):after {
    content:' | ';
}

/* input */
input {
    @apply bg-transparent;
}

input::placeholder {
    @apply text-primary-text opacity-100;
}

/* embed iframe */
.embed-wrapper {
    overflow:hidden;
    padding-top:56.25%;
    position:relative;
}

.embed-wrapper iframe {
    border:0;
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
}

/* main background image */
#mainbckgimg {
    opacity:1;
    filter:grayscale(0);
    transition:opacity 300ms ease-in-out;
}

#mainbckgimg.opaci {
    opacity:0.7;
}

#mainbckgimg.blac {
    opacity:0;
}

/* tooltips */
[data-tooltip]:before {
    @apply text-primary-text bg-primary-bg border border-primary-text text-sm rounded-sm;
    position:absolute;
    content:attr(data-tooltip);
    transform:translate(-10.125rem, 1rem);
    transition:opacity 500ms ease-in-out;
    display:inline-block;
    max-width:25rem;
    width:0;
    height:0;
    padding:0;
    overflow:hidden;
    opacity:0;
    z-index:10000;
}

[data-tooltip]:hover:before {
    transform:translate(-10.125rem, 1.8rem);
    padding:6px 12px;
    width:auto;
    height:auto;
    opacity:1;
    transition:opacity 500ms ease-in-out;
}

/* icon */
.fas,
.fa,
.fas,
.fab {
    display:inline-block;
    margin-right:2px;
}

/* lines */
.lines {
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    z-index:0;
}

.line {
    position:absolute;
    width:1px;
    height:100%;
    top:0;
    left:10%;
    background:rgba(255, 255, 255, 0);
    overflow:hidden;
}

.line::after {
    content:'';
    display:block;
    position:absolute;
    height:1vh;
    width:100%;
    top:-50%;
    left:0;
    background:linear-gradient(to bottom, rgba(200, 200, 200, 1) 0%, #ccc 75%, #ccc 100%);
    animation:drop 5s 0s infinite;
    animation-fill-mode:forwards;
    animation-timing-function:ease-out;
}

html.dark .line::after {
    background:linear-gradient(to bottom, rgba(10, 10, 10, 1) 0%, #32353a 75%, #32353a 100%);
}

.line:nth-child(1) {
    margin-left:0%;
}

.line:nth-child(1)::after {
    animation-delay:1s;
}

.line:nth-child(2) {
    margin-left:20%;
}

.line:nth-child(2)::after {
    animation-delay:3s;
}

.line:nth-child(3) {
    margin-left:40%;
}

.line:nth-child(3)::after {
    animation-delay:2s;
}

.line:nth-child(4) {
    margin-left:60%;
}

.line:nth-child(4)::after {
    animation-delay:5s;
}

.line:nth-child(5) {
    margin-left:80%;
}

.line:nth-child(5)::after {
    animation-delay:4s;
}

b.vert:not(:first-child):before {
    content:"| ";
}

@keyframes drop {
    from {
        top:-50%;
    }

    to {
        top:110%;
    }
}

/* duotone */

.gridbox .blend-plevy img {
    mix-blend-mode:hard-light;
    filter:brightness(0.6)grayscale(1);
    transition:all 500ms ease-in-out;
}

.gridbox:hover .blend-plevy img {
    filter:brightness(0.5)grayscale(0);
}

.gridbox .blend-plevy:after {
    mix-blend-mode:color-burn;
}

/* lecture session */

section.lectureSession {
    @apply flex flex-col md:flex-row;
}

section.lectureSession>.side {
    @apply order-2 md:order-1 w-full bg-secondary-bg md:w-72 py-3 px-5 rounded md:m-0 md:mr-10 flex-shrink-0;
}

section.lectureSession>.main {
    @apply order-1 md:order-2 w-full mb-1 py-3;
}

/* headListes */

.headList h2 span {
    background-color:rgba(251, 251, 251, 0.7);
    color:var(--color-primary-text);
    cursor:pointer;
    transition:all 500ms;
}

.headList:hover h2 span {
    background-color:rgba(251, 251, 251, 0.5);
}

.headList p span {
    background-color:var(--color-primary-text);
    color:var(--color-primary-bg);
    cursor:pointer;
    transition:all 500ms;
}

.headList:hover p span {
    background-color:var(--color-primary-epierrot);
}

a.doclinkButton {
    @apply inline-block;
}

a.doclinkButton:not(:last-child) {
    @apply mr-2;
}

a.doclinkButton span.doclinkIcon {
    @apply inline-block py-3 pl-5 pr-0.5 rounded-l transition-all duration-700 ease-in-out;
}

a.doclinkButton span.doclinkText {
    @apply inline-block py-3 pr-5 pl-0.5 rounded-r transition-all duration-700 ease-in-out;
}

a.doclinkButton:hover span.doclinkIcon {
    @apply bg-secondary-bg text-primary-text;
}

a.doclinkButton:hover span.doclinkText {
    @apply bg-secondary-bg text-primary-text;
}

.backButton {
    @apply fixed top-1 left-1 w-4 h-4 text-primary-text bg-primary-bg;
    z-index:1000;
}


/* fix docSlider phone */
@media screen and (max-width:768px) {
    nav.docSlider-pager {
        display:none;
        height:0px;
    }
}

/* irregularity 1 :falling dots */

.bgirreg1 {
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:100%;
    margin:auto;
    width:90vw;
}

.bgirreg1 .line {
    position:absolute;
    width:1px;
    height:100%;
    top:0;
    left:50%;
    background:rgba(255, 255, 255, 0);
    overflow:hidden;
}

.bgirreg1 .line::after {
    content:"";
    display:block;
    position:absolute;
    height:2vh;
    width:100%;
    top:-50%;
    left:0;
    opacity:.3;
    background:linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--color-primary-text) 75%, var(--color-primary-text) 100%);
    -webkit-animation:drop 7s 0s infinite;
    animation:drop 7s 0s infinite;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-timing-function:cubic-bezier(0.4, 0.26, 0, 0.97);
    animation-timing-function:cubic-bezier(0.4, 0.26, 0, 0.97);
}

.bgirreg1 .line:nth-child(1) {
    margin-left:-45%;
}

.bgirreg1 .line:nth-child(1)::after {
    -webkit-animation-delay:1s;
    animation-delay:1s;
}

.bgirreg1 .line:nth-child(2) {
    margin-left:-35%;
}

.bgirreg1 .line:nth-child(2)::after {
    -webkit-animation-delay:3.5s;
    animation-delay:3.5s;
}

.bgirreg1 .line:nth-child(3) {
    margin-left:-25%;
}

.bgirreg1 .line:nth-child(3)::after {
    -webkit-animation-delay:2.3s;
    animation-delay:2.3s;
}

.bgirreg1 .line:nth-child(4) {
    margin-left:-15%;
}

.bgirreg1 .line:nth-child(4)::after {
    -webkit-animation-delay:1.7s;
    animation-delay:1.7s;
}

.bgirreg1 .line:nth-child(5) {
    margin-left:0%;
}

.bgirreg1 .line:nth-child(5)::after {
    -webkit-animation-delay:5.2s;
    animation-delay:5.2s;
}

.bgirreg1 .line:nth-child(6) {
    margin-left:15%;
}

.bgirreg1 .line:nth-child(6)::after {
    -webkit-animation-delay:3.1s;
    animation-delay:3.1s;
}

.bgirreg1 .line:nth-child(7) {
    margin-left:25%;
}

.bgirreg1 .line:nth-child(7)::after {
    -webkit-animation-delay:2.6s;
    animation-delay:2.6s;
}

.bgirreg1 .line:nth-child(8) {
    margin-left:35%;
}

.bgirreg1 .line:nth-child(8)::after {
    -webkit-animation-delay:7.4s;
    animation-delay:7.4s;
}

.bgirreg1 .line:nth-child(9) {
    margin-left:45%;
}

.bgirreg1 .line:nth-child(9)::after {
    -webkit-animation-delay:9.3s;
    animation-delay:9.3s;
}

@-webkit-keyframes drop {
    0% {
        top:-50%;
    }

    100% {
        top:110%;
    }
}

@keyframes drop {
    0% {
        top:-50%;
    }

    100% {
        top:110%;
    }
}


/* irregularity 2 :bg dots */
#bgirreg2 {
    position:fixed;
    background:#FFF;
    filter:blur(2px);
}

canvas#bgirreg2in {
    @apply bg-secondary-bg;
    display:block;
}

/*
 Tabs
*/
.tabset>input[type="radio"] {
    position:absolute;
    left:-200vw;
}

.tabset .tab-panel {
    display:none;
}

.tabset>input:first-child:checked~.tab-panels>.tab-panel:first-child,
.tabset>input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2),
.tabset>input:nth-child(5):checked~.tab-panels>.tab-panel:nth-child(3),
.tabset>input:nth-child(7):checked~.tab-panels>.tab-panel:nth-child(4),
.tabset>input:nth-child(9):checked~.tab-panels>.tab-panel:nth-child(5),
.tabset>input:nth-child(11):checked~.tab-panels>.tab-panel:nth-child(6) {
    display:block;
}

/*
   Styling
  */
.tabset>label {
    position:relative;
    display:inline-block;
    padding:15px 15px 25px;
    border:1px solid transparent;
    border-bottom:0;
    cursor:pointer;
    font-weight:600;
}

.tabset>label::after {
    content:"";
    position:absolute;
    left:15px;
    bottom:10px;
    width:22px;
    height:4px;
    background:#8d8d8d;
}

.tabset>label:hover,
.tabset>input:focus+label {
    color:#06c;
}

.tabset>label:hover::after,
.tabset>input:focus+label::after,
.tabset>input:checked+label::after {
    background:#06c;
}

.tabset>input:checked+label {
    border-color:#ccc;
    border-bottom:1px solid #fff;
    margin-bottom:-1px;
}

.tab-panel {
    padding:30px 0;
    border-top:1px solid #ccc;
}

/* utterances */
.utterances-frame  .new-comment-header {
    background-color: #2991f9 !important;
}


/* grid */
.muugrid {
    position:relative;
}

.item, .permanent {
    display:block;
    position:absolute;
    z-index:1;
}

.item.muuri-item-dragging {
    z-index:3;
}

.item.muuri-item-releasing {
    z-index:2;
}

.item.muuri-item-hidden {
    z-index:0;
    transform:translateX(0px) translateY(0) !important;
    opacity:0;
}

.item-content {
    position:relative;
    width:100%;
    height:100%;
}
