:root {
  @apply font-sans text-primary-text leading-6 box-border;
  --st-dropshadow: 7px 7px 8px #00000044;
  --lineHeight: 1.8;
}

*,
html,
body {
  font-size: 17px;
  font-stretch: 100%;
  letter-spacing: 0.01rem;
  line-height: var(--lineHeight);
  font-display: swap;
  font-weight: normal;
  scroll-behavior: smooth;
  font-variant-ligatures: common-ligatures;
}

body {
  @apply bg-primary-bg text-primary-text overflow-x-hidden lg:overflow-x-auto;
  --color-primary-bg: rgb(255, 255, 255);
  --color-secondary-bg: rgb(244, 244, 245);
  --color-primary-text: #1c1c1c;
  --color-secondary-text: rgba(87, 83, 78);
  --color-epierrot: #1f73a8;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 50% auto;
}

b i {
  @apply font-bold italic;
}

main {
  @apply overflow-x-hidden overflow-y-auto;
}

p:last-child {
  @apply mb-0;
}

a {
  @apply text-primary-text border-b border-primary-text transition-all duration-200 ease-in-out;
  font-weight: inherit;
  font-size: inherit;
}

a:hover {
  @apply text-primary-bg bg-epierrot border-epierrot;
}

p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

b,
strong {
  @apply font-bold;
  font-size: inherit;
}

i,
em {
  @apply italic;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
  letter-spacing: 0.06rem;
}

h1 {
  @apply font-bold m-0 text-4xl;
  line-height: 3.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 i {
  font-size: 1.5rem;
}
