@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply font-sans text-primary-text leading-6 box-border;
  --st-dropshadow: 7px 7px 8px #00000044;
  --lineHeight: 1.75;
  color-scheme: light dark;
}

/* width */
::-webkit-scrollbar {
  width: 0;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vw;
  margin-block: 200px;
  border: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-tertiary-bg);
  border-radius: 100vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-epierrot);
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: var(--color-tertiary-bg) transparent;
    scrollbar-width: thin;
    border: none;
  }
}

input::-moz-placeholder,
textarea::-moz-placeholder,
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: var(--color-primary-text);
}

*,
html,
body {
  font-size: 1rem;
  font-stretch: 100%;
  letter-spacing: 0.01rem;
  line-height: var(--lineHeight);
  font-display: swap;
  font-weight: normal;
  scroll-behavior: smooth;
  font-variant-ligatures: common-ligatures;
}

body {
  @apply bg-primary-bg text-primary-text w-screen mx-auto min-h-screen overflow-x-hidden md:overflow-x-auto p-5;
  background: linear-gradient(-45deg, #ffffff 30%, #fafafa 70%);
	background-size: 400% 400%;
	animation: gradient 60s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body {
  --color-primary-bg: light-dark(#fff, #1c1c1c);
  --color-secondary-bg: light-dark(#fff, #1c1c1c);
  --color-tertiary-bg: light-dark(#fafafa, #2e2e2e);
  --color-quaternary-bg: light-dark(#000000, #fff);
  --color-primary-text: light-dark(#1c1c1c, #f4f4f4);
  --color-secondary-text: light-dark(#e3ddd3, #f3f4f6);
  --color-epierrot: light-dark(#0089A7, #2abac4);
  --color-borders: light-dark(#1c1c1c, #FFFA);
}

b i {
  @apply font-bold italic;
}

p:last-child {
  @apply mb-0;
}

a {
  @apply text-primary-text transition-all duration-200 ease-in-out;
  font-size: inherit;
  font-weight: inherit;
  transition: all 1s ease-in-out;
}

a:hover {
  @apply text-primary-bg bg-epierrot;
}

#content img {
  @apply rounded;
}

a svg,
svg {
  fill: var(--color-primary-text);
}

a:hover svg {
  fill: var(--color-epierrot);
}

/* logohome */

a.logohome {
  @apply inline-block items-start w-10/12 md:w-auto py-5 transition-all duration-700 ease-in-out;
}

a.logohome:hover {
  @apply bg-transparent;
}


a.logohome .lh,
a.logohome .lh2 {
  @apply inline-block bg-transparent;
  content: ' ';
  stroke: transparent;
  stroke-dashoffset: 0;
  fill: var(--color-primary-text);
  transition: all 0.7s ease-in-out;
}

a.logohome .lh {
  @apply h-auto w-32 mr-4;
  stroke-width: 0.03;
  stroke-dasharray: 2.7;
  animation: logoanim 3s ease-out;
}

a.logohome .lh2 {
  @apply h-auto w-28;
  stroke-width: 4;
  stroke-dasharray: 569;
  animation: logoanim2 3s ease-out;
}

@keyframes logoanim {
  0% {
    stroke-dashoffset: 2.7;
    stroke: var(--color-epierrot);
    fill: transparent;
  }

  80% {
    stroke-dashoffset: 0;
    stroke: var(--color-epierrot);
    fill: transparent;
  }

  100% {
    stroke-dashoffset: 0;
    stroke: transparent;
    fill: var(--color-primary-text);
  }
}

@keyframes logoanim2 {
  0% {
    stroke-dashoffset: 569;
    stroke: var(--color-epierrot);
    fill: transparent;
  }

  80% {
    stroke-dashoffset: 179;
    stroke: var(--color-epierrot);
    fill: transparent;
  }

  100% {
    stroke-dashoffset: 0;
    stroke: transparent;
    fill: var(--color-primary-text);
  }
}

a.logohome:hover .lh,
a.logohome:hover .lh2 {
  fill: var(--color-epierrot);
  stroke: var(--color-epierrot);
}

/* Pack items*/
.pack-item {
  @apply relative bg-transparent w-full py-3 md:p-2 transition-all duration-700 ease-in-out;
}


/* buttons */
.pack-item #languageMode {
  @apply bg-transparent;
}

.pack-item:hover a.logohome {
  @apply bg-tertiary-bg;
}

.pack-item #languageMode a {
  @apply bg-primary-bg border border-primary-bg border-solid rounded transition-all duration-700 ease-in-out;
}

.pack-item:hover #languageMode a {
  @apply bg-tertiary-bg border border-primary-text;
}

.pack-item:hover #languageMode a:hover {
  @apply bg-epierrot text-primary-bg border border-epierrot;
}

/*basic table */
table {
  @apply border-spacing-2 border-4 border-secondary-bg my-7;
}

table td,
table th {
  @apply p-3 border align-top;
}

/* small links */
#home .frontPosts a,
#Research a,
.publili a,
a.cc svg,
a.hugo svg,
.mainMenu,
.submenu div,
a.titlePL {
  @apply relative text-primary-text bg-primary-bg rounded-lg transition-all duration-700 ease-in-out;
}


#home .frontPosts a:hover,
#Research a:hover,
.publili a:hover,
.mainMenu:hover,
.submenu div:hover,
a.titlePL:hover {
  @apply bg-primary-bg text-primary-text;
}

#home .frontPosts a::before,
#Research a::before,
#CDJPlogo a::before,
#lightgallery a::before,
.publili a::before,
a.cc::before,
a.hugo::before,
.mainMenu::before,
.submenu div::before,
a.titlePL::before,
.tablecontent a::before,
a.floatImg::before {
  content: none !important;
}

#home .frontPosts a::after,
#Research a::after,
#CDJPlogo a::after,
#lightgallery a::after,
.publili a::after,
a.cc::after,
a.hugo::after,
.mainMenu::after,
.submenu div::after,
a.titlePL::after,
.tablecontent a::after,
a.floatImg::after {
  content: none !important;
}

a.boxIso,
.dynCadre,
.doclinkButton {
  @apply relative cursor-pointer text-primary-text justify-center flex flex-col w-full p-3 rounded transition-all duration-700 ease-in-out;
}

a.boxIso {
  @apply p-7;
}

a.boxIso .boxBord {
  @apply absolute rounded;
  content: ' ';
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  z-index: -1;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(125deg,#adadad,rgba(255,255,255,.1) 20%,rgba(255,255,255,.1) 80%, #adadad) 1;
  translate: -50% -50%;
  transition: all 0.2s ease-in-out;
}
a.boxIso.presentations .boxBord {
  border-image: linear-gradient(125deg,#efc364,rgba(255,255,255,.1) 20%,rgba(255,255,255,.1) 80%, #efc364) 1;
}
a.boxIso.projects .boxBord {
  border-image: linear-gradient(125deg,#7ecbc2,rgba(255,255,255,.1) 20%,rgba(255,255,255,.1) 80%, #7ecbc2) 1;
}
a.boxIso.events .boxBord {
  border-image: linear-gradient(125deg,#d58585,rgba(255,255,255,.1) 20%,rgba(255,255,255,.1) 80%, #d58585) 1;
}
a.boxIso.teaching .boxBord, a.boxIso.courses .boxBord {
  border-image: linear-gradient(125deg,#80b1c3,rgba(255,255,255,.1) 20%,rgba(255,255,255,.1) 80%, #80b1c3) 1;
}
a.boxIso.publications .boxBord, a.boxIso.research .boxBord, a.boxIso.writings .boxBord  {
  border-image: linear-gradient(125deg,#ca9acb,rgba(255,255,255,.1) 20%,rgba(255,255,255,.1) 80%, #ca9acb) 1;
}

a.boxIso:hover .boxBord{
  opacity: 0;
}

a.boxIso:hover, .dynCadre:hover {
  @apply bg-transparent;
  border-radius: 0.25rem;
}

a.boxIso::after, .dynCadre::after {
  @apply absolute rounded;
  content: ' ';
  height: calc(100% + .25rem);
  width: calc(100% + .25rem);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -2;
  transition: 0.5s ease-in-out;
}

.dynCadre::after {
  box-shadow: rgba(9, 30, 66, 0.3) 0 0 4px -2px;
}

a.boxIso:hover::after {
  box-shadow: rgba(0,0,0, 0.5) 0 0 4px 0;
}

a.boxIso.presentations:hover::after {
  box-shadow: #efc364 0 0 4px 0;
}
a.boxIso.projects:hover::after {
  box-shadow: #7ecbc2 0 0 4px 0;
}
a.boxIso.events:hover::after {
  box-shadow: #d58585 0 0 4px 0;
}
a.boxIso.teaching:hover::after, a.boxIso.courses:hover::after {
  box-shadow: #80b1c3 0 0 4px 0;
}
a.boxIso.publications:hover::after, a.boxIso.research:hover::after, a.boxIso.writings:hover::after  {
  box-shadow: #ca9acb 0 0 4px 0;
}


.dynCadre::after{
  box-shadow: rgba(9, 30, 66, 0.3) 0 0 7px -2px;
}

a.doclinkButton {
  @apply flex-row items-center justify-center transition-all duration-700 ease-in-out;
}

a.doclinkButton:hover {
  @apply text-epierrot bg-transparent;
}

a.doclinkButton span.doclinkIcon {
  @apply inline-block py-3 px-5 transition-all duration-700 ease-in-out;
}

a.doclinkButton span.doclinkText {
  @apply inline-block py-3 pr-5 pl-0.5 transition-all duration-700 ease-in-out;
}

a.collab {
  @apply relative inline-block w-full my-3 transition-all duration-700 ease-in-out;
}

a.collab svg {
  fill: var(--color-primary-text);
  transition: all 300ms ease-in-out;
}

a.collab:hover svg {
  fill: var(--color-epierrot);
}

.collabicon svg {
  transition: all 300ms ease-in-out;
}

a.smalllink {
  @apply relative bg-secondary-bg rounded inline-block p-2 mr-4;
}

a.smalllink:last-child {
  @apply mr-0;
}

a.langu {
  @apply relative bg-transparent inline-block px-2 mr-2 text-primary-text hover:text-epierrot;
}

a.homemenu,
a.listcourse {
  @apply relative inline-block bg-primary-bg px-2 py-0.5 my-2 text-primary-text hover:text-epierrot;
}

a.homemenu {
  @apply text-lg;
}

a.linkBox {
  @apply relative flex justify-between min-h-24 w-full max-w-96 p-1 mb-4 border-0 transition-all duration-700 ease-in-out;
}

a.linkBox {
  @apply relative bg-secondary-bg flex justify-between min-h-24 w-full max-w-96 p-1 mb-4 border-0 transition-all duration-700 ease-in-out;
}

a.linkBox:hover {
  @apply bg-secondary-bg;
}

div.ended a.boxIso {
  @apply opacity-30;
}

div.ended a.boxIso:hover {
  @apply opacity-100;
}

a.slashLink {
  @apply font-bold text-epierrot border-0 transition-all duration-700 ease-in-out;
}

a.slashLink:hover {
  @apply bg-epierrot text-primary-bg border-secondary-bg;
}

#lightgallery {
  @apply w-full h-auto flex flex-row flex-wrap;
}

#lightgallery>a {
  @apply border-0 w-auto;
  aspect-ratio: 1;
}

#lightgallery>a:hover {
  @apply bg-transparent;
}

#lightgallery img {
  @apply object-cover w-full h-full cursor-pointer;
  aspect-ratio: 1;
}

#lightgallery .imag {
  @apply rounded
}

strong>a {
  @apply border-0;
}

.filterOption.revers {
  @apply my-1 mr-1 font-bold pt-1;
  box-shadow: 0.75rem 0 0 var(--color-primary-text),
    -0.75rem 0 0 var(--color-primary-text);
}

.filterOption.revers:hover {
  @apply text-primary-text bg-secondary-bg;
  box-shadow: 0.75rem 0 0 var(--color-secondary-bg),
    -0.75rem 0 0 var(--color-secondary-bg);
}

.case {
  @apply inline-flex flex-col justify-center items-center w-full md:w-1/2 xl:w-1/3 min-h-16 md:min-h-72 h-auto px-2 py-14 md:p-10;
}

.case.large {
  @apply w-full md:w-full xl:w-2/3 p-2 md:p-14 xl:p-24;
}

.case.large>* {
  @apply max-w-xl;
}

span.japanese {
  @apply text-sm;
}

.framebox {
  @apply md:border-l border-t border-epierrot;
}

.slideframe {
  @apply p-10;
}

.frameboxcomplete {
  @apply md:border-r border-b border-epierrot;
}

.frame {
  @apply p-6 md:px-56 py-20;
}

.subframebox {
  @apply md:border-l border-t border-secondary-bg;
}

input:focus,
button:focus {
  outline: none;
}

::selection {
  @apply bg-epierrot text-primary-bg;
}

sup {
  vertical-align: super;
  font-size: xx-small;
}

ul {
  list-style: disc;
  list-style-position: inside;
}

ol {
  list-style: decimal;
  list-style-position: outside;
  padding-left: 1.2em;
}

li:last-child {
  margin-bottom: 1rem;
}

.svg-inline {
  display: inline-block;
  margin-bottom: 0.3rem;
}

.bckgrndImageCover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-blend-mode: multiply;
}

.bckgrndImageContain {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.backgrndMultiply {
  background-blend-mode: multiply;
}

/* inputSearch */
#inputSearch input {
  @apply flex-grow w-full bg-transparent placeholder:text-primary-text placeholder:opacity-60 text-primary-text text-sm border border-blue-700 rounded-sm p-1 transition-all duration-700 ease-in-out focus:outline-none focus:border-gray-500 hover:border-yellow-700;
}

/* hamburger */
button {
  outline: none;
}

.bar1,
.bar2,
.bar3 {
  width: 18px;
  height: 3px;
  background-color: var(--color-primary-text);
  margin: 3px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) tranzinc(-5px, .25rem);
  transform: rotate(-45deg) tranzinc(-5px, .25rem);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) tranzinc(-5px, .25rem);
  transform: rotate(45deg) tranzinc(-5px, -.25rem);
}

/* menu */
.menu a {
  text-transform: capitalize;
  font-size: 1.1rem;
  line-height: var(--lineHeight);
  font-weight: normal;
}

.filterOption {
  @apply cursor-pointer transition-all duration-700 ease-in-out;
}

.menuActive {
  @apply text-epierrot;
}

/* video */
.videoLink {
  @apply invisible h-0 w-0 p-0 m-0;
}

/* image filter */
img.grey {
  filter: grayscale(100%) brightness(1.15);
  transition: all 1s;
}

img.grey:hover {
  filter: grayscale(0%) brightness(1);
}

.filtr-container svg {
  filter: grayscale(0.5);
}

footer svg {
  filter: grayscale(1);
}

/* profile image */
.imgProfileBck {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.imgProfile {
  filter: grayscale(1) brightness(1.2) opacity(0.1);
  transition: all 1s;
}

.imgProfile:hover {
  filter: grayscale(0.3) brightness(1) opacity(1);
}

/* box image */

div.blendPhoto {
  position: relative;
}

img.imgBox {
  @apply object-cover h-16 w-16 rounded-md relative;
  filter: grayscale(1) brightness(1.6);
  transition: all 500ms ease-in-out;
}

a:hover img.imgBox {
  filter: grayscale(0) brightness(1);
  mix-blend-mode: normal;
}

.boxIso div.imagFront {
  @apply h-16 w-16 rounded-md;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  border: 2px rgba(0, 0, 0, 0.2) solid;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  transition: all 500ms ease-in-out;
}

.boxIso:hover div.imagFront {
  opacity: 0;
}

a.boxIso.presentations div.imagFront {
  border: 1px #efc36499 solid;
  background-color: #efc36455;
}
a.boxIso.projects div.imagFront {
  border: 1px #7ecbc299 solid;
  background-color: #7ecbc255;
}
a.boxIso.events div.imagFront {
  border: 1px #d5858599 solid;
  background-color: d5858555;
}
a.boxIso.teaching div.imagFront, a.boxIso.courses div.imagFront {
  border: 1px #80b1c399 solid;
  background-color: #80b1c355;
}
a.boxIso.publications div.imagFront, a.boxIso.research div.imagFront, a.boxIso.writings div.imagFront  {
  border: 1px #ca9acb99 solid;
  background-color: #ca9acb55;
}

a.gridbox p {
  font-size: 15px;
  line-height: var(--lineHeight);
}

a .titlefront {
  opacity: 1;
  transition: all 0.7s;
}

a:hover .titlefront {
  opacity: 0;
}

/* project block */
.boxproject {
  position: relative;
  transition: all 500ms;
}

.boxbckground {
  opacity: 0;
  filter: grayscale(100%);
  filter: alpha(opacity=0);
  /* For IE */
  position: absolute;
  width: calc(100% + 40px);
  height: calc(100% + 20px);
  top: -10px;
  left: -20px;
  transition: all 1s;
}

.boxproject:hover .boxbckground {
  opacity: 1;
  filter: grayscale(0%);
  filter: alpha(opacity=100);
  /* For IE */
}

.boxcontent {
  transition: all 1s;
}

.boxproject:hover .boxcontent {
  opacity: 0;
  filter: alpha(opacity=0);
}

.mainMenu.active,
.submenu div.active {
  @apply text-epierrot;
}

a.gridbox,
a.gridbox:hover {
  @apply text-primary-text;
}

p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

b,
strong {
  @apply font-bold;
  font-size: inherit;
}

i,
em {
  @apply italic;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
  letter-spacing: 0.06rem;
}

h1 {
  @apply font-bold mt-24 mb-12 text-4xl;
  line-height: 3.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 i {
  font-size: 1.5rem;
}

h2 {
  padding: 4rem 0 0.5rem;
  font-size: 1.3rem;
  line-height: 2.5rem;
}

h3 {
  padding: 2rem 0 0.2rem;
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
  margin: 0 0 0.2rem -1px;
}

#content>h1:first-child,
#content>h2:first-child,
#content>h3:first-child,
#content>h4:first-child,
#content>h5:first-child,
.dynCadre>h1:first-child,
.dynCadre>h2:first-child,
.dynCadre>h3:first-child,
.dynCadre>h4:first-child,
.dynCadre>h5:first-child {
  @apply pt-0 mt-0;
}

.comment {
  @apply text-sm italic;
}

.level1,
.level2 {
  margin-bottom: 0.5rem;
}

/* home */
#home .frontPosts a {
  line-height: 1.3rem;
}

#home .date {
  display: inline-block;
  font-size: 0.8rem;
  margin: -0.2rem 0 0 0.5rem;
}

/* contact */
#contact h2 {
  padding-top: 0;
}

/* list */
span.listComma:not(:last-child)::before {
  content: ", ";
}

span.listComma:last-child::before {
  content: " and ";
}

span.listComma:first-child::before {
  content: "";
}

span.listVertical:not(:last-child)::after,
span.minor:not(:last-child)::after {
  content: " | ";
}

/* embed iframe */
.embed-wrapper {
  @apply overflow-hidden relative rounded;
  padding-top: 56.25%;
}

.embed-wrapper iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* main background image */
#mainbckgimg {
  opacity: 1;
  filter: grayscale(0);
  transition: opacity 300ms ease-in-out;
}

#mainbckgimg.opaci {
  opacity: 0.7;
}

#mainbckgimg.blac {
  opacity: 0;
}

/* tooltips
[data-tooltip]::before {
  @apply text-primary-text bg-primary-bg border border-secondary-bg text-sm rounded-sm;
  position: absolute;
  content: attr(data-tooltip);
  transform: tranzinc(-10.125rem, 1rem);
  transition: opacity 500ms ease-in-out;
  display: inline-block;
  max-width: 25rem;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  z-index: 10000;
}

[data-tooltip]:hover::before {
  transform: tranzinc(-10.125rem, 1.8rem);
  padding: 6px 12px;
  width: auto;
  height: auto;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}
*/
/* icon */
.fas,
.fa,
.fas,
.fab {
  display: inline-block;
  margin-right: 2px;
}

/* lines */
.lines {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 10%;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
}

.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 1vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom,
      rgba(200, 200, 200, 1) 0%,
      #ccc 75%,
      #ccc 100%);
  animation: drop 5s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.line:nth-child(1) {
  margin-left: 0%;
}

.line:nth-child(1)::after {
  animation-delay: 1s;
}

.line:nth-child(2) {
  margin-left: 20%;
}

.line:nth-child(2)::after {
  animation-delay: 3s;
}

.line:nth-child(3) {
  margin-left: 40%;
}

.line:nth-child(3)::after {
  animation-delay: 2s;
}

.line:nth-child(4) {
  margin-left: 60%;
}

.line:nth-child(4)::after {
  animation-delay: 5s;
}

.line:nth-child(5) {
  margin-left: 80%;
}

.line:nth-child(5)::after {
  animation-delay: 4s;
}

.vert:not(:first-child)::before {
  content: "| ";
}

@keyframes drop {
  from {
    top: -50%;
  }

  to {
    top: 110%;
  }
}

/* lecture session */

section.lectureSession {
  @apply flex flex-col md:flex-row;
}

section.lectureSession>.side {
  @apply order-2 md:order-1 w-full bg-secondary-bg md:w-72 py-3 px-5 rounded md:m-0 md:mr-10 flex-shrink-0;
}

section.lectureSession>.main {
  @apply order-1 md:order-2 w-full mb-1 py-3;
}

/* headListes */

.headList h2 span {
  background-color: rgba(251, 251, 251, 0.7);
  color: var(--color-primary-text);
  cursor: pointer;
  transition: all 500ms;
}

.headList:hover h2 span {
  background-color: rgba(251, 251, 251, 0.5);
}

.headList p span {
  background-color: var(--color-primary-text);
  color: var(--color-primary-bg);
  cursor: pointer;
  transition: all 500ms;
}

.headList:hover p span {
  background-color: var(--color-primary-epierrot);
}

.backButton {
  @apply fixed top-1 left-1 w-4 h-4 text-primary-text bg-primary-bg;
  z-index: 1000;
}

.iconhome,
.iconhome:hover {
  @apply bg-transparent inline-block mr-2 w-auto;
}

.iconhome svg {
  fill: var(--color-primary-text);
}

.strok svg {
  stroke: var(--color-primary-text);
}

.iconhome:hover svg {
  fill: var(--color-epierrot);
}

.strok:hover svg {
  stroke: var(--color-primary-text);
}

/* fix docSlider phone */
@media screen and (max-width: 768px) {
  nav.docSlider-pager {
    display: none;
    height: 0px;
  }
}

/* irregularity 1 :falling dots */

.bgirreg1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}

.bgirreg1 .line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
}

.bgirreg1 .line::after {
  content: "";
  display: block;
  position: absolute;
  height: 2vh;
  width: 100%;
  top: -50%;
  left: 0;
  opacity: 0.3;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0) 0%,
      var(--color-primary-text) 75%,
      var(--color-primary-text) 100%);
  -webkit-animation: drop 7s 0s infinite;
  animation: drop 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.bgirreg1 .line:nth-child(1) {
  margin-left: -45%;
}

.bgirreg1 .line:nth-child(1)::after {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.bgirreg1 .line:nth-child(2) {
  margin-left: -35%;
}

.bgirreg1 .line:nth-child(2)::after {
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.bgirreg1 .line:nth-child(3) {
  margin-left: -25%;
}

.bgirreg1 .line:nth-child(3)::after {
  -webkit-animation-delay: 2.3s;
  animation-delay: 2.3s;
}

.bgirreg1 .line:nth-child(4) {
  margin-left: -15%;
}

.bgirreg1 .line:nth-child(4)::after {
  -webkit-animation-delay: 1.7s;
  animation-delay: 1.7s;
}

.bgirreg1 .line:nth-child(5) {
  margin-left: 0%;
}

.bgirreg1 .line:nth-child(5)::after {
  -webkit-animation-delay: 5.2s;
  animation-delay: 5.2s;
}

.bgirreg1 .line:nth-child(6) {
  margin-left: 15%;
}

.bgirreg1 .line:nth-child(6)::after {
  -webkit-animation-delay: 3.1s;
  animation-delay: 3.1s;
}

.bgirreg1 .line:nth-child(7) {
  margin-left: 25%;
}

.bgirreg1 .line:nth-child(7)::after {
  -webkit-animation-delay: 2.6s;
  animation-delay: 2.6s;
}

.bgirreg1 .line:nth-child(8) {
  margin-left: 35%;
}

.bgirreg1 .line:nth-child(8)::after {
  -webkit-animation-delay: 7.4s;
  animation-delay: 7.4s;
}

.bgirreg1 .line:nth-child(9) {
  margin-left: 45%;
}

.bgirreg1 .line:nth-child(9)::after {
  -webkit-animation-delay: 9.3s;
  animation-delay: 9.3s;
}

@-webkit-keyframes drop {
  0% {
    top: -50%;
  }

  100% {
    top: 110%;
  }
}

@keyframes drop {
  0% {
    top: -50%;
  }

  100% {
    top: 110%;
  }
}

/* irregularity 2 :bg dots */
#bgirreg2 {
  position: fixed;
  background: #fff;
  filter: blur(2px);
}

canvas#bgirreg2in {
  @apply bg-secondary-bg;
  display: block;
}

/*
 Tabs
*/
.tabset>input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset>input:first-child:checked~.tab-panels>.tab-panel:first-child,
.tabset>input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2),
.tabset>input:nth-child(5):checked~.tab-panels>.tab-panel:nth-child(3),
.tabset>input:nth-child(7):checked~.tab-panels>.tab-panel:nth-child(4),
.tabset>input:nth-child(9):checked~.tab-panels>.tab-panel:nth-child(5),
.tabset>input:nth-child(11):checked~.tab-panels>.tab-panel:nth-child(6) {
  display: block;
}

/*
   Styling
  */
.tabset>label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset>label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: .25rem;
  background: #8d8d8d;
}

.tabset>label:hover,
.tabset>input:focus+label {
  color: #06c;
}

.tabset>label:hover::after,
.tabset>input:focus+label::after,
.tabset>input:checked+label::after {
  background: #06c;
}

.tabset>input:checked+label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}

/* utterances */
.utterances-frame .new-comment-header {
  background-color: #2991f9 !important;
}

/* grid */
.muugrid {
  position: relative;
}

.item,
.permanent {
  @apply absolute z-0;
}

.item.muuri-item-dragging {
  z-index: 3;
}

.item.muuri-item-releasing {
  z-index: 2;
}

.item.muuri-item-hidden {
  z-index: 0;
  transform: tranzincX(0px) tranzincY(0) !important;
  opacity: 0;
}

.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}


/* Table of content */
.sidenav,
.sidenav__item,
li:last-child {
  @apply mb-0;
}

.sidenav {
  @apply border-l border-epierrot pl-2
}

.sidenav__sublist .current::after {
  display: none;
}

.sidenav a {
  @apply block border-0 pl-2 no-underline rounded;
}

.sidenav__sublist {
  @apply list-none;
}

.sidenav__sublist .sidenav__sublist a {
  padding-left: 1.5rem;
}

.sidenav__sublist .sidenav__sublist .sidenav__sublist a {
  padding-left: 2.5rem;
}

/* pre */

pre {
  white-space: pre-wrap;
  overflow-x: auto;
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera */
  white-space: -o-pre-wrap;
  /* Opera */
  word-wrap: break-word;
  /* Internet Explorer */
}

div.highlight {
  @apply border border-solid border-quaternary-bg rounded-md p-4;
  background-color: var(--color-primary-text) !important;
}

div.highlight pre {
  background-color: var(--color-primary-text) !important;
  white-space: normal !important;
}

.copy-code-button {
  color: var(--color-primary-bg);
  background-color: transparent;
  border-radius: 3px 3px 0px 0px;

  /* right-align */
  display: block;
  margin-left: auto;
  margin-right: 6px;

  margin-bottom: -34px;
  padding: 3px 8px;
  font-size: 0.8em;
}

.copy-code-button:hover {
  cursor: pointer;
}

.copy-code-button:focus {
  /* Avoid an ugly focus outline on click in Chrome,
     but darken the button for accessibility.
     See https://stackoverflow.com/a/25298082/1481479 */
  background-color: #E6E6E6;
  outline: 0;
}

.copy-code-button:active {
  background-color: #D9D9D9;
}

.highlight pre {
  /* Avoid pushing up the copy buttons. */
  margin: 0;
}

/* linkBox */


.linkBox .titleLink {
  @apply font-bold leading-tight px-3 py-2;
}

a.linkBox:hover .titleLink {
  @apply text-primary-text;
}

.linkBox .imgLink {
  @apply w-28 flex-shrink-0;

}

.linkBox .imgLink img {
  @apply w-28 h-full object-cover rounded grayscale text-sm;
}

.linkBox:hover .imgLink img {
  @apply grayscale-0;
}

.floatImg {
  @apply h-full inline-block float-left w-2/5 mr-3 border-0 bg-primary-bg;
  transition: all 500ms ease-in-out;
  filter: grayscale(1) brightness(1) saturate(2) contrast(2)
}

.floatImg:hover {
  @apply bg-primary-bg;
  filter: grayscale(0) brightness(1) saturate(1) contrast(1) drop-shadow(var(--st-dropshadow));
}

/* Presentation */
.lg-prev::after {
  content: '' !important;
}

.lg-next::before {
  content: '' !important;
}

/* progress bar */
.progress {
  @apply fixed top-0 w-screen h-0.5 bg-transparent;
}

.progressBar {
  @apply h-0.5 bg-epierrot;
  width: 0%;
}


/* markdown */

body {
  counter-reset: h2counter;
}

.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  word-wrap: break-word;
}

.markdown-body .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.markdown-body h1:hover .anchor .octicon-link::before,
.markdown-body h2:hover .anchor .octicon-link::before,
.markdown-body h3:hover .anchor .octicon-link::before,
.markdown-body h4:hover .anchor .octicon-link::before,
.markdown-body h5:hover .anchor .octicon-link::before,
.markdown-body h6:hover .anchor .octicon-link::before {
  width: 16px;
  height: 16px;
  content: ' ';
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.markdown-body details,
.markdown-body figcaption,
.markdown-body figure {
  display: block;
}

.markdown-body summary {
  display: list-item;
}

.markdown-body [hidden] {
  display: none !important;
}

.markdown-body a {
  @apply block rounded text-epierrot py-3 px-4 -ml-4 my-2 no-underline bg-secondary-bg md:hover:shadow-xl transition-all duration-700 ease-in-out;
}

.markdown-body a::before {
  content: '\25B8 \0020';
}

.markdown-body a:active,
.markdown-body a:hover {
  @apply text-primary-text bg-secondary-bg;
}

.markdown-body blockquote a {
  @apply inline py-0 px-1 m-0 bg-transparent md:hover:shadow-none;
}

.markdown-body abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

.markdown-body b,
.markdown-body strong {
  font-weight: bold;
}

.markdown-body dfn {
  font-style: italic;
}

.markdown-body h1 {
  margin: .67em 0;
  font-weight: bold;
  padding-bottom: .3em;
  font-size: 2em;
}

.markdown-body mark {
  background-color: var(--color-attention-subtle);
  color: var(--color-text-primary);
}

.markdown-body small {
  font-size: 90%;
}

.markdown-body sub,
.markdown-body sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.markdown-body sub {
  bottom: -0.25em;
}

.markdown-body sup {
  top: -0.5em;
}

.markdown-body img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: var(--color-canvas-default);
}

.markdown-body code,
.markdown-body kbd,
.markdown-body pre,
.markdown-body samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

.markdown-body figure {
  margin: 1em 40px;
}

.markdown-body hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: var(--color-primary-bger-default);
  border: 0;
}

.markdown-body input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdown-body [type=button],
.markdown-body [type=reset],
.markdown-body [type=submit] {
  -webkit-appearance: button;
}

.markdown-body [type=button]:-moz-focus-inner,
.markdown-body [type=reset]:-moz-focus-inner,
.markdown-body [type=submit]:-moz-focus-inner {
  border-style: none;
  padding: 0;
}

.markdown-body [type=button]:-moz-focusring,
.markdown-body [type=reset]:-moz-focusring,
.markdown-body [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.markdown-body [type=checkbox],
.markdown-body [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.markdown-body [type=number]:-webkit-inner-spin-button,
.markdown-body [type=number]:-webkit-outer-spin-button {
  height: auto;
}

.markdown-body [type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

.markdown-body [type=search]:-webkit-search-cancel-button,
.markdown-body [type=search]:-webkit-search-decoration {
  -webkit-appearance: none;
}

.markdown-body :-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

.markdown-body :-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}


.markdown-body hr::before {
  display: table;
  content: "";
}

.markdown-body hr::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.markdown-body td,
.markdown-body th {
  padding: 0;
}

.markdown-body details summary {
  cursor: pointer;
}

.markdown-body details:not([open])>*:not(summary) {
  display: none !important;
}

.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  line-height: 10px;
  color: var(--color-fg-default);
  vertical-align: middle;
  background-color: var(--color-canvas-subtle);
  border: solid 1px var(--color-neutral-muted);
  border-bottom-color: var(--color-neutral-muted);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 var(--color-neutral-muted);
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 24px;
  margin-bottom: 8px;
}

.markdown-body h2::before {
  content: counter(h2counter) ".\0000a0\0000a0";
  counter-increment: h2counter;
  counter-reset: h3counter;
}

.markdown-body h3::before {
  content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
  counter-increment: h3counter;
}

.markdown-body p {
  margin: 0 0 1rem 2rem;
}

.markdown-body blockquote {
  @apply my-12 py-4 pr-4 border-l-4 border-epierrot bg-secondary-bg rounded-r;
}

.markdown-body ul,
.markdown-body ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.markdown-body ol ol,
.markdown-body ul ol {
  list-style-type: lower-roman;
}

.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
  list-style-type: lower-alpha;
}

.markdown-body dd {
  margin-left: 0;
}

.markdown-body tt,
.markdown-body code {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 12px;
}

.markdown-body pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 12px;
  word-wrap: normal;
}

.markdown-body .octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.markdown-body :placeholder {
  color: var(--color-fg-subtle);
  opacity: 1;
}

.markdown-body input:-webkit-outer-spin-button,
.markdown-body input:-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.markdown-body .pl-c {
  color: var(--color-prettylights-syntax-comment);
}

.markdown-body .pl-c1,
.markdown-body .pl-s .pl-v {
  color: var(--color-prettylights-syntax-constant);
}

.markdown-body .pl-e,
.markdown-body .pl-en {
  color: var(--color-prettylights-syntax-entity);
}

.markdown-body .pl-smi,
.markdown-body .pl-s .pl-s1 {
  color: var(--color-prettylights-syntax-storage-modifier-import);
}

.markdown-body .pl-ent {
  color: var(--color-prettylights-syntax-entity-tag);
}

.markdown-body .pl-k {
  color: var(--color-prettylights-syntax-keyword);
}

.markdown-body .pl-s,
.markdown-body .pl-pds,
.markdown-body .pl-s .pl-pse .pl-s1,
.markdown-body .pl-sr,
.markdown-body .pl-sr .pl-cce,
.markdown-body .pl-sr .pl-sre,
.markdown-body .pl-sr .pl-sra {
  color: var(--color-prettylights-syntax-string);
}

.markdown-body .pl-v,
.markdown-body .pl-smw {
  color: var(--color-prettylights-syntax-variable);
}

.markdown-body .pl-bu {
  color: var(--color-prettylights-syntax-brackethighlighter-unmatched);
}

.markdown-body .pl-ii {
  color: var(--color-prettylights-syntax-invalid-illegal-text);
  background-color: var(--color-prettylights-syntax-invalid-illegal-bg);
}

.markdown-body .pl-c2 {
  color: var(--color-prettylights-syntax-carriage-return-text);
  background-color: var(--color-prettylights-syntax-carriage-return-bg);
}

.markdown-body .pl-sr .pl-cce {
  font-weight: bold;
  color: var(--color-prettylights-syntax-string-regexp);
}

.markdown-body .pl-ml {
  color: var(--color-prettylights-syntax-markup-list);
}

.markdown-body .pl-mh,
.markdown-body .pl-mh .pl-en,
.markdown-body .pl-ms {
  font-weight: bold;
  color: var(--color-prettylights-syntax-markup-heading);
}

.markdown-body .pl-mi {
  font-style: italic;
  color: var(--color-prettylights-syntax-markup-italic);
}

.markdown-body .pl-mb {
  font-weight: bold;
  color: var(--color-prettylights-syntax-markup-bold);
}

.markdown-body .pl-md {
  color: var(--color-prettylights-syntax-markup-deleted-text);
  background-color: var(--color-prettylights-syntax-markup-deleted-bg);
}

.markdown-body .pl-mi1 {
  color: var(--color-prettylights-syntax-markup-inserted-text);
  background-color: var(--color-prettylights-syntax-markup-inserted-bg);
}

.markdown-body .pl-mc {
  color: var(--color-prettylights-syntax-markup-changed-text);
  background-color: var(--color-prettylights-syntax-markup-changed-bg);
}

.markdown-body .pl-mi2 {
  color: var(--color-prettylights-syntax-markup-ignored-text);
  background-color: var(--color-prettylights-syntax-markup-ignored-bg);
}

.markdown-body .pl-mdr {
  font-weight: bold;
  color: var(--color-prettylights-syntax-meta-diff-range);
}

.markdown-body .pl-ba {
  color: var(--color-prettylights-syntax-brackethighlighter-angle);
}

.markdown-body .pl-sg {
  color: var(--color-prettylights-syntax-sublimelinter-gutter-mark);
}

.markdown-body .pl-corl {
  text-decoration: underline;
  color: var(--color-prettylights-syntax-constant-other-reference-link);
}

.markdown-body [data-catalyst] {
  display: block;
}

.markdown-body g-emoji {
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: normal;
  line-height: 1;
  vertical-align: -0.075em;
}

.markdown-body g-emoji img {
  width: 1em;
  height: 1em;
}

.markdown-body::before {
  display: table;
  content: "";
}

.markdown-body::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body>*:first-child {
  margin-top: 0 !important;
}

.markdown-body>*:last-child {
  margin-bottom: 0 !important;
}

.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-body .absent {
  color: var(--color-danger-fg);
}

.markdown-body .anchor {
  float: left;
  padding-right: .25rem;
  margin-left: -20px;
  line-height: 1;
}

.markdown-body .anchor:focus {
  outline: none;
}

.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre,
.markdown-body details {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body blockquote>:first-child {
  margin-top: 0;
}

.markdown-body blockquote>:last-child {
  margin-bottom: 0;
}

.markdown-body sup>a::before {
  content: "[";
}

.markdown-body sup>a::after {
  content: "]";
}

.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
  color: var(--color-fg-default);
  vertical-align: middle;
  visibility: hidden;
}

.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
  text-decoration: none;
}

.markdown-body h1:hover .anchor .octicon-link,
.markdown-body h2:hover .anchor .octicon-link,
.markdown-body h3:hover .anchor .octicon-link,
.markdown-body h4:hover .anchor .octicon-link,
.markdown-body h5:hover .anchor .octicon-link,
.markdown-body h6:hover .anchor .octicon-link {
  visibility: visible;
}

.markdown-body h1 tt,
.markdown-body h1 code,
.markdown-body h2 tt,
.markdown-body h2 code,
.markdown-body h3 tt,
.markdown-body h3 code,
.markdown-body h4 tt,
.markdown-body h4 code,
.markdown-body h5 tt,
.markdown-body h5 code,
.markdown-body h6 tt,
.markdown-body h6 code {
  padding: 0 .2em;
  font-size: inherit;
}

.markdown-body ul.no-list,
.markdown-body ol.no-list {
  padding: 0;
  list-style-type: none;
}

.markdown-body ol[type="1"] {
  list-style-type: decimal;
}

.markdown-body ol[type=a] {
  list-style-type: lower-alpha;
}

.markdown-body ol[type=i] {
  list-style-type: lower-roman;
}

.markdown-body div>ol:not([type]) {
  list-style-type: decimal;
}

.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body li>p {
  margin-top: 16px;
}

.markdown-body li+li {
  margin-top: .25em;
}

.markdown-body dl {
  padding: 0;
}

.markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-body table th {
  font-weight: bold;
}

.markdown-body table th,
.markdown-body table td {
  padding: 6px 13px;
  border: 1px solid var(--color-primary-bger-default);
}

.markdown-body table tr {
  background-color: var(--color-canvas-default);
  border-top: 1px solid var(--color-primary-bger-muted);
}

.markdown-body table tr:nth-child(2n) {
  background-color: var(--color-canvas-subtle);
}

.markdown-body table img {
  background-color: transparent;
}

.markdown-body img[align=right] {
  padding-left: 20px;
}

.markdown-body img[align=left] {
  padding-right: 20px;
}

.markdown-body .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

.markdown-body span.frame {
  display: block;
  overflow: hidden;
}

.markdown-body span.frame>span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid var(--color-primary-bger-default);
}

.markdown-body span.frame span img {
  display: block;
  float: left;
}

.markdown-body span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: var(--color-fg-default);
}

.markdown-body span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.markdown-body span.align-center>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

.markdown-body span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.markdown-body span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.markdown-body span.align-right>span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

.markdown-body span.align-right span img {
  margin: 0;
  text-align: right;
}

.markdown-body span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

.markdown-body span.float-left span {
  margin: 13px 0 0;
}

.markdown-body span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

.markdown-body span.float-right>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

.markdown-body code,
.markdown-body tt {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: var(--color-neutral-muted);
  border-radius: 6px;
}

.markdown-body code br,
.markdown-body tt br {
  display: none;
}

.markdown-body del code {
  text-decoration: inherit;
}

.markdown-body pre code {
  font-size: 100%;
}

.markdown-body pre>code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown-body .highlight {
  margin-bottom: 16px;
}

.markdown-body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown-body .highlight pre,
.markdown-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: var(--color-canvas-subtle);
  border-radius: 6px;
}

.markdown-body pre code,
.markdown-body pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.markdown-body .csv-data td,
.markdown-body .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

.markdown-body .csv-data .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  background: var(--color-canvas-default);
  border: 0;
}

.markdown-body .csv-data tr {
  border-top: 0;
}

.markdown-body .csv-data th {
  font-weight: bold;
  background: var(--color-canvas-subtle);
  border-top: 0;
}

.markdown-body .footnotes {
  font-size: 12px;
  color: var(--color-fg-muted);
  border-top: 1px solid var(--color-primary-bger-default);
}

.markdown-body .footnotes ol {
  padding-left: 16px;
}

.markdown-body .footnotes li {
  position: relative;
}

.markdown-body .footnotes li:target::before {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -24px;
  pointer-events: none;
  content: "";
  border: 2px solid var(--color-accent-emphasis);
  border-radius: 6px;
}

.markdown-body .footnotes li:target {
  color: var(--color-fg-default);
}

.markdown-body .footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

.markdown-body .task-list-item {
  list-style-type: none;
}

.markdown-body .task-list-item label {
  font-weight: normal;
}

.markdown-body .task-list-item.enabled label {
  cursor: pointer;
}

.markdown-body .task-list-item+.task-list-item {
  margin-top: 3px;
}

.markdown-body .task-list-item .handle {
  display: none;
}

.markdown-body .task-list-item-checkbox {
  margin: 0 .2em .25em -1.6em;
  vertical-align: middle;
}

.markdown-body .contains-task-list:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em .25em .2em;
}

.markdown-body :-webkit-calendar-picker-indicator {
  filter: invert(50%);
}

@media print {
  @page {
    margin: 1.3cm 1.3cm 1.3cm 4cm;

    @bottom-right {
      border-top: .25pt solid #666;
      content: counter(page);
    }
  }

  :root {
    @apply font-sans bg-white text-black leading-6 box-border;
  }

  *,
  html,
  body {
    @apply bg-white text-black text-base;
    font-family: 'Avenir', 'Lato', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 9pt;
    line-height: 1.4rem;
    margin: 0;
    float: none;
    font-variant-ligatures: common-ligatures;
  }

  a[href^="http://"].pdf::after,
  a[href^="https://"].pdf::after {
    content: " [" attr(href) "]";
  }

  b i {
    @apply font-bold italic;
  }

  main,
  .frame {
    @apply border-none py-0 my-0;
  }

  div.level1,
  p {
    margin-bottom: 0.5rem;
  }

  div.level1,
  p,
  i,
  li,
  h1 {
    page-break-before: auto;
    page-break-inside: avoid;
    text-overflow: ellipsis;
    float: none;
  }

  a,
  a:hover,
  a:active,
  a:visited,
  .comment {
    @apply border-0 text-epierrot;
    text-decoration: none !important;
    font-weight: inherit;
  }

  h1 {
    @apply text-4xl mb-20;
  }

  h2 {
    @apply text-lg pt-2;
  }

  /* fixing base.css for print */
  .revers {
    @apply bg-secondary-bg text-primary-text pb-1 pt-0.5 mr-2 rounded-sm md:rounded transition-all duration-700 ease-in-out inline;
    box-shadow: none;
    box-decoration-break: clone;
  }

  .revers::after {
    content: " |";
  }

  .filterOption.revers {
    @apply my-1 mr-8 font-bold pt-1;
    box-shadow: none;
  }

  .filterOption.revers:hover {
    @apply text-primary-text bg-secondary-bg;
    box-shadow: 0.75rem 0 0 var(--color-secondary-bg), -0.75rem 0 0 var(--color-secondary-bg);
  }

  .backButton,
  #languageMode {
    @apply invisible h-0 w-0 p-0 m-0;
  }

  .videoFrame {
    @apply invisible h-0 w-0 p-0 m-0;
  }

  .videoLink {
    @apply visible h-auto w-auto;
  }

  #search,
  #footer,
  #CDJPlogo {
    @apply invisible h-0 w-0 p-0 m-0;
  }
}

p.cnamletters span {
  @apply text-red-700 font-bold capitalize;
  letter-spacing: 0.05rem;
}



/* Prez */

body#prez {
  width: 100vw;
  height: 100vh;
  background: #1c1c1c !important;
  --splide-padding: 2vw;
}

div.splide {
  height: 100%;
  background: transparent !important;
}

div.splide .splide__slide {
  @apply relative flex flex-col rounded-lg;
  height: 100%;
  width: 100%;
}

div.splide .splide__slide .slideContent {
  @apply relative w-full h-full flex flex-col justify-start rounded-lg;
  padding: 6vh 6vw;
}

div.splide .splide__slide .backg {
  @apply block absolute rounded-lg;
  content: ' ';
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -3;
  filter: blur(2px) brightness(1.2) grayscale(0.6) hue-rotate(188deg) saturate(0.8) sepia(0.22);
}

div.splide .splide__slide .backg img {
  @apply rounded-lg;
}

div.splide .splide__slide .grad {
  @apply absolute rounded-lg;
  --colbck: 0;
  content: ' ';
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  background-image: linear-gradient(135deg, #FFFFFF00 0%, #FFFFFF 40%);
  transition: all 30s;
}

div.splide .splide__slide .gradcol {
  @apply absolute rounded-lg;
  content: ' ';
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -2;
  opacity: 0.9;
  overflow: auto;
  background-attachment: fixed !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

div.splide *,
div.splide p {
  font-size: 2.2vh;
  color: #1c1c1c;
  fill: #1c1c1c;
}

div.splide p {
  margin-bottom: 1.8vh;
}

div.splide h1 {
  font-size: 3vh;
  padding: 0 !important;
  margin: 3vh 0 7vh 0 !important;
}

div.splide a,
div.splide a:visited {
  @apply text-epierrot;
}

div.splide a:hover {
  @apply bg-epierrot text-primary-bg cursor-pointer;
}

div.splide .splide__slide .slideFooter {
  @apply w-full flex-grow-0 flex-shrink-0 px-2 flex justify-between w-full;
}

div.splide .splide__slide .slideFooter,
div.splide .splide__slide .slideFooter * {
  @apply text-white;
  font-size: 1.5vh;
}

div.splide .splide__slide .slideFooter>a,
div.splide .splide__slide .slideFooter>a:visited {
  @apply text-white;
}

div.splide .splide__slide .slideFooter span {
  @apply opacity-50;
}

div.splide .splide__slide .slideFooter .closeIcon {
  @apply pb-0.5 inline mb-2;
  fill: white;
  stroke: white;
}

div.splide .petitTxt,
div.splide .petitTxt * {
  font-size: 1.6vh;
}

div.splide .miniTxt,
div.splide .miniTxt * {
  font-size: 1.2vh;
}

#prez #qrcode {
  width: 15vh;
}

div.splide .splide__slide .slide_sid {
  @apply px-24 flex-grow-0 flex-shrink-0;
}

div.splide .splide__slide .slide_main {
  @apply px-6 pb-20 max-w-screen-2xl flex-grow-0 flex-shrink;
}

div.splide .splide__arrow {
  background: transparent !important;
}

div.splide .splide__arrow:disabled {
  opacity: 0 !important;
}

div.splide .imgright {
  @apply rounded-lg p-1 text-right w-fit;
  max-height: 50vh;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 0px 6px -1px, rgba(255, 255, 255, 0.08) 0px 0px 0px inset;
}

div.splide .imgright img {
  @apply rounded-md h-full object-contain;
}

button.splide__pagination__page {
  @apply bg-secondary-text;
}

#prez .petiteImg {
  @apply object-contain rounded-lg p-1 bg-primary-bg;
  height: 15vh;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 0px 6px -1px, rgba(255, 255, 255, 0.08) 0px 0px 0px inset;
}

ul.splide__pagination {
  @apply flex-row;
  left: auto;
}

button.splide__pagination__page {
  width: 0.6vh;
  height: 0.6vh;
  text-align: right;
  margin: 0 !important;
}

button.splide__arrow {
  width: 0.7vw;
}