<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
{{- partial "head.html" . -}}

<body id="cv" class="overflow-x-hidden lg:overflow-x-auto">
   <main class="md:container lg:mx-auto bg-primary-bg lg:my-16 py-6 px-2 lg:p-14">
      {{ with index .Site.Data.plevy .Site.Language.Lang }}
      <h1 class="mb-30 mt-22">{{ .identity.title }} {{ .identity.firstname }} {{ .identity.lastname }}, HDR · Publications</h1>
      <div class="grid grid-cols-7 gap-x-6 mb-10">
         <div><b>{{ i18n "name" }}</b></div>
         <div class="col-span-2">{{ .identity.lastname }}</div>
         {{ if .Params.allinfo}}<div><b>{{ i18n "nationality" }}</b></div>
         <div class="col-span-2">{{ .identity.nationality }}</div>
         <div>&nbsp;</div>
         {{ else }}<div class="col-span-2">&nbsp;</div>
         <div class="col-span-2">&nbsp;</div>{{ end }}
         <div><b>{{ i18n "firstnames" }}</b></div>
         <div class="col-span-2">{{ .identity.firstname }} {{ .identity.middlename }}</div>
         {{ if .Params.allinfo}}<div><b>{{ i18n "birthdate" }}</b></div>
         <div class="col-span-2">{{ .identity.birthdate }}</div>
         {{ else }}<div class="col-span-2">&nbsp;</div>
         <div class="col-span-2">&nbsp;</div>{{ end }}
         {{ if .Params.allinfo}}<div class="col-span-7">&nbsp;</div>{{ end }}
         {{ if .Params.allinfo}}<div><b>{{ i18n "phone" }}</b></div>
         <div class="col-span-2">{{ .identity.tel }}</div>
         <div class="">&nbsp;</div>{{ end }}
         <div><b>{{ i18n "email" }}</b></div>
         <div class="col-span-2">{{ .identity.proemail }}</div>
         {{ if not .Params.allinfo }}<div class="col-span-2">&nbsp;</div><div class="col-span-2">&nbsp;</div>{{ end }}
         <div><b>{{ i18n "web" }}</b></div>
         <div class="col-span-2"><a href="{{ .identity.web.url }}" target="_blank" rel="noreferrer">{{ .identity.web.username }}</a></div>
         {{ if .Params.allinfo }}<div class="">&nbsp;</div>{{ else }}
         <div class="col-span-2">&nbsp;</div><div class="col-span-2">&nbsp;</div>{{ end }}
         <div><b>{{ i18n "linkedin" }}</b></div>
         <div class="col-span-2"><a href="{{ .identity.social.linkedin.url }}" target="_blank"
               rel="noreferrer">{{ .identity.social.linkedin.username }}</a></div>
         <div class="">&nbsp;</div>
         <div class="col-span-7">&nbsp;</div>
      </div>
      <h2>{{ i18n "publijournal"}}<span class="font-normal"> ({{ $cnt := 0 }}{{ range where $.Site.Pages "Section" "publications" }}{{ if eq .Params.publitype "article" }}{{ $cnt = (add $cnt 1) }}{{ end }}{{ end }}{{- $cnt -}})</span></h2>
      {{ range where $.Site.Pages "Section" "publications" }}{{ if eq .Params.publitype "article" }}<div class="level1">
         {{ partial "citation.html" . }}</div>{{ end }}{{ end }}
      <h2>{{ i18n "publiconf" }}<span class="font-normal"> ({{ $cnt := 0 }}{{ range where $.Site.Pages "Section" "publications" }}{{ if eq .Params.publitype "inproceedings" }}{{ $cnt = (add $cnt 1) }}{{ end }}{{ end }}{{- $cnt -}})</span></h2>
      {{ range where $.Site.Pages "Section" "publications" }}{{ if eq .Params.publitype "inproceedings" }}<div
         class="level1">{{ partial "citation.html" . }}</div>{{ end }}{{ end }}
      <h2>{{ i18n "books" }}<span class="font-normal"> ({{ $cnt := 0 }}{{ range where $.Site.Pages "Section" "publications" }}{{ if eq .Params.publitype "book" }}{{ $cnt = (add $cnt 1) }}{{ end }}{{ end }}{{- $cnt -}})</span></h2>
      {{ range where $.Site.Pages "Section" "publications" }}{{ if eq .Params.publitype "book" }}<div
         class="level1">{{ partial "citation.html" . }}</div>{{ end }}{{ end }}
      <h2>{{ i18n "publichap" }}<span class="font-normal"> ({{ $cnt := 0 }}{{ range where $.Site.Pages "Section" "publications" }}{{ if eq .Params.publitype "inbook" }}{{ $cnt = (add $cnt 1) }}{{ end }}{{ end }}{{- $cnt -}})</span></h2>
      {{ range where $.Site.Pages "Section" "publications" }}{{ if eq .Params.publitype "inbook" }}<div
         class="level1">{{ partial "citation.html" . }}</div>{{ end }}{{ end }}
      <h2>{{ i18n "edition" }}<span class="font-normal"> ({{ $cnt := 0 }}{{ range where $.Site.Pages "Section" "publications" }}{{ if eq .Params.publitype "edition" }}{{ $cnt = (add $cnt 1) }}{{ end }}{{ end }}{{- $cnt -}})</span></h2>
      {{ range where $.Site.Pages "Section" "publications" }}{{ if eq .Params.publitype "edition" }}<div
         class="level1">{{ partial "citation.html" . }}</div>{{ end }}{{ end }}
      <h2>{{ i18n "publidissertation" }}<span class="font-normal"> ({{ $cnt := 0 }}{{ range where $.Site.Pages "Section" "publications" }}{{ if or (eq .Params.publitype "phdthesis") (eq .Params.publitype "masterthesis") (and (eq .Params.publitype "misc") (eq .Params.subsection "dissertation")) }}{{ $cnt = (add $cnt 1) }}{{ end }}{{ end }}{{- $cnt -}})</span></h2>
      {{ range where $.Site.Pages "Section" "publications" }}{{ if or (eq .Params.publitype "phdthesis") (eq .Params.publitype "masterthesis") (and (eq .Params.publitype "misc") (eq .Params.subsection "dissertation")) }}<div
         class="level1">{{ partial "citation.html" . }}</div>{{ end }}{{ end }}
      <h2>{{ i18n "publireport" }}<span class="font-normal"> ({{ $cnt := 0 }}{{ range where $.Site.Pages "Section" "publications" }}{{ if eq .Params.publitype "report" }}{{ $cnt = (add $cnt 1) }}{{ end }}{{ end }}{{- $cnt -}})</span></h2>
      {{ range where $.Site.Pages "Section" "publications" }}{{ if eq .Params.publitype "report" }}<div class="level1">
            {{ partial "citation.html" . }}</div>{{ end }}{{ end }}
    {{ end }}
   </main>
</body>
</html>