{{ define "main" }}
{{if not .IsHome }}<div class="absolute top-3 left-3"><a class="text-primary-text "
    href="{{ .Site.BaseURL | absURL }}">{{ partial "icons.html" (dict "ico" "back" "hei" "1.7") -}}</a></div>{{ end }}
<div class="case">
    <h1 class="text-2xl font-bold" id="FrontTitle">{{ .Params.title |safeHTML }}</h1>
</div>
<div class="navmenu min-h-0 lg:min-h-72 p-0 fixed lg:relative top-0 lg:top-auto z-10 lg:z-auto left-0 lg:left-auto">
    {{ partial "list-menutop.html" . -}}
        <div id="target"
            class="hidden lg:flex flex-row lg:flex-col flex-wrap w-full py-4 px-8 lg:p-0 bg-secondary-bg lg:bg-transparent border-b lg:border-0 border-primary-text">
            <nav class="flex-none w-full flex flex-row lg:justify-center">
                <div id="topMenu"
                    class="h-full px-8 lg:px-0 transition-all lg:w-full flex flex-row flex-wrap justify-evenly content-start publiselect menu button-group"
                    id="filters">
                    {{ range where (.Site.Pages.ByParam "short") "Section" "in" "elsewhere" }}{{ if ne .Params.notListed
                    true }}
                    <a href="/elsewhere/{{- .Params.category -}}"
                        class="filterOption px-2 py-1 rounded inline font-bold hover:bg-secondary-bg transition-all duration-700 text-primary-text">{{-
                        .Params.short -}}</a>
                    {{ end }}{{ end }}
                </div>
            </nav>
        </div>
    </div>
<div class="permanent caselarge">
    <div class="w-full h-screen">
        <iframe width="100%" height="100%" src="https://padlet.com/pierre_levy/{{- .Params.folder -}}" title="Padlet"
            frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<script defer>
    document.addEventListener('DOMContentLoaded', () => {
        switchBurger();
    });
</script>
{{ end }}