{{ define "main" }}
{{ partial "title.html" . }}
<div class="w-full overflow-hidden flex flex-col md:flex-row">
    <div class="w-1/4 pl-5 pr-20 self-end">&nbsp;</div>
    <div class="max-w-3xl w-full px-5">
    {{ $count := 0 }}
    {{ range where .Site.Pages "Section" "in" (slice .Params.zone) }}
    {{ if ne .Params.notListed true }}
    {{ $count = add $count 1 }}
    {{- partial "box.html" ( dict "context" . "cou" $count) -}}
    {{ end }}{{ end }}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        switchBurger();
    });
</script> 
    </div>
    <div class="w-1/4 pl-20 pr-5">&nbsp;</div>
</div>
{{ partial "footer.html" . }}
{{ end }}