{{ if and (not .IsHome) (ne .Params.layout "chaire") }}
{{ $currRellink := substr .RelPermalink 0 -1 }}
{{ $currContent := .Content }}
{{ $backlinks := slice }}
{{ $forwardlinks := slice }}
{{ range .Site.Pages }}
{{ $found := findRE $currRellink .Content 1 }}
{{ if $found }}
{{ $backlinks = $backlinks | append . }}
{{ else }}
{{ $rellink := substr .RelPermalink 0 -1 }}
{{ $found = findRE $rellink $currContent 1 }}
{{ if $found }}
{{ $forwardlinks = $forwardlinks | append . }}
{{ end }}
{{ end }}
{{ end }}

{{ $related := append $backlinks $forwardlinks }}
{{ if or (compare.Gt ($related | len) 1) (ne .Params.comment false) }}

{{ if compare.Gt ($related | len) 1}}

<div id="headUp">
    <div class="headInPage_blocks">
        {{ $count := 0}}
        {{ range sort $related "Date" "desc" }}
        {{ if ne .Permalink (.Site.BaseURL | absURL ) }}
        {{ $count = add $count 1 }}
        {{- partial "boxUp.html" ( dict "context" . "cou" $count ) -}}
        {{ end }}
        {{ end }}
    </div>
</div>
{{ end }}
{{ end }}
</section>
{{ end }}