{{ define "main" }}
{{ if false }}
<div>
    {{ $page := $.Site.GetPage "page" "chaire.md" }}
    {{ with $page }}
    {{- partial "box.html" ( dict "context" . "sort" 100) -}}
    {{ end }}
    {{ $page := $.Site.GetPage "page" "plevy.md" }}
    {{ with $page }}
    {{- partial "box.html" ( dict "context" . "sort" 100) -}}
    {{ end }}
</div>
{{ end }}
<section id="headUp">
    <div>&nbsp;</div>
    <div>ok</div>
    <div class="text-xl font-bold text-center" id="archive-btn">Archives<br>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down mx-auto" viewBox="0 0 16 16">
  <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"/>
</svg>
</div>
</section>
<section class="splide" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
        <ul class="splide__list">
            {{ range $fold := slice "events" "teaching" "courses" "projects" "research" "publications" "writings" "presentations" }}
            <li class="splide__slide">
                <div class="splide_title">{{ i18n $fold }}</div>
                {{ range readDir "content" }}
                {{ if eq .Name $fold }}
                {{ range where $.Site.Pages "Section" "in" ($fold) }}
                {{ if eq .Params.zone $fold }}
                {{ range where .Site.Pages "Section" "in" (slice .Params.zone) }}
                {{ if ne .Params.notListed true }}
                {{- partial "box.html" ( dict "context" . ) -}}
                {{ end }}
                {{ end }}

                {{ end }}
                {{ end }}
                {{ end }}
                {{ end }}
            </li>
            {{ end }}
        </ul>
    </div>
</section>
{{ end }}