{{ define "main" }}
{{ if false }}
<div>
    {{ $page := $.Site.GetPage "page" "chaire.md" }}
    {{ with $page }}
    {{- partial "box.html" ( dict "context" . "sort" 100) -}}
    {{ end }}
    {{ $page := $.Site.GetPage "page" "plevy.md" }}
    {{ with $page }}
    {{- partial "box.html" ( dict "context" . "sort" 100) -}}
    {{ end }}
</div>
{{ end }}
<div id="headUp">
    <div class="headUpBlock">
        <section id="splideHeadUp" class="splide" aria-label="splide Basic HTML Example">
            <div class="splide__track">
                <ul class="splide__list">
                    {{ range $fold := slice "events" "teaching" "courses" "projects" "research" "publications" "writings" "presentations" }}
                    {{ range readDir "content" }}
                    {{ if eq .Name $fold }}
                    {{ range where $.Site.Pages "Section" "in" ($fold) }}
                    {{ if eq .Params.zone $fold }}
                    {{ range where .Site.Pages "Section" "in" (slice .Params.zone) }}
                    {{ if eq .Params.fronttop true }}
                    <li class="splide__slide">{{ partial "box.html" ( dict "context" . ) -}}</li>
                    {{ end }}
                    {{ end }}
                    {{ end }}
                    {{ end }}
                    {{ end }}
                    {{ end }}
                    {{ end }}
                </ul>
            </div>
        </section>
    </div>
</div>
<section id="splideArchive" class="splide" aria-label="Splide Basic HTML Example">
    <div class="text-xl font-bold text-center" id="archive-btn">Archives</div>
    <div class="splide__track">
        <ul class="splide__list">
            {{ range $fold := slice "events" "teaching" "courses" "projects" "research" "publications" "writings" "presentations" }}
            <li class="splide__slide">
                <div class="splide_title">{{ i18n $fold }}</div>
                {{ range readDir "content" }}
                {{ if eq .Name $fold }}
                {{ range where $.Site.Pages "Section" "in" ($fold) }}
                {{ if eq .Params.zone $fold }}
                {{ range where .Site.Pages "Section" "in" (slice .Params.zone) }}
                {{ if ne .Params.notListed true }}
                {{- partial "box.html" ( dict "context" . ) -}}
                {{ end }}
                {{ end }}
                {{ end }}
                {{ end }}
                {{ end }}
                {{ end }}
            </li>
            {{ end }}
        </ul>
    </div>
</section>
{{ end }}