{{ if .Params.redirect }}<meta http-equiv="Refresh" content="0; url='{{ .Params.redirect }}'" />{{ end }}
<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
{{- partial "head.html" . -}}

<body id="{{ .Params.bodyclass }}" class="overflow-x-hidden md:overflow-x-auto">
  {{ partial "side.html" . }}
  <main class='w-screen'>
    {{- block "main" . }}{{- end }}
    {{ if or (eq .Params.layout "event") (eq .Params.layout "presentation") (eq .Params.layout "programme") (eq .Params.layout "project") (eq .Params.layout "publi") (eq .Params.layout "ressearch") (eq .Params.layout "teaching") }}
      <div class="case">
      <script src="https://utteranc.es/client.js" repo="picchono/plevyfr" issue-term="pathname" theme="github-light" crossorigin="anonymous" async></script>
      </div>
    {{ end }}
    {{ partial "footer.html" . }}
  </main>
</body>
{{ if .Params.photogallery }}
{{ $spo_js := resources.Get "js/spotl.js" | minify }}
<script defer src="{{ $spo_js.Permalink }}"></script>
{{ end }}
</html>