{{ define "main" }}
{{ $langu := .Site.Language.Lang }}
{{ if ne $langu "jp" }}
{{ with index .Site.Data.all .Site.Language.Lang }}
<div class="case items-start pt-20">
    <h1 class="text-4xl -mx-0.5">{{ .identity.firstname }} {{ .identity.lastname }}</h1>
    <div class="text-xs -my-1.5 text-epierrot">{{ .identity.title }} - HDR</div>
</div>
{{ end }}
{{ with index .Site.Data.all .Site.Language.Lang }}
<div class="case items-start">
    {{ range .pro }}{{ if .main }}
    <div class="">{{ .title | safeHTML }}
        {{ i18n "at" }} {{ .institution |safeHTML }}, {{ .country |safeHTML }}
    </div>
    {{ if .extra }}<div class="">{{ .extra | safeHTML }}</div>{{ end }}
    {{ end }}{{ end }}
</div>
{{ end }}
<div class="case block py-32">
    <a class="transpaLink" href="/writings/">{{ i18n "Recent-writings" }} {{ partial "front-writing.html" . }}</a>
{{range sort .Params.blocs "order"}}
    <span class="inline-block mr-1"></span>{{ .text |safeHTML }}
{{ end }}
</div>
{{ else }}
{{ with index .Site.Data.all .Site.Language.Lang }}
<div class="case">
    <h1 class="">{{ .identity.title }} {{ .identity.firstname }} {{ .identity.lastname }}, HDR</h1>
    <p class="text-xs">{{ .identity.jp |safeHTML }}</p>
</div>
{{ end }}
{{ with index .Site.Data.all .Site.Language.Lang }}
<div class="case h-auto">
    {{ range .pro }}{{ if .main }}{{ .institution |safeHTML }}
    {{ if .extra }}{{ .extra | safeHTML }}{{ end }}{{ end }}{{ end }}
</div>
{{ end }}
{{ end }}
{{ with index .Site.Data.all .Site.Language.Lang }}
<div class="case">{{ .identity.description | safeHTML }}</div>
{{ end }}
<div class="case h-96"><img src="" data-toset="{{ .Params.pict | absURL }}" data-ref="{{ .Params.pict | absURL }}"
    alt="Pierre Lévy" class="imag object-cover w-full h-full rounded-md" style="filter:grayscale(0.9);" />
</div>
<div class="case flex flex-col justify-center items-center">
    {{ if .Params.link }}{{ partial "doclink.html" . }}{{ end }}
    <div class="social flex flex-row justify-center items-center">
        {{ with index .Site.Data.all .Site.Language.Lang }}
        {{ range sort .identity.social "order" }}<a href="{{ .url }}" target="_blank"
            class="inline-block mx-2 transition-all duration-700 ease-in-out" rel="noreferrer"
            data-tooltip="{{ .type }}" aria-label="This links to {{ .type }}">{{- partial "icons.html" (dict "ico" .icon
            "hei" 1 "colo" "var(--color-primary-text)") -}}</a>{{ end }}
        {{ end }}
    </div>
</div>
{{ end }}