{{ define "main" }}
{{ partial "list-title.html" . }}
<div class="case px-8 py-0 items-start justify-start">
    <input class="control-field search-field form-control bg-transparent text-left w-full font-bold" type="text"
        name="search" placeholder='{{ i18n "search" }}...' />
</div>
<div class="case p-0">
    <div class="muugrid publili w-full">
    {{ $count := 0 }}
    {{ range where .Site.Pages "Section" "in" (slice .Params.zone) }}
    {{ if ne .Params.notListed true }}
    {{ $count = add $count 1 }}
    {{- partial "box.html" ( dict "context" . "cou" $count) -}}
    {{ end }}{{ end }}
    </div>
</div>
{{ $muu_js := resources.Get "js/muu.js" | minify }}
<script defer src="{{ $muu_js.Permalink }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        switchBurger();
    });
</script>
{{ end }}