{{ if ne (dateFormat "2006" .context.Date) "0001" }}
<div id="{{- .context.Slug }}"
    class='menuBox {{ if and (.context.Section) (ne .context.Section "pl") }}section-{{ .context.Section }}{{ else }}section-introduction{{ end }}{{ if eq .pag 1 }} startSection{{ end }}{{- if eq .context.Params.status "ended" }} ended{{ end -}}'
    aria-label="{{- .context.Title |safeHTML -}}" data-cat-sort="{{if .sort }}{{ .sort }}{{ else }}1{{ end }}"
    data-date="{{ .context.Date }}" data-section="{{ .context.Section  }}">
    <a class="boxIso {{ if .context.Section}}{{ .context.Section }}{{ else }}introduction{{ end }}"
        href="{{ .context.Permalink }}">
        <div class="flex flex-col items-start justify-start">
            {{ if .sect }}
            {{ $sectio := strings.TrimSuffix "s" (i18n .context.Section) }}
            <span class="menuBoxCount"><b>
                {{ if eq (( string .sect ) | len ) 1 }}0{{ end }}{{ .sect }}|{{ if eq (( string .pag ) | len ) 1 }}0{{ end }}{{ .pag }} ·
                {{ $sectio | humanize }} ·
                {{ if or ( eq .context.Section "events" ) ( eq .context.Section "writings" )}}{{ dateFormat "01 January 2006" .context.Date }}
                {{ else if or ( eq .context.Section "projects" ) ( eq .context.Section "publications" )  ( eq .context.Section "presentations" )}}{{ dateFormat "2006" .context.Date }}
                {{ else }}{{ dateFormat "2006" .context.Date }}/
                {{- if eq .context.Params.status "ended"}}{{ .context.Params.end }} ({{ i18n "ended" -}})
                {{ else }}...{{ end }}{{ end }}
            </b></span>
            {{ else }}
                <span class="menuBoxCount"></span>
            {{ end }}
            <h2 class='boxTitle py-6 px-1'>{{- .context.Title |safeHTML }}</h2>
            <div class="boxMeta px-1">
                {{ if eq .context.Section "publications" }}
                {{ if .context.Params.shortConf }}{{ .context.Params.shortConf }}{{ end }}
                {{ if .context.Params.shortBook }}{{ .context.Params.shortBook }}{{ end }}
                {{ if .context.Params.shortJournal }}{{ .context.Params.shortJournal }}{{ end }}
                {{ if .context.Params.shortSection }}In {{ .context.Params.shortSection }}{{ end }}
                {{ if .context.Params.shortMemoire }}{{ .context.Params.shortMemoire }}{{ end }}
                {{ else if eq .context.Section "events" }}
                {{ if .context.Params.intervenants }}{{ $len := len .context.Params.intervenants }}
                {{ $count := 0 }}
                {{ range .context.Params.intervenants }}
                <span class="inline-block font-bold">{{ .name -}}</span>
                {{ $count = add $count 1 }}
                {{- if ne $count $len -}}, {{ end }}
                <br>{{ .affiliation }}
                {{ end }}<br>{{ end }}
                {{ else if eq .context.Section "presentations" }}
                {{ i18n "for" }}{{ if .context.Params.collaboration }}
                {{ $len := len .context.Params.collaboration }}
                {{ $count := 0 }}
                {{ $intitut := .context.Params.institution.name }}
                {{ range .context.Params.collaboration }}
                {{ if ne .name $intitut }}{{ .name -}}
                {{ $count = add $count 1 }}
                {{- if eq $count $len -}}, {{ end }}{{ end }}
                {{ end }}{{ else }} {{ .context.Params.institution.name }}{{ end }}
                {{ else if eq .context.Section "teaching" }}
                {{ .context.Params.institution.name }}
                {{ else if eq .context.Section "courses" }}
                {{ if .context.Params.collaboration }}{{ $len := len .context.Params.collaboration }}
                {{ $count := 0 }}
                {{ range .context.Params.collaboration }}
                {{ .name -}}
                {{ $count = add $count 1 }}
                {{- if ne $count $len -}}, {{ end }}
                {{ end }}{{ else }} {{ .context.Params.institution.name }}{{ end }}
                {{ else if eq .context.Section "projects" }}{{ if .context.Params.institution.name }}{{
                .context.Params.institution.name }}{{ end }}{{ end }}
            </div>
        </div>
        <div class="flex flex-row justify-between items-end">
            <div class="w-1/2 h-full pr-1">
                {{ if .context.Params.frontphoto }}<div class="boxIsoImg duotone" style="background-image: url('https://drive.google.com/thumbnail?id={{- .context.Params.frontphoto | safeHTML -}}&sz=w500');"></div>
                {{ else }}<div class="boxIsoImg"></div>{{ end }}
            </div>
                <div class="menuBoxDesc"><div>
                    {{ if .context.Description }}{{ .context.Description }}
                    {{ else if .context.Params.Reference }}{{ .context.Params.Reference | safeHTML }}
                    {{ else if .context.Params.Abstract }}{{ .context.Params.Abstract | safeHTML }}{{if .Params.projectby
                    }}, {{ i18n "by" }} {{ .Params.projectby }}{{ end }}{{ end }}
                </div></div>
        </div>
    </a>
</div>
{{ end }}
