{{ if .Params.redirect }}<meta http-equiv="Refresh" content="0; url='{{ .Params.redirect }}'" />{{ end }}
<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
{{- partial "head.html" . -}}

<body id="{{ .Params.bodyclass }}">
  <main data-pagefind-body>
    {{ partial "title.html" . }}
    {{ if not .IsHome }}<div class="max-w-4xl mx-auto mb-20">
      {{ partial "medium.html" . }}
    </div>{{ end }}
    {{ if not .IsHome }}<div class="max-w-4xl mx-auto mb-20">{{ end }}
      {{- block "main" . }}{{- end }}
    {{ if not .IsHome }}</div>{{ end }}
  </main>
    <div class="bordTop"></div>
    <div class="bordBottom"></div>
    <div class="bordLeft"></div>
    <div class="bordRight"></div>
</body>
</html>