{{ define "main" }}
{{ $langu := .Site.Language.Lang }}
{{ if .Content}}
<div id="content" class="pack-item w-full"><div class="dynCadre">{{ .Content }}</div></div>
{{ end }}
{{ if .Params.Parcours }}
    {{ $teach := where .Site.Pages "Section" "in" (slice "courses") }}
    {{ $count := 0 }}
    {{ range .Params.Parcours }}
    {{ $parc := .code }}
    {{ range $teach }}
    {{ if eq .Params.code $parc }}
    {{ $count = add $count 1 }}
    {{- partial "box.html" ( dict "context" . "cou" $count  "dynC" true ) -}}
    {{ end }}{{ end }}
    {{ end }}
{{ end }}
{{ end }}