{{ if ne (dateFormat "2006" .context.Date) "0001" }}
<div class='{{ .context.Section  }} it{{- int .cou }} pack-item{{- if eq .context.Params.Subsection "ended" }} ended{{ end -}}'
    aria-label="{{- .context.Title |safeHTML -}}" data-cat-sort="{{if .sort }}{{ .sort }}{{ else }}1{{ end }}"
    data-date="{{ .context.Date }}" {{if eq .context.Params.front 1 }} data-front="1" {{ else }} data-front="0" {{ end
    }} data-section="{{ .context.Section  }}">{{if .dynC }}<div class="dynCadre">{{ end }}
    <div class="invisible abolute inline-block h-0 w-0 overflow-hidden">{{ .context.Section }} {{ htmlUnescape (plainify 
        .context.Content) }} {{ .context.Params.Date }}</div>
    <a class="boxIso{{ if .context.Section}} {{ .context.Section }}{{ end }}" href="{{ .context.Permalink }}">
        <span class="boxInfo">
            {{ if eq .context.Params.layout "member" }}
            {{ $parts := .context.Params.shortdescription }}{{ $splitParts := split $parts "," }}{{ range $index, $part := $splitParts }}<div>{{ $part }}</div>{{ end }}
            {{ else }}
            <div class="font-bold">{{ $str := replaceRE "(s)$" "" (i18n .context.Section) }}{{ $str }}</div>
            <div>{{ if eq .context.Section "publications" }}{{ dateFormat "2006" .context.Date }}
                {{ else if eq .context.Section "projects" }}{{ dateFormat "Jan 2006" .context.Date }}
                {{ else if or (eq .context.Section "courses") (eq .context.Section "research") }}&nbsp;
                {{ else if eq .context.Params.slug "chaire" }}Cnam
                {{ else }}{{ dateFormat "02 Jan 2006" .context.Date }}{{ end }}</div>
            {{ end }}
        </span>
        <span class='boxTitle{{ if .context.Params.fronttop }} frontTop{{end}}'>{{- .context.Title |safeHTML }}
            {{if eq .context.Params.subsection "ended"}} ({{- i18n "ended" -}}){{ end }}</span>
    </a>
{{if .dynC }}</div>{{ end }}</div>
{{ end }}