
<div class="rounded-md p-4 my-4 bg-secondary-bg">
    @{{ .Params.publitype}}{PLevy_{{- .File.TranslationBaseName -}},
        title = "{{ .Title }}"
        , year = {{ .Params.citation.year -}}
        , url = {{ .Page.Permalink }}
        , abstract = "{{ .Params.abstract | plainify }}"
        {{ if .Params.citation.authors }}
        {{ $auth := .Params.citation.authors }}
        {{ $ord := 1 }}
        , author = { {{- range $auth }}
            {{- if ne $ord 1 }} and {{ end }}
            {{ index . 0 -}}, {{ index . 1 }}
            {{ $ord = add $ord 1 }}
        {{ end -}} }
        {{ end }}
        {{ if .Params.citation.editors }}
        {{ $edito := .Params.citation.editors }}
        {{ $ord := 1 }}
        , editor = { {{- range $edito }}
            {{- if ne $ord 1 }} and {{ end }}
            {{ index . 0 -}}, {{ index . 1 }}
            {{ $ord = add $ord 1 }}
        {{ end -}} }
        {{ end }}
        {{- if .Params.citation.booktitle }}, booktitle = {{ .Params.citation.booktitle }}{{- end -}}
        {{- if .Params.citation.chapter }}, chapter = {{ .Params.citation.chapter }}{{- end -}}
        {{- if .Params.citation.doi }}, doi = {{ .Params.citation.doi }}{{- end -}}
        {{- if .Params.citation.edition }}, edition = {{ .Params.citation.edition }}{{- end -}}
        {{- if .Params.citation.institution }}, institution = {{ .Params.citation.institution }}{{- end -}}
        {{- if .Params.citation.isbn }}, isbn = {{ .Params.citation.isbn }}{{- end -}}
        {{- if .Params.citation.issn }}, issn = {{ .Params.citation.issn }}{{- end -}}
        {{- if .Params.citation.journal }}, journal = { {{- .Params.citation.journal -}} }{{ end }}
        {{- if .Params.citation.number }}, number = { {{- .Params.citation.number -}} }{{ end }}
        {{- if .Params.citation.organization }}, organization = {{ .Params.citation.organization }}{{- end -}}
        {{- if .Params.citation.pages }}, pages = {{ if eq .Params.citation.pages "online" }}online{{ else }}{{ .Params.citation.pages }}{{ end }}{{- end -}}
        {{- if .Params.link.paper }}, paper = { {{- .Params.link.paper -}} }{{- end -}}
        {{- if .Params.citation.publisher }}, publisher = { {{ index .Params.citation.publisher 0 -}} }, address = { {{ index .Params.citation.publisher 1 }} }{{- end -}}
        {{- if .Params.citation.school }}, school = { {{ index .Params.citation.school 0 -}} }, address = { {{ index .Params.citation.school 1 -}} }{{- end -}}
        {{- if .Params.citation.series }}, series = { {{- .Params.citation.series -}} }{{- end -}}
        {{- if .Params.citation.type }}, series = { {{- .Params.citation.type -}} }{{- end -}}
        {{- if .Params.citation.volume }}, volume = { {{- .Params.citation.volume -}} }{{ end }}
    }
    </div>