{{ $tar := .Scratch.Get "part" }}
{{ $targ := add "side/" $tar ".html"}}
{{ if eq $tar "title" }}
<div class="sideBlock">
    <div class="sideBlockIn"><div>{{ partial $targ . }}</div></div>
</div>
{{ else if in (slice "intervenants" "completename") $tar }}
<div class="sideBlock">{{ .Scratch.Set "par" $tar }}{{ partial $targ . }}</div>
{{ else }}
<div class="sideBlock">
    <div class="sideBlockIn"><div><h3>{{ i18n  $tar | humanize }}</h3></div></div>
    <div class="sideBlockIn"><div>{{ partial $targ . }}</div></div>
</div>
{{ end }}
