{{ $tar := .Scratch.Get "part" }}
{{ $targ := add "side/" $tar ".html"}}
{{ if eq $tar "title" }}
<div class="sideBlock">
    <div class="sideBlockIn"><div>{{ partial $targ . }}</div></div>
</div>
{{ else if in "intervenants completename front_more front_description" $tar }}
<div class="sideBlock">{{ .Scratch.Set "par" $tar }}{{ partial $targ . }}</div>
{{ else }}
<div class="sideBlock">
    <div class="sideBlockIn"><div>{{ partial "subTitle.html" (dict "txt" (i18n   $tar)) }}</div></div>
    <div class="sideBlockIn"><div>{{ partial $targ . }}</div></div>
</div>
{{ end }}
