
{{ $code := .Params.code }}
<div class="pageBlock" data-cat-sort="1">
    {{ partial "subTitle.html" (dict "txt" (i18n "sessions")) }}
    <div class="linkBlock">
        {{ range sort .Params.sessions "date" "desc" }}
        {{ $targ := (print .link ".md") }}
        {{ $page := $.Site.GetPage "page" $targ }}
        {{ $interv := "" }}
        {{ with $page }}
        {{ if .Params.intervenants }}{{ $len := len .Params.intervenants }}
        {{ $count := 0 }}
        {{ range .Params.intervenants }}
        {{ $comma := ""}}
        {{ $count = add $count 1 }}
        {{- if ne $count $len -}}{{ $comma := ", "}}{{ end }}
        {{ $interv = (print $interv $comma .name) -}}
        {{ end }}
        {{ end }}
        {{ $datitl := print (dateFormat "02 January 2006" .Date) " · " $interv }}
        {{ partial "boxLink.html" (dict "lin" .Permalink "photo" .Params.frontphoto "titl" $datitl "subtitl"
        (replace .Title " | " "&middot;" |safeHTML)) }}
        {{ end }}
        {{ end }}
    </div>
</div>
